body {

	background-color: #E5EFF6 !important;
	font-family: 'Ek Mukta', sans-serif;	
}
#divOverlay::after {
  /* overlay layer */
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s 0.3s;
  -moz-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
  z-index: 2;
  visibility: hidden;
  
}

#divOverlay.active::after {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s 0s;
  -moz-transition: all 0.3s 0s;
  transition: all 0.3s 0s;
  z-index: 20;
  visibility: visible;
}
.expandcontent {
	display: none;
}
#clonedframe .dashboardCardContentMain {

	width: 100%;
	background-color: #FFF;
}

#rdMainBody {
	min-height: 99%;
}


#divTitle {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
}
#divHeroSlider{
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	width: 50%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	background-color: #E5EFF6;
}
#divHeroSliderWrapper {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}
#divTitleAHT {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	width: 40%;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
}
#divHeroSliderAHT{
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	width: 60%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

/* Dashboard Card */

.dashboardcard {
	width: 100%;
	height: 225px;
	/*padding: 10px 80px 10px 0px;*/
	padding: 10px 20px 10px 20px;
	background-color: #E5EFF6;
	overflow: hidden;
}

.dashboardcardWithScheduler {
	width: 100%;
	height: 250px;
	/* padding: 10px 80px 10px 0px;*/
	padding: 10px 20px 10px 20px;
	background-color: #E5EFF6;
	overflow: hidden;
}

.dashboardcardcontent {
	text-align: left;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px 35px 10px 10px;
	background-color: White;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
}

.dashboardcardcontent:hover {
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.dashboardcardcontentaction {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 35px;
	height: 100%;
	background-color: rgba(0, 116, 188, 1);
	border-radius: 0px 10px 10px 0px;
}

.goDashboard {
	background-color: rgba(0, 116, 188, 1);
}
.goAnalysisGrid {
	background-color: rgba(0, 161, 175, 1);
}
.goReport {
	background-color: rgba(119, 136, 153, 1);
}
.goDiscovery {
	background-color: rgba(136, 187, 238, 1);
}
.Favorites {
	background-color: rgba(200, 200, 200, 1);
}

/* END Dashboard Card */
.text-search-group {
	height: 40px;
	padding-bottom: 10px;
}

.text-search-group input {
	padding-left: 30px !important;
}
.text-search {
	position: absolute;
    left: 30px;
    top: 17px;
}


#divPageWrapper {
	position: absolute;
	background-color: #E5EFF6;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

}
#divTitlePanel {
	position: fixed;
	max-height: 100%;
	left: 50px;
	top: 0px;
	bottom: 0px;
	right: calc(50% + 20px);
	background-color: White;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
	padding: 20px 40px 20px 40px
}

#divCardPanel {
	position: absolute;
	max-height: 100%;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	padding: 0px 10px 0px 10px;
}

#divCreateDashboard {
	height: 50px;
	float: right;
}

#imgBecauseTheFutureWaits {
	max-height: 45%;
	max-width: 95%;
	line-height: 1.2;
}

#divTitleBigHeadline {
	width: 75%;
}

.TitleBigHeadline {
	font-family: 'Ek Mukta', sans-serif !important;
	font-size: 95px;
	background: -webkit-linear-gradient(left, #00A1AF, #0074BC);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	line-height: 1.1;
}

#divTitleParagraph {

}

.ThemeAlignMiddle {
	vertical-align: middle;
}

.CreateDashboard {
	font-family: 'Ek Mukta', sans-serif !important;
	font-size: 14px;
	color: #0074BC;
}

.TitleParagraph {
	font-family: 'Ek Mukta', sans-serif !important;
	font-size: 24px;
	color: #919ba4;	
}

.NameOfDashboard {
	color: #0074BC;
	font-size: 21px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
	font-weight: bold;
}

.DashboardTitle {
	font-size: 10px;
	color: #00A1AF;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}

.ReportTitle {
	font-size: 16px;
	color: #00A1AF;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}
.ReportTitleSelected {
	font-size: 16px;
	color: #778692;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}


.LastSaved {
	font-size: 11px;
	color: #aeb8c2;
	font-family: 'Montserrat', sans-serif;
}

.CPSIFamilyTitle {
	font-size: 16px;
	color: #919ba4;
	font-family: 'Montserrat', sans-serif;
}
#divLastSaved {
	position: absolute;
	bottom: 15px;
}
#divTitlePanel .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.CompaniesLogo {
	height: 50px;
	width: 100%;
}



	#rowsAction,
	#rowsAction > tbody	
	{
		display: block;
		border-collapse: collapse;
		border: none;
		position: relative;
	    width: 100%;
		min-width: 100%;	
	}
	#rowsAction > tbody > tr, 
	#rowsAction > tbody > tr > td
	{
		display: block;
		border-collapse: collapse !important;
		border: none;
		position: relative;
	    width: 100%;
		min-width: 100%;	
		max-width: 100%;
		padding: 1px 0px 10px 0px;
	}
.DashboardAction {
	text-align: center;
	width: 100%;
	height: 20%;
	padding: 13px 0px 10px 0px
	
}
.DashboardActionWithScheduler {
	text-align: center;
	width: 100%;
	height: 16.6%;
	padding: 13px 0px 10px 0px
	
}
.DashboardActionImg1 {
	width: 50%;
	height: auto;
	fill: white;
}
.DashboardActionImg {
	width: 45%;
	height: auto;
	fill: white;
}

.DashboardActionImg2 {
	width: 45%;
	height: auto;
	fill: white;
}
.DashboardActionImg1:hover {
	width: 50%;
	height: auto;
	fill: #171a1c;
}
.DashboardActionImg:hover {
	width: 45%;
	height: auto;
	fill: #171a1c;
}

.DashboardActionImg2:hover {
	width: 45%;
	height: auto;
	fill: #EE3B23;
}

.DashboardActionImg3 {
	width: 50%;
	height: auto;
	fill: white;
}

.DashboardActionImg3:hover {
	width: 50%;
	height: auto;
	fill: #171a1c;
}
.DashboardActionImgHighlight {
	width: 45%;
	height: auto;
	fill: #C0CD2F;
}

/*
.color-tooltip + .tooltip > .tooltip-inner {background-color: #00A1AF; font-size: 10px;}
.color-tooltip + .tooltip > .tooltip-arrow { border-right-color: #00A1AF !important; }

.red-tooltip + .tooltip > .tooltip-inner {background-color: #EE3B23; font-size: 10px;}
.red-tooltip + .tooltip > .tooltip-arrow { border-right-color: #EE3B23 !important; }
*/


input, input.rdThemeInput, textarea, textarea.rdThemeInput, select.rdThemeInput, select.rdDataCalendarDropdown {
    font-size: 100%;
    font-family: Ek Mukta /*MainFont*/, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    background-color: #F7FAFC /*InputBoxBackground*/;
    color: #00A1AF /*InputBoxFontColor*/;
    border: 1px solid;
    border-color: #B7B7B7 /*InputBoxBorderColor*/;
    padding: 3px 15px 3px 15px;
    margin: 3px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 6px rgba(0,0,0,0.1);
}

input.rdThemeInput, textarea, textarea.rdThemeInput, select.rdThemeInput, select.rdDataCalendarDropdown {
	width: 200px;
	height: 30px;
}

.CompanySelector input.rdThemeInput, .CompanySelector select.rdThemeInput {
	width: 300px;
	height: 30px;
}

.rdDashboardTitle {
	background-color: #F7FAFC !important;
	padding: 0px;
	color: #0074BC !important;
	font-size: 18px !important;
	font-family: 'Montserrat', sans-serif;
	vertical-align: middle !important;
}

.rdDashboardTitle {
    padding: 5px;
    vertical-align: middle;
}

.rdDashboardControl {
    padding: 5px !important;
    padding-bottom: 10px !important;
    vertical-align: middle !important;	
}



#rdDashboardCaptionBarID {
	padding: 5px
	}

.rdDashboardColumn .rdDashboardTitleCaption, #rdDivDashboardPanelTable .rdDashboardTitleCaption {
	color: #0074BC !important;
	font-size: 18px !important;
	padding: 5px;
	font-family: 'Montserrat', sans-serif;	
}

.AsOf {
	font-size: 10px;
	color: #798189;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.rdDashboardTab {
	/*color: #009EA1 !important;*/
	padding: 10px 20px 10px 20px;
	/*font-size: 15px;*/
	/*font-weight: bold;*/
	/*font-family: 'Ek Mukta', sans-serif !important;*/
}

.DataPointTitleText {
	font-size: 10px;
	color: #798189;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.DataText {
	font-size: 21px;
	color: #00A1AF;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;	
}

.DataTextLarge {
	font-size: 36px;
	color: #00BD52;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;	
}

.DataTextIndent {
	padding-left: 20px;
}

.TextUnderline {
	text-decoration: underline;
}

.rdDashboardPanel {
    border-color: White;
    border-width: 0px;
    border-style: solid;
	border-radius: 10px;
	padding: 0px;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
}
.panelBody {
	/*position: relative;*/ /***************REMOVED BY LOGI SUPPORT******************************/
    border-color: White;
    border-width: 0px;
    border-style: solid;
	padding: 10px;	
	}
	
.rdDashboardContent {
    border-color: White;
    border-width: 0px;
    border-style: solid;	
	padding: 10px;		
	}

.yui-navset .yui-nav li {
    background-color: #00A1AF /*InactiveTabBackground*/;
    padding: 6px 18px;
    border-radius: 5px 5px 0px 0px;
}

.yui-navset .yui-nav li.selected, .yui-navset .yui-nav li.selected:hover {
    background-color: #F1F1F1 /*ActiveTabBackground*/;
    border-radius: 5px 5px 0px 0px;
    border-color: #999999 /*TabContainerSelectedBackground*/;
}

td > div > div .yui-content{ 
overflow: hidden !important; 
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px; 
} 


.btn-success {
    color: #fff;
    background-color: #00A1AF;
    border-color: #007580;
}
.btn-success:hover {
    color: #fff;
    background-color: #007580;
    border-color: #007580;
}
#divIptDateRangePicker {
	position: relative;
}

.inputicon {
	position: absolute;
	left: 318px;
	top: 13px;
	color: #00A1AF;
}
#divHeader {
	position: relative;
	width: 100%;
	height: 70px;
	text-align: right;
}

#divHeaderForm  {
	position: absolute;
	text-align: right;
	width: 400px;
	right: 0px;
}

.ThemeAlignRightCol {
	text-align: right !important;
}
.ThemeAlignMiddle {
	vertical-align: middle !important;
}
.ReturnHomeGlyph {
    font-size: 16px;
    color: #00A1AF;
    font-weight: bold;
	padding-left: 20px;
}

.ReturnHomeGlyphSelected {
    font-size: 16px;
    color: #778692;
    font-weight: bold;
	padding-left: 20px;
}


.rdPopupPanelTitle {
    padding-bottom: 6px;
    padding: 2px;
}



#divEditBookmark {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: Red;
	z-index: 100;
}

.mainFilter {
    border: 2px #0074BC Solid !important;
}
.panelFilter {
    border: 2px #C0CD2F Solid !important;
}

table.rdAgDataTable th#ctLabelPayer-TH,table.rdAgDataTable th#ctLabelAging-TH, th#coldescription-TH.rdThemeDataTableHeader,table.rdAgDataTable th#coldescription-TH.rdThemeDataTableHeader,table.rdAgDataTable th#DataColumn1 {
	text-align: left;
	}
	
table.rdAgDataTable th#ctValueAmount1-TH, table.rdAgDataTable th#ctValueAmount2-TH
{
	text-align: center;
}

table.rdAgDataTable th a, table.rdAgDataTable th > table td{
      color: White !important;
}

.small-input {
    width: 55px !important;
}

.medium-input {
    width: 100px !important;
}

.panel-text-Black {
color:black;
}

.panel-text-Teal {
color: #009EA1 !important;
}

.panel-text-Blue {
color: #4CC56B !important;}

.HeaderColor 
{
color: #009EA1 !important ;
} 
.panel-text-Red {
color:red;
}
.globalIcon {
	width: 1px;
    height: 40px;
    margin: 0 0 6px 0;
    padding: 3px;
    text-align: left;
    display: inline-block;

}

.ssIcon {
	width: 40px;
    height: 40px;
    margin: 0 0 6px 0;
    padding: 3px;
    text-align: left;
    display: inline-block;
    border-radius: 10em;
    text-decoration: none;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
    color: #ffffff;
}

.ssIcon:hover {
	opacity: .7;
}

/* Go Analysis Style Overrides */

#GoIconPage {
	padding: 0px 10px;
}

#imgTitleMenu {
    vertical-align: top;
}

.go-content {
	padding: 10px;
}

.EODInputCheckbox button {
    font-size: 100%;
    font-family: Ek Mukta /*MainFont*/, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    background-color: #F7FAFC /*InputBoxBackground*/;
    color: #00A1AF /*InputBoxFontColor*/;
    border: 1px solid;
    border-color: #B7B7B7 /*InputBoxBorderColor*/;
    padding: 3px 15px 3px 15px;
    margin: 3px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 6px rgba(0,0,0,0.1);
}

.rdquicktip-content{ 
background-color: rgba(24, 38, 57, .75) !important; 
} 

.highcharts-tooltip .rdquicktip-table{ 
background: none !important; 
} 

#rdSettingsCog {
    z-index: 1040;
}

