.hover-over-account
{
cursor: pointer;
font-weight:bold;
text-decoration:underline;
color: #335196;
}

.header
{
height:10px;
}

.footer
{
height:10px;
}

.footer10px
{
height:10px;
}

.font5px
{
font-size:5px;
}

.font6px
{
font-size:6px;
}

.font7px
{
font-size:7px;
}

.font8px
{
font-size:8px;
}

.font9px
{
font-size:9px;
}

.font10px
{
font-size:10px;
}

.font11px
{
font-size:11px;
}

.font12px
{
font-size:12px;
}

.font13px
{
font-size:13px;
}

.font14px
{
font-size:14px;
}

.font15px
{
font-size:15px;
}

.font16px
{
font-size:16px;
}

.font17px
{
font-size:17px;
}

.font18px
{
font-size:18px;
}

.font19px
{
font-size:19px;
}

.font20px
{
font-size:20px;
}

.font21px
{
font-size:21px;
}

.font22px
{
font-size:22px;
}

.font23px
{
font-size:23px;
}

.font24px
{
font-size:24px;
}

.blue
{
color: #335196;
}

.black
{
color: #000000;
background-color: White;
}

.black2
{
color: #000000;
}

.black_bluebk
{
color: #000000;
background-color: LightSteelBlue;
}

.borderTop {
	border-top: 1px solid black;
}

.font_bold
{
    font-weight:bold;
}

.bkgreen_r
{
    background-color: green;
	border-right: 1px solid black;
    color: #000000;
	text-align: center;
    font-weight: bold;
}

.text_bold_align_left
{
    background-color: LightSteelBlue;
	text-align: left;
    font-weight: bold;
}

.text_italic_align_left
{
    background-color: LightSteelBlue;
	text-align: left;
    font-style: italic;
}

.text_bold_align_right
{
    background-color: LightSteelBlue;
	text-align: right;
    font-weight: bold;
}

.text_italic_align_right
{
    background-color: LightSteelBlue;
	text-align: right;
    font-style: italic;
}

.text_bold_align_left_border_left
{
    background-color: LightSteelBlue;
	border-left: 1px solid black;
	text-align: left;
    font-weight: bold;
}

.text_italic_align_left_border_left
{
    background-color: LightSteelBlue;
	border-left: 1px solid black;
	text-align: left;
    font-style: italic;
}

.text_bold_align_right_border_left
{
    background-color: LightSteelBlue;
	border-left: 1px solid black;
	text-align: right;
    font-weight: bold;
}

.text_italic_align_right_border_left
{
    background-color: LightSteelBlue;
	border-left: 1px solid black;
	text-align: right;
    font-style: italic;
}

.bkred_r
{
    background-color: red;
	border-right: 1px solid black;
    color: #000000;
	text-align: center;
    font-weight:bold;
}

.bkyellow_r
{
    background-color: yellow;
	border-right: 1px solid black;
    color: #000000;
	text-align: center;
    font-weight:bold;
}

.bkgreen2
{
    background-color: MediumSeaGreen;
    color: #000000;
	text-align: center;
    font-weight:bold;
}

.bkred2
{
    background-color: FireBrick;
    color: #000000;
	text-align: center;
    font-weight:bold;
}

.bkyellow2
{
    background-color: DarkOrange;
    color: #000000;
	text-align: center;
    font-weight:bold;
}

.bkblue2
{
    background-color: LightSteelBlue;
    color: #000000;
	text-align: center;
    font-weight:bold;
}

.align-right-whitebk
{
    text-align: right;
    background-color: white;
}

.align-center-whitebk
{
    text-align: center;
    background-color: white;
}

.align-right-bluebk
{
    text-align: right;
    background-color: LightSteelBlue;
}

.align-left-bluebk
{
    text-align: left;
    background-color: LightSteelBlue;
	overflow: hidden;
    white-space: nowrap;
}

.align-center-bluebk
{
    text-align: center;
    background-color: LightSteelBlue !important;
}

.border_tbr_C {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue;
	text-align: center;
    font-weight:bold;
}
.border_lr_R {
	border-left: 1px solid black;
	border-right: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue;
	text-align: right;
}

.noborder_C {
    color: #000000;
    background-color: LightSteelBlue;
	text-align: center;
}

.border_tbr_R {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue;
	text-align: right;
    font-weight:bold;
}

.border_tb_C {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue;
	text-align: center;
    font-weight:bold;
}

.border_Cnb {
    color: #000000;
    background-color: LightSteelBlue;
	text-align: center;
    font-weight:bold;
}

.border_r_Cnb {
    color: #000000;
    background-color: LightSteelBlue;
	border-right: 1px solid black;
	text-align: center;
    font-weight:bold;
}

.border_r_Lnb {
    color: #000000;
    background-color: LightSteelBlue;
	border-right: 1px solid black;
	text-align: left;
}

.light_bluebk {
    background-color: LightSteelBlue;
}

.border_tb_R {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue;
	text-align: right;
    font-weight:bold;
}

.border_tbl_R {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue;
	text-align: right;
    font-weight: bold;
}

.border_l_R_nb {
	border-left: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue !important;
	text-align: right;
}


.border_lr_R_nb {
	border-left: 1px solid black;
	border-right: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue !important;
	text-align: right;
}
.border_l_L_nb {
	border-left: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue !important;
	text-align: left;
}

.border_l_C_nb {
	border-left: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue !important;
	text-align: center;
}

.borderBottom {
	border-Bottom: 1px solid black;
}

.borderBottomAlignRight {
	text-align: right !important;
	border-Bottom: 1px solid black;
}

.borderBottomAlignLeft {
	text-align: left !important;
	border-Bottom: 1px solid black;
}

.borderBottomAlignCenter {
	text-align: center !important;
	border-Bottom: 1px solid black;
}

.borderLeft {
	border-left: 1px solid black;
}

.borderRight {
	border-right: 1px solid black;
}

.borderRight2 {
	border-right: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue;
	text-align: right;
}

.borderCenter {
	border-right: 1px solid black;
    color: #000000;
    background-color: LightSteelBlue;
	text-align: center;
}

.borderTopNone {
	border-top: none;
}

.borderBottomNone {
	border-Bottom: none;
}

.borderLeftNone {
	border-left: none;
}

.borderRightNone {
	border-right: none;
}

.colsize15pct
{
width: 15%;
}

.colsize5pct
{
width: 200px;
}

.colsize20pct
{
width: 5%;
}

.colsize130px
{
width: 130px;
}

.rightalign
{
float: right;
}

.rightalignLSB
{
float: right;
background-color: LightSteelBlue;
}

.rightaligntextLSB
{
text-align: right;
background-color: LightSteelBlue;
}

.leftalign
{
float: left;
}

.leftalignLSB
{
float: left;
background-color: LightSteelBlue;
}

.leftaligntextLSB
{
text-align: left;
background-color: LightSteelBlue;
}

.centeralign
{
float: center;
}

.centeralignLSB
{
float: center;
background-color: LightSteelBlue;
}

.centeraligntextLSB
{
text-align: center;
background-color: LightSteelBlue;
}

.tableHeaderStandard
{
color: #335196;
text-align: center;
}

.webkitLink
{
color: -webkit-link
}

body {
	background-color: White !important;
}

.isTotalLeft {
	font-weight: bolder !important;
	text-align: left;
		padding: 2px;
}

.isTotalRight {
	font-weight: bolder !important;
	text-align: right; 
	padding: 2px;
	border-bottom: 2px solid black !important;
	border-top: 2px solid black !important;	
}
.isTotalRightisNegative {
	font-weight: bolder !important;
	text-align: right; 
	padding: 2px;
	border-bottom: 2px solid black !important;
	border-top: 2px solid black !important;	
	color: #C50000 !important;
}
.isNegative {
	color: #C50000 !important;
	padding: 2px;
	text-align: right;
}

.table1{
	border-collapse: collapse !important;
	border: 0px;
	padding: 2px;
    white-space: nowrap;
}

.table2{
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%; 
	background-color: LightSteelBlue;
}

.tableBordered {
    border: solid 1px black;
	padding: 8px;
}

.table2 td, .table2 th {
/*    border: 1px solid #ddd; */
    padding: 5px;
}

/* .table2 tr:nth-child(even){background-color: #f2f2f2;} */

.table2 tr:hover {background-color: #ddd;}

.table2 th {
    padding: 7px;
    text-align: center;
    background-color: LightSteelBlue;
    color: black;
/*    border-left: 2px solid black;
    border-top: none;
    border-bottom: none;
    border-right: none; */
}

.table1 th {
	border: 0px;
}

#HeaderRow {
	background-color: #454d59 !important;
	vertical-align: middle;
}

.vertical-align-top {
	vertical-align: top;
}

.vertical-align-middle {
	vertical-align: middle;
}

.vertical-align-bottom {
	vertical-align: bottom;
}

.table1 td, tr {
	border: 0px;
	/*background-color: white !important;*/
}


.MIR {
	height: auto !important;
	background-color: white !important;
}


.divSpace {
	height: 10px !important;
	background-color: white !important;
}

.tableSpace {
	border-collapse: collapse !important;
	background-color: White !important;
	border: 0px solid white;
	padding: 2px;
	height: 10px;
	}

.topBorder {
	/*-border-top: 2px solid black;*/
}

.tableSpaceBottom {
	border-collapse: collapse !important;
	background-color: White !important;
	border: 0px solid white;
	padding: 2px;
	height: 10px;
	}

#divVisualizationContainer #divVisualization{
    padding: 0px;
    text-align: center;
    background-color: Transparent !Important;
    border: solid 1px #c3c3c3;
	width: 798px;

}
#divVisualizationContainer {

}

#divVisualization	
 {

    padding: 50px;
    display: none;
}

#divChartButtons {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.bkgreen
{
background-color: #e6ffee;
}
.bkred
{
background-color: #ffe6e6;
}
.bkyellow
{
background-color: #ffff99;
}
