
Body {
	color: #727272;
	font-family: "Noto Sans",sans-serif;
}
/*
	Padmaja 06/15/2017 Created Datatable Styles
	Padmaja 12/14/2017 Edited rdThemeDataTableHeader: Changed line-height form 2 to 1rem
					   Added rdThemeDataTableHeaderRow
	Padmaja 12/14/2017 Created 	InsputComboList Styles: yui3-aclist-item and es-select select
*/
	.rdMainBody
	{
		font-family: "Noto Sans",sans-serif;
    	font-size: 1.3rem;
	}
	
	/*Sri CrossTab Styles to match ERT Style Guide */ 
	.rdAgCrossTabDataTable, th.rdAgDataTable td, table.rdAgDataTable th, table.rdAgDataTable > th a, table.rdOgOlapTable th, tr.rdAgHeaderRow th, table.rdDgPanel th, rdAgQbColor1{
		background-color: #148f80 !important;
    	border: 1px solid #148f80 !important;
    	color: #fff !important;
		padding: 2px;
	}
 
	/* CrossTab cell shading corrected text alignment from Senthil */ 
        .CrossTabCell_HighLight {
                background-color: #EFEFEF !important;
                padding-left: 18px !important;
        }  
	
	table.rdAgDataTable td{
	    text-align: left;
		padding-left: 1rem;
		border-collapse: collapse;
	}
	
	.es-table th {
		background-color :#dedede !important;
		color: #fff !important;
	}
	/*Sri END CrossTab Styles to match ERT Style Guide */
	
	
	/*rdElement: rdThemeDataTableHeader */
	.rdThemeDataTableHeaderRow th, th.rdAgDataTable td {
		padding-left: 1rem;
		background-color: #dedede;
    	border: 1px solid #dedede;
    	color: #1E1E1E;
		/*line-height: 2rem;*/
	}
	.rdThemeDataTableHeader {
		/*color: #727272 /*TableColumnHeaderFontColor;
		background-color: #ffffff /*TableColumnHeaderBackgroundColor*/
		padding-left: 1rem;
		background-color: #dedede;
    	border: 1px solid #dedede;
    	color: #1E1E1E;
		text-align: left;
		line-height: 1rem; 
	}
	
	.rdThemeDataTableHeader a {
		color:  #1E1E1E !important /*TableColumnHeaderFontColor*/;
		text-decoration:none;
	}
		
	 .rdThemeDataTableHeaderRow th {
		padding-left: 1rem;
		background-color: #148f80; --#00B398
   		border: 1px solid #148f80;
   		color: #fff;
		line-height: 1rem;
}
	
	/*links*/
	
	a, a:link{
		color: #0092bc;
	}
	
	a, a:link:hover{
		color: #4ec3e0;
	}
	*/ 
	
	/* checkbox dropdown*/
.rd-checkboxlist {
	display: inline-block;
    height: 2.6rem;
    line-height: 2.6rem;
    padding: 0 0 0 3.1rem;
    position: relative;
}
.rd-checkboxlist ul{
	border: 0 none;
	font-size: 100%;
	line-height: 1.3;
	list-style: none outside none;
	margin: 0;
	outline: 0 none;
	padding: 0;
	text-decoration: none;
	overflow:hidden;
}

.yui3-aclist-item {
	text-align: left !important;
}
.es-select select {
     -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    padding: .5rem 3.3rem .5rem 1rem;
    width: 100%;
	overflow: visible !important;
    border-color: rgb(169, 169, 169);
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: left !important;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
}
/*.rd-checkboxlist-container{display:inline-block;
overflow:auto;
}*/





.rd-checkboxlist ul li  span{ 
	display: inline-block;
    /*height: 2.6rem;
    line-height: 2.6rem;
    padding: 0 0 0 3.1rem;*/
    position: relative;
 }
.rd-checkboxlist ul li label { 
    display: inline-block;
   /* height: 2.6rem;
    line-height: 2.6rem;
    padding: 0 0 0 3.1rem;*/
    position: relative;
 }
.rd-checkboxlist-dropdown{     
	padding: .5rem .9rem .5rem .5rem;
	/*width: 100%;*/
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #747678;
	color: #494a4b;
 }

 .rd-checkboxlist ul li {
 }

.rd-checkboxlist-dropdown:hover{
	border-color: #31aacc;
}


.rd-checkboxlist-caption { }


.rd-checkboxlist-popup {display:block;
	overflow-y:auto;
	padding-right: 20px;
	overflow-x:hidden;
	z-index:10000;
	position:relative;
	padding:3px;
	border: 1px solid #000000;
	background-color:#FFF;
 } 
 
 
 input.rdThemeInput{
	padding: .5rem 1rem;
	background: #fff;
	border: 1px solid #747678;
	color: #494a4b;
	display: inline-block;
	margin: 2;
	-webkit-transition: border-color .25s;
	transition: border-color .25s;
	outline: 0;
	font-size:13.333px;	
	font-family: "Noto Sans",sans-serif;
}

span.inpChkLstProtocol_rdDropdown
{
	margin-left: -25px !important;
}

input.rdThemeInput:hover{
	border-color: #31aacc;
}
 /*Checkbox list*/
	
	/* All Input Buttons*/
    input[type="button"]	{
		background-color: #0092bc !important;
    	border-color: #0092bc !important;
    	color: #fff;
		cursor: pointer;
		display: inline-block;
		padding: 0.5rem 1rem;
		text-align: center;
	}
	
	input[type="button"]:hover	{
		background-color:#31aacc;
		border-color:#31aacc;
		-webkit-box-shadow:0px 1px 2px 0px rgba(0,146,188,0.7);
		box-shadow:0px 1px 2px 0px rgba(0,146,188,0.7);
	}
	
	.es-button {
    background-color: transparent;
    border-color: #0092bc;
    color: #727272;
	font-weight: bold;
	}
	
	/*paging styles
	table.rdThemePaging a{
		border: 1px solid;
    	border-color: #0092bc;
		display: inline-block;
		line-height: 1.2rem;
		padding: .5rem 1rem;
		text-align: center;
		
	}
	
	.rdThemePagingCurrent{
		display: inline-block;
		line-height: 2.2rem;
		padding: .5rem 1rem;
		text-align: center;
		background-color:#fff;
		color:#727272;
	}
	/*paging styles end*/
		
	.es-table tbody tr:nth-child(odd) .rdThemeDataTableCell {
	/*background-color:#e9e9e9  /*TableDataBackgroundColor*/
		background-color: #f9f9f9;
		color: #494a4b;
		margin: 0;
		text-align: left;
		padding-left: 1rem;
	}
	.rdThemeDataTableCell {
		/*color:  #fff /*TableDataFontColor*/;
	    text-align: left;
		padding-left: 1rem;
	}
	.es-table {
		width:	100%;
		border-collapse: collapse;
	}
	.rdThemeDataTable{
		margin-left: auto;  
		margin-right: auto;
	}
	.printButton {
		position:absolute;
		top: 10px;
		right:10px;
	}
	.es-filter-table{
		margin-left: 25px;
		margin-right: 20px;
		}

/*	
	.rdThemePopupMenu{
		background-color: #0d668f;
		color: #fff;
		padding: 0 1rem;
		padding-left: 1rem;
		text-align: left;
		text-decoration: none;
	}
	
*/
.rdPreviewMenu, .yuimenu ul{

	background: #0d668f !important;
	position: relative;
}
.rdPopupMenu A:visited, .rdPopupMenu A:link{
	background: #0d668f !important;
	position: relative;
}

.rdPopupMenu A:visited, .rdPopupMenu A:link:hover
{
background-color: #31aacc !important;
cursor: pointer;
color:#fff;

}



/* 
styles for Tabs sri*/
.ThemeBold
{
	font-weight: bold;
}


fieldset {
	display: block;
	
	border-width: 1px;
    border-style: groove;
    border-color: #dedede ;
    border-image: initial;
}
.yui-navset .yui-nav li.selected, .yui-navset .yui-nav li.selected
{
	background: #fff;
    justify-content: center;
    color: #0092bc;
	border: 1px solid #dedede;
    border-bottom: none;
}

.yui-navset .yui-nav li.selected:hover, .yui-navset .yui-nav li.selected:hover
{
	background: #fff;
    justify-content: center;
    color: #0092bc;
	border: 1px solid #dedede;
    border-bottom: none;
}

.yui-navset .yui-nav li{	
	background: #dedede;
    border: 1px solid #dedede;
    border-bottom: none;
	color: #0092bc !important;
	font-family: "Noto Sans",sans-serif;
}

.yui-navset .yui-nav li a
{
	font-size: 1rem !important;
	color: #0092bc !important;
	font-family: "Noto Sans",sans-serif;
}

.yui-navset .yui-nav li:hover, .yui-navset .yui-nav li:hover {
 	background: #4ec3e0 !important;
    color: #494a4b !important;
}

.yui-navset .yui-nav li a:hover
{
	color: #494a4b !important;
}

.yui-navset div.yui-content
{
	background-color: #fff !important;
    color: #494a4b;
	border: 1px solid #dedede !important;
    margin: 0;
}



/*.rdChartCanvas {
	border-width: 1px;
    border-style: groove;
}*/
/* Padmaja Report Header Background Settings
		   From existing Expert Implementation
		  

#rdReportHeader span {
  padding: 4px 0px 0px 0px;
  background-color:#005D8C;
  background: url("header-bg.png");
  background-size: 100%;
  /*background-repeat:no-repeat;*/
  /*background-position: right;
  color: #ddd;
  text-align: center;
  font-size: 16px;
  width:100%;
  font-family: 'Noto Sans',sans-serif!important;
}
	 */
	 
	 
	 .ODSThemeAlignRight{ 
		text-align: right !important;
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	 }

	 .ODSThemeAlignCenter{ 
		text-align: center !important;
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	 }
	
	.ODSBorders
	{
		border-bottom: 1px solid white !important;
		border-left: 1px solid white !important;
		border-right: 1px solid white !important;
	}

	td.rdThemeDataTableMoreInfoRow {
	  	background-color: white !important;
	}

	.rdThemeDataTableSummaryRow td {
		background-color: #FFFFFF;
		color: #494a4b !important;
		font-weight:bold;}

.Text_White{
    color:White;
}
.Text_BlackNoSize{
    color:Black;
}
.Text_Gray{
	color: #655D3C;	
}
.Text_HR_Gray{
	color: #655D3C;	
	border-top-width: 0px;
}
.Text_Green{
    color:Green;
	font-weight: bold;
}
.Text_Yellow{
    color:Yellow;
	font-weight: bold;
}
.Text_Red{
    color:red !important;
	font-weight: bold;
	
}
.Text_Blue{
    color:Blue;
	font-weight: bold;
}

.ThemeStrikeThrough{
	text-decoration: line-through;
}
.ThemeUnderline{
	text-decoration: underline;
}
.NoWrap{
	white-space: nowrap;
}

.Highlight_Gray{
    background-color: #C0C0C0 !important;
}

.Highlight_DarkRed{
    color:white;        
	background-color: red !important;
}
.Highlight_Green{
	color:black;
	background-color:#008000 !important;
}
.Highlight_Yellow{
	color:black;
	background-color: Yellow !important;
}
.Highlight_Red{
	color:black;
	background-color:#FF0000 !important;
}

.Highlight_Iceberg{
    background-color: #dbf4f1  !important;
		font-weight: bold;
}
.Highlight_Tusk{
    background-color:  #f0f4c1   !important;
		font-weight: bold;
}
.Highlight_Tuft-Bush{
    background-color:   #fee2cf   !important;
		font-weight: bold;
}

.Report_Header_Font{
    font-size: 13px  !important;
	font-stretch: 100% !important;
	color:#727272;
	font-weight: 400 !important;
	}

.Tooltip{
	color:white !important;
	background-color: Black !important;
    font-family: "Noto Sans",sans-serif !important;
	font-size:100% !important;
	border-style: none !important;
	border-left-color: black !important;
	border-right-color: black !important;
	border-spacing: 0px !important;
	border-collapse: collapse !important;	
}

.Tooltip td {
background-color: black !important;
}

.ThemeTextSmallest_rptversion {
    font-size: 60%;
    font-weight: bold;
}

.AlignSmryRowForNonNumCol{
  text-align: left !important;
  padding: 2px 8px !important;
}

.datatTable_headerFont a{
	font-size: 18px !important;
}
.Text_Black{
	color: #727272;	
}


#inpComboLstCntName_rdDropdown{
	display: none;
}
	
.StudyCntNameFil, .StudyCntNameFil input, .StudyCntNameFil span{
	font-style:italic;color: #999
}
	
.StudyCntNameFil ul{
	max-height:350px; overflow-y: auto;
}
	
.StudyCntNameFil div{
	width: auto !important;
}

.Traffic_Red {
	color:#D92A26 !important;
	background-color:#D92A26 !important;
}

.Traffic_lightRed {
	color:#F9A5A1 !important;
	background-color:#F9A5A1 !important;
}

.Traffic_Yellow {
	color:#F7C53F !important;
	background-color:#F7C53F !important;
}

.Traffic_Green {
	color:#16A81B !important;
	background-color:#16A81B !important;
}

.ertDarkBlue {
	background-color:#003865 !important;
}

.ertLightBlue {
	background-color:#0092bc !important;
}

.ertPictonBlue {
	background-color:#4ec3e0 !important;
}

.ertEden {
	background-color:#006d68 !important;
}

.ertMint {
	background-color:#00b398 !important;
}

.ertPuertoRico {
	background-color:#3fc2af !important;
}

.ertDarkGreen {
	background-color:#007a33 !important;
}

.ertPistachio {
	background-color:#84DB00 !important;
}

.ertLime {
	background-color:#c4d600 !important;
}

.ertdarkRed {
	background-color:#be3a34 !important;
}

.ertOrange {
	background-color:#ff5c39 !important;
}

.ertCarrot {
	background-color:#ff8a3d !important;
}

.ertDarkViolet {
	background-color:#653165 !important;
}

.ertPlum {
	background-color:#93328e !important;
}

.ertAmethyst {
	background-color:#c069c2 !important;
}

.ertBlack {
	background-color:#1e1e1e !important;
}

.ertDarkGrey {
	background-color:#747678 !important;
}

.ertLightGrey {
	background-color:#bcbdbc !important;
}

.Widget_Title {
	color: #666666;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Noto Sans';	
}