#divPage #divSidebar {
	box-sizing: border-box;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 400px;
	background-color: #042238;
	transition: all .5s;
	transition-timing-function: ease-in-out;	
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 100;	
}

#divPage.closed #divSidebar {
	left: -360px;
}


#divPage #divSidebarMain {
	position: absolute;
	box-sizing: border-box;
	top: 0px;
	left: 360px;
	transition: all .5s;
	transition-timing-function: ease-in-out;	
	height: 100%;
}
#divPage.closed #divSidebarMain {
	width: 40px;
	padding: 20px 10px;
	overflow: hidden;
	
}
#divPage.open #divSidebarMain {
	width: 400px;
	left: 0px;
	padding: 20px 30px;
	overflow: visible;
	transition: all .5s;
	transition-timing-function: ease-in-out;		
}
#divPage.open #divSidebarMain.closed {
	left: -800px;
	width: 400px;
}

#divPage #divSidebarMain #divSidebarMainHR {
	position: absolute;
	box-sizing: border-box;
	right: 0px;
	top: 184px;
	height: 1px;
	width: 200%;
	border-bottom: 1px solid #F7F7F7;	
}

/* Changed from John Sweazen's original width of 400px to 360px */

#divPage #divSidebarMain #divSidebarFilters {
	position: absolute;
	width: 400px; 
	background-color: #042238;
	height: 100%;
	top: 0px;
	left: 800px;
	transition: all .5s;
	transition-timing-function: ease-in-out;
	padding: 20px 30px;
	z-index: 101;
}

#divPage #divSidebarMain #divSidebarMainFilters {
	position: absolute;
	right: 0px;
	top: 50px;
	width: 400px;
	transition: all .5s;
	transition-timing-function: ease-in-out;
	transition-delay: .1s;		
}

#divPage.closed #divSidebarMain #divSidebarMainFilters {
	position: absolute;
	right: 400px;
	margin-bottom: 30px;
}

#divSidebarMainFiltersContent {
	position: absolute;
	top: 135px;
	overflow-y: auto;
	width: 100%;
}
.filtersWrapper {
	position: absolute;
	top: 135px;
	height: calc(100vh - 185px);	
	overflow-y: auto;
	width: 100%;
}

.filters {
	position: absolute;
	top: 50px;
	height: calc(100vh - 50px);	
	overflow: hidden;
	width: 100%;
	left: 0px;
}
.rowsTitle {
	height: 134px !important;
	position: absolute;
	top: 0px;
}
.rowsTitle td{
	height: 134px !important;
	padding: 0px 30px 50px 30px!important;
}

.rowsFilters {
	position: relative;
	top: 0px;
	height: calc(100% - 185px);
	line-height: 20px;
	background-color: #042238;
 	table-layout: fixed !important;	
}

.rowsFilters.rowsFiltersExtra {
	position: absolute !important;
	top: 0px !important;
}
.rowsFilters tr > td,
.rowsFilters tr > th {
	background-color: #042238;

}
.rowsFilters tr > td.bg-white > span:first-of-type,
.rowsFilters tr > th.bg-white > span:first-of-type {
	width: 290px;
	display: inline-block;
	position: relative;
	white-space: nowrap; 
	overflow: hidden; 
	-ms-text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis; 	
}

.rowsFilters tr > td.bg-white,
.rowsFilters tr > th.bg-white{
	background-color: #FFFFFF;
	border-bottom: 1px solid #BFBFBF;	
}

#divSidebar table {
	border-collapse: collapse;
}
#divSidebar table td, 
#divSidebar table th {
	height: 64px !important;
	vertical-align: middle;
	padding: 10px 30px;
}
#divSidebar table td.sm,
#divSidebar table th.sm {
	height: 45px !important;
}


#divPage #divContent {
	position: relative;
	height: 100%;
	background-color: #F7F7F7;
	transition: all .5s;
	transition-timing-function: ease-in-out;
	overflow-y: auto;
	padding-bottom: 30px;
	z-index: 1;
}
#divPage.open #divContent {
	left: 400px;
	width: calc(100% - 400px);
}

#divPage.closed #divContent {
	left: 40px;
	width: calc(100% - 40px);	
}

#divPage #divContent #divTitle {
	height: 184px;
	background-color: #2ABAC8;
}

