@media screen and (max-width: 600px) {

	#divPage.open #divSidebarMain {
		width: 100vw;
		max-width: 100vw;
	}
	#divPage #divSidebarMain #divSidebarFilters {
		width: 100vw;
		max-width: 100vw;		
	}
	#divPage #divSidebarMain #divSidebarMainFilters {
		width: 100vw;
		max-width: 100vw;	
	}

	#divPage #divContent {
		position: absolute;
		left: 40px;
	}
	#divPage.open #divContent {
		left: 40px;
		width: calc(100% - 40px);
	}
	
	#divPage.closed #divContent {
		left: 40px;
		width: calc(100% - 40px);	
	}

#divSidebar table td, 
#divSidebar table th {

	padding: 10px 20px;
}