/*
 * Copyright (c) 2000 - 2020 by Benefitfocus.com, Inc., All Rights Reserved
 */

@font-face {
  font-family: "Benton Sans Light";
  src: url("./fonts.BentonSans-Light.otf");
}
@font-face {
  font-family: "Benton Sans Bold";
  src: url("./fonts.BentonSans-Bold.otf");
}
@font-face {
  font-family: "Benton Sans Regular";
  src: url("./fonts.BentonSans-Regular.otf");
}
@font-face {
  font-family: "Benton Sans Book";
  src: url("./fonts.BentonSans-Book.otf");
}
@font-face {
  font-family: "Benton Sans ExtraLight";
  src: url("./fonts.BentonSans-ExtraLight.otf");
}
@font-face {
  font-family: "Benton Sans Medium";
  src: url("./fonts.BentonSans-Medium.otf");
}


.font-Book {
       font-family: "Benton Sans Book" !important;
}
.font-Light {
       font-family: "Benton Sans Light" !important;
}
.font-Bold {
       font-family: "Benton Sans Bold" !important;
}
.font-Regular {
       font-family: "Benton Sans Regular" !important;
}
.font-Medium {
       font-family: "Benton Sans Medium" !important;
}
.font-ExtraLight {
       font-family: "Benton Sans ExtraLight" !important;
}

.text-white {
    color: white;
}

.container-plus-minus {
    height: 30px;
    width: 30px;	
    float: right;
    margin: 10px;
    background-color: #042238;
}

.button-container {
	margin: 20px 20px 20px 56px;
	border-color: red;
	margin-top: -30px;
	width: 224px;
}

.button {
    height: 64px;
    width: 224px;  
    background-color: #3FCF8C;
    border-radius: 4px;
    cursor: pointer;	
}

.button-plusImg {
	height: 24px;
    width: 24px;
    margin: 20px 12px -5px 24px;
}

.button-caption {
    height: 20px;
    width: 130px;
    color: #FFFFFF;
    font-family: "Benton Sans Bold";
    font-size: 17px;
    letter-spacing: 0;
    line-height: 20px;
}	

.header-caption {
   height: 44px;
   width: 1197px;
   color: #FFFFFF;
   font-family: "Benton Sans Light";
   font-size: 38px;
   font-weight: 300;
   letter-spacing: 0;
   line-height: 44px;	
}

.header-bar {
    height: 141px;
    width: 100%;
    background-color: #042238;
    display: flex;
    align-items: center;
}

.header-bar-center-section {
    width: 100%;
    margin: 20px 20px 20px 56px;
}

.header-bar-summary {
    width: 100%;
    background-color: #042238;
}

.header-bar-summary-cards {
    margin: 20px 20px 20px 20px;    
    background-color: #042238;
}

.header-bar-participation-rate {
    position: absolute;
    top: 26px;
    right: 30px;
}

.header-bar-trailblazers {
    position: absolute;
    top: 220px;
    right: 394px;
}

.header-bar-product-persistency {
    position: absolute;
    top: 222px;
    right: 30px;
}

.default-report-main-content {
	margin: 20px 20px 20px 20px;
    height: 200px;
    width: 1200px;
}

.title-container-top-row    {
    display: flex;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.title-exit-to_default-container {
	display: flex;
	align-items: center;
	width: 60px;
}

.title-exit-arrow {
	width: 16px;
	height: 16px;
}

.title-exit-text {
	height: 24px;
	width: 28px;
	color: #FFFFFF;
	font-family: "Benton Sans Light";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
}

.title-menu-icons-container {
    display: flex;
	width: 200px;
    margin-left: auto;
}

.title-indivdual-icon-container {
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

.title-indivdual-icon {
	height: 24px;
	width:  24px;
	padding: 3px;
}

.benchmark-caption {
  height: 44px;
  width: 862px;
  color: #E7F4F5;
  font-family: "Benton Sans Light";
  font-size: 38px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-caption-container {
}

.benchmark-metadata-container {
  	display: flex;
	height: 30px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 35px;
}

.benchmark-metadata-item {
	margin-right: 40px;
}
 
.benchmark-metadata-text {
  color: #FFFFFF;
  font-family: "Benton Sans Light";
  font-size: 12px;
  font-weight: 10;
  letter-spacing: 0;
  line-height: 20px;
}

.nav-benchmark-icon {
	height: 40px;
	width: 40px;
}

.nav-info-icon {
	height: 16px;
	width: 16px;
}

.nav-text {
	color: #FFFFFF;
	font-family: "Benton Sans Light";
	font-size: 16px;
	color: White;
	letter-spacing: 0;
	line-height: 24px;
 }
 
 .nav-clear-all {
 	color: #FFFFFF;
	font-family: "Benton Sans Light";
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.3px;
}

.nav-filter-selector-text {
	color: #6D7278;
	font-family: "Benton Sans Light";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 20px;
}

.nav-button {
    height: 64px;
	width: 100%;
	border-radius: 4px;
 	background-color: #3FCF8C;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.nav-button-icon {
	height: 20px;
	width: 40px;
}

.nav-button-text {
	height: 20px;
	color: #FFFFFF;
	font-family: "Benton Sans Light";
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 20px;
	text-align: center;
}

.nav-filter-selector-chevron-icon {
	height: 12px;
	width: 12px;
	float: right;
}

.nav-filter-selector-option-header-text {
	color: #FFFFFF;
	font-family: "Benton Sans Light";
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.25px;
	line-height: 20px;
}

.nav-title-caption-container {
    display: flex;
    align-items: center;
}

.nav-title-caption-header {
	color: #F7FAFD;
	font-family: "Benton Sans Light";
	font-size: 26px;
	letter-spacing: 0;
	line-height: 32px;
}

.nav-filter-selector-form-input {
	height: 35px;
	border-radius: 0px !important;
	border: 0px solid #FFFFFF !important;
	box-shadow: none !important;
	padding: 3px 30px !important;
	color: #6D7278;
	font-family: "Benton Sans Light";
	font-size: 16px !important;
	font-weight: 500 !important;
	letter-spacing: 0;
}

.dropdown-selection-text {
  height: 20px;
  color: #6D7278;
  font-family: "Benton Sans Light";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
}


.report-content > .container-fluid > .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
}
.report-content > .container-fluid > .row:last-child {
    padding-right: 15px;
}
.report-content > .container-fluid > .row:first-child {
    padding-left: 15px;
}
 
.report-content > .container-fluid > .row > .rdResponsiveColumn {
	margin-top: 30px;
	padding-left: 15px;
	padding-right: 15px;	   
}


.default-report-content > .container-fluid > .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
	background-color : #FFFFFF;
}
.default-report-content > .container-fluid > .row:last-child {
    padding-right: 15px;
	background-color : #FFFFFF;
}
.default-report-content > .container-fluid > .row:first-child {
    padding-left: 15px;
	background-color : #FFFFFF;
}
 
.default-report-content > .container-fluid > .row > .rdResponsiveColumn {
   margin-top: 30px;
   padding-left: 15px;
   padding-right: 15px;
   background-color : #FFFFFF;
}


.bookmark-card-action-link
{
	font-size: 26px !Important;
	font-weight: 20px !Important;
	color: #FFFFFF !Important;
	font-family: "Benton Sans Light";
	letter-spacing: 0;
	line-height: 32px;
	padding: 2px;
	height: 80px;
	max-height: 100px;	
	width: 100%;
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookmark-card-label-text-light
{
	font-weight: 500;
	font-size: 13px;
	letter-spacing:0;
	font-family: "Benton Sans ExtraLight";
}

.bookmark-card-label-text-bold
{
	font-weight: bolder;
	font-size: 13px !Important;
	letter-spacing:0;
	font-family: Benton Sans Light;
}

.dashboard-count-text
 {
    height: 24px;
    width: 140px;
    color: #8C8C8C;
    font-family: "Benton Sans Light";
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.bookmark-card-status-container {
    width: auto;
	padding: 2px;
	height: auto;
}

.bookmark-card-icons-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;		
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	width: auto;
	padding: 2px;
}

.bookmark-save-rdPopuppanel 
{
    background-color: #042238 !Important;
    border-color: #FFFFFF !Important;
    border-radius: 5px;
    padding: 8px;
    -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-color: #888888;
    border-width: thin;
    background-color: white;	
}

.bookmark-save-ThemeLinkButton {
    font-size: 110%;
    padding: 3px 7px 4px;
    margin: 3px 6px;
    border-color: RGBA(255,255,255,0) /*ButtonBorderColor*/ !important;
    border: 1px solid;
	background-color: #3FCF8C !Important;
	border-radius: 4px;	
}

.bookmark-save-ThemeLinkButton span {
    color: #FFFFFF;
	font-family: "Benton Sans Light";
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 20px;
	text-align: center;
}

.bookmark-save-rdPopupPanelTitle {
    padding-bottom: 6px;
}

.bookmark-save-rdPopupPanelTitle,
.bookmark-save-rdPopupPanelTitle td	,
.bookmark-save-rdPopupPanelTitle span {
    color: #FFFFFF /*ModalTitleFontColor*/ !important;
	background-color: #042238 !Important;
    background-image: none;
}

.bookmark-save-rdPopupPanelTitleCaption {
    font-size: 150%;
	font-family: Benton Sans Light;
	font-weight: bold;
	font-color: #FFFFFF !Important;
}

.tab-text {
	font-family: "Benton Sans Book";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;
 }

.tab-card-header-info {
 	color: #000000;
	font-family: "Benton Sans Light";
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.3px;
}

.tab-card-header-info-about-content {
	 vertical-align: bottom;
	 font-weight: 700;
	 float : left;
}

.tab-card-header-info-result-content {
	 vertical-align: bottom;
	 float : right;
}

.tab-card-header {
    background-color: #F7F7F7;
}

 .tab-card-filter-info {
 	color: #000000;
	font-family: "Benton Sans Book";
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.3px;
}

/* Override Chart Canvas Font Style */
.rdChartCanvas * {
  font-family:  "Benton Sans Book";
}

/* Changes the background for the tabs to be transparent so that the body (or the container that the tabs is in) background is displayed.*/
/* Targets the tabs UL container */
.yui-navset .yui-nav {
      background-color: Transparent;
      margin-bottom: 5px;
}
/* Targets the tabs LI items */
.yui-navset .yui-nav li {
    background-color: Transparent !important;
      padding: 6px 14px;
    border-radius: 0px;
      border-color: Transparent !important;
      border-width: 0px 0px 2px 0px;
      color: #042238;   
      margin-left: 0px;
      margin-right: 0px;
      font-family: "Benton Sans Book"
}
/* Targets the SELECTED LI item */
.yui-navset .yui-nav li.selected, .yui-navset .yui-nav li.selected:hover {
    background-color: Transparent !important;
      padding: 6px 14px;
    border-radius: 0px;
      border-color: Transparent !important;
      border-width: 0px 0px 2px 0px;
      color: #042238;
      margin-left: 0px;
      margin-right: 0px;
      font-family: "Benton Sans Medium"   
}
/* Targets the tabs LI a tag */
.yui-navset .yui-nav li a {
      color: #485462;
      padding: 0px 4px;
      font-weight: normal;
      font-family: "Benton Sans Book"
}
/* Targets the SELECTED LI a tag */
.yui-navset .yui-nav .selected a {
    border-bottom-width: 0;
      padding: 0px 4px;
      font-family: "Benton Sans Medium"         
}
/* Creates a transparent block element beneath the LI so that the selected LI has the same amount of negative space */
.yui-navset .yui-nav li::after {
      display: block;
      margin-top: 4px;
      height: 4px;
      width: 100%;
      content: "";
      background-color: Transparent;
      border-radius: 2px;
      }
/* Creates a solid block element beneath the LI so that the selected LI has the same amount of negative space */  
.yui-navset .yui-nav li.selected::after {
      display: block;
      margin-top: 4px;
      height: 4px;
      width: 100%;
      content: "";
      background-color: #485462;
      border-radius: 2px; /* Change to 0px if you want sharp corders on the lines */
}
/* Changes the background for the content to be transparent so that the body (or the container that the tabs is in) background is displayed.*/   
.yui-navset div.yui-content {
    background-color: Transparent !important;

}

/* adds an tick icon to the input selection list */
.checkIcon
{
	content: url('icons.Selection_Selected_Check_Icon_Small.png');
	left: calc(20% - 50px);
    bottom: 25px;		
}

/* changes the horizontal scroll */
.disableHorizontalScroll 
{
	overflow-x: hidden;
}

.sidebarfilterselectedtext
{
	background-color: #FFFFFF !important;
    border-left: 30px solid #042238 !important;
    width: 370px;
	display: inline-block;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	padding-top: 20px !important;
}

.filterdiv:after {
	content: url(icons.Down_Chevron_Black.png);
    transform: scale(.5);
    font-family: "Benton Sans Light";
    font-weight: 900;
    font-size: 18px;
    color: #000000;
    right: 6px;
    height: 64px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #FFFFFF;
    position: absolute;
    pointer-events: none;
    top: 2px;
}

/*
	error page styles
*/
.errorPageBodyBackground 
{
	background-color:#0093A2;
}

.errorPageMessage 
{
	font-family: "Benton Sans Light"; 
	font-size: 16px; 
	color: #FFF; 
}

.errorPageHeader 
{
	padding-top: 184px;
	padding-bottom: 70px;
}

.errorPageHeader img 
{
	height: 36px;
	width: 250px;
}

.adjustCenter 
{
	display: flex; 
	justify-content: center;
}

.errorPageFooter 
{
	background-color: rgba(255, 255, 255, 0.05); 
	height: 80px; 
	position: fixed; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	z-index:-9999;
}

.errorPageCopyrightInfo 
{
	float:left; 
	font-family: "Benton Sans ExtraLight"; 
	font-size: 13px; 
	color: #FFF; 
	padding-left: 64px; 
	padding-bottom: 24px; 
	padding-top: 20px;
}

.errorPageTermsPolicyInfo {
	float: right;
	font-family: "Benton Sans ExtraLight";
	font-size: 13px;
	color: #FFF;
	padding-right: 64px;
	padding-bottom: 24px;
	padding-top: 30px;
}