body {
    margin: 0px;
	padding: 0px;
	background-color: #F7F7F7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 1px;
}

#divPage {
	top: 0px;
	left: 0px;
	min-height: 100%;
	width: 100%;
}
.action {
	transition: all .4s;
	transition-timing-function: ease-in-out;
	z-index: 105 !important;
}
.action:hover {
	cursor: pointer;
	filter: brightness(75%);
}

.text-white {
	color: #FFFFFF;
}
.text-black {
	color: #042238 !important;
	transition: brightness .4s;
	transition-timing-function: ease-in-out;	
}
.text-black.action:hover {
	filter: brightness(200%);
}
.text-gray {
	color:  #6D7278;
}
.bg-white {
	background-color: #FFFFFF;
}
.text-green {
	color: #30C47F;
}

.text-title {
	font-size: 1rem;
}
.text-small {
	font-size: .81rem;
}
.text-bold {
	font-weight: 700;
}
.float-right {
	float: right;
}
.opacity-50 {
	opacity: 0.5;
}
.z-100 {
	z-index: 100;
}
.text-range {
	color: #2ABAC8;
	font-size: 24px;
	font-weight: 700;
}

.text-range.sm {
	font-size: 20px;
	font-weight: 400;
}

.display-none {
	display: none;
}
.report-content > .container-fluid > .row > .rdResponsiveColumn {
	padding: 30px 30px 0px 30px;
}

.default-report-content > .container-fluid > .row > .rdResponsiveColumn {
	padding: 30px 30px 0px 30px;
	background-color : #FFFFFF;
}

.btn {
	display: flex;
	height: 64px;
	width: 100%;
	margin-top: 20px;
	border-radius: 4px;
	background-color: #3FCF8C;
    align-items: center;
    justify-content: center;
}

.selected {
	font-weight: 700 !important;
}

.nav-form-input {
	height: 64px;
	border-radius: 0px !important;
	border: 0px solid #FFFFFF !important;
	box-shadow: none !important;
	font-size: 1rem !important;
	font-weight: 700 !important;
	padding: 3px 30px !important;
}

.selectdivmonth {
	width: 59%;
	position: relative;
	float: left;
}
.selectdivyear {
	width: 39%;
	position: relative;
	float: right;
}
.selectdiv:after {
	content: url('icons.Down_Chevron_Black.png');
	transform: scale(.5);
	font-family: "Benton Sans Light";
	font-weight: 900;
	font-size: 18px;
    color: #000000;
    right: 15px;
    top: 14px;
    height: 64px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #FFFFFF;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 64px;
  float: right;
  margin: 5px 0px;
  padding: 0px 30px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 0px solid #FFFFFF;
  -ms-word-break: normal;
  word-break: normal;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
	display: none;
}

/* Input Checkbox List Styling */

.bfselect .rd-checkboxlist {
	width: 100%;
	padding-right: 0px;	
	padding-left: 0px;
}

.bfselect .rd-checkboxlist-dropdown  {
	box-sizing: border-box;
	width: 100%;
	height: 64px;
	color: #000000;
	background-color: #FFFFFF;
	border: 0px solid #000000 !important;
	border-radius: 0px;
	box-shadow: none;
	font-size: 16px;
	font-family: Benton Sans Book;
}
.bfselect .rd-checkboxlist table
{
	width: 100%;
	background-color: #FFFFFF;	
}
.bfselect .rd-checkboxlist table tr > td, .bfselect .rd-checkboxlist table tr > th {
	background-color: #FFFFFF !important;
}

/* 	Changes the left padding of the table for all the DIV elements whose ID attribute starts with given text. 
	The change is for all input check box list controls within sidebarmenu
*/
div[id^="icl"] table tr > td
{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-right: 30px !important;
	padding-left: 0px !important;
}

.bfselect .rd-checkboxlist-caption {
	padding-left: 0px;
}	
.bfselect .rd-checkboxlist li {
	height: 36px;
	border-bottom: 0px solid black;
	font-size: 14px;
	align-items: center;
	background-color: #FFFFFF;	
	text-overflow: ellipsis;
	width: 300px;	
	padding-left: 0px;
	overflow: hidden;	
}

.bfselect .rd-checkboxlist.rd-checkboxlist-popup.bfselect {
	border-width: 0px !important;
	color: #454D59 ;
	border-color: #FFFFFF !important ;
	background-color: #FFFFFF;
	padding: 3px;
}
.bfselect .rd-checkboxlist img[src*="rdMinus"] {
	display: none;
}

.bfselect table[id^="icl"] ul > li > label 
{
	letter-spacing: -1px;
}
.bfselect table[id^="icl"] ul > li > label span
{
	letter-spacing: normal !important;
}


.bfselect input[type="checkbox"]  {
	width: 400%;
	border: none;
	box-shadow: none;
	position: absolute;
	left: 0px;
	height: 15px;
	margin: 0px !important;
	padding: 0px !important;
	background-color: #FFFFFF;
}
.bfselect input[type="checkbox"]:hover {
	cursor: pointer;
}

.bfselect input[type="checkbox"]:checked + span::after  {
	content: url('icons.Selection_Selected_Check_Icon_Small.png');
	position: absolute;
	right: calc(20% - 50px);
	font-size: 1.5em;	
}

.bfselect input[id$="_Level1"]:checked + span::after  {
	opacity: 0.3 !important;
}

.bfselect .statecode input[id$="_Level1"]:checked + span::after,
.bfselect .statecode input[id$="_Level2"]:checked + span::after  {
    opacity: 0.3 !important;
}

.bfselect .rd-checkboxlist-icon {
	background-image: url('./_SupportFiles/icons.images.blank.png') !important;
}
.bfselect .rd-checkboxlist-icon::before {		
	font-family: font-bold;
	font-weight: 900;
	float: right;
	height: 16px;
	width: 16px;
	background-image: url('./_SupportFiles/icons.images.blank.png') !important;
}

.bfselect .rd-checkboxlist li input[rdchecked="all"] + span {
	font-weight: 700 !important;
	font-family: Benton Sans Medium !important;
}

.bfselect .rd-checkboxlist label {
	letter-spacing: 1px;
}	

.bfselect #rowsSelectButton {
	top: -6px;
	position: relative;
}
/* End Input Checkbox List Styling */

.chart-dataTable
{
	background: none !important;
	overflow: hidden;
}