.rdPopupPanel
{
	border-style:solid;
	border-color:#888888;
	border-width:thin;
	background-color:white;
}


.rdPopupPanelTitle
{
    background-image: url(rdF7F7F7-ECECEC.png);
    background-repeat:repeat-x; 
    background-color: #ECECEC;
    height:1%;	/* 11508 */
}

.rdPopupPanelTitle A:link
{	
	text-decoration:none;
}	

.rdPopupPanelTitleCaption
{
	font-weight:bold;
	font-size:11px;
}

TD.rdPopupPanelControl
{
	text-align:right;
	font-size:11px;
}

.rdPopupPanelCommand
{
	font-weight:normal;
	color:#555555;
	text-decoration: none;
    background-image: url(../rdButton.png);
	background-repeat: repeat-x;
    background-color: #DEDEDE;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777;
	border-left: 1px solid #DDDDDD;
	margin-left: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height:24px;
	text-decoration:none;
	white-space: nowrap;
}

.rdPopupPanelControl A
{
	color:#555555;
	text-decoration:none;
}

.yui-navset
{	/* This helps the Popup Panel to get positioned properly when the Popup Panel is nested in YUI Tabs, #12917.	*/
	position: static !important;
}

.popupPanelContainer {
	position: absolute;
	z-index: 202; /* Resize Handles have z-index of 100 and 200, need to be one higher */
}

.popupPanelModal
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 201;
	background-color: black;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

	