.rdDashboard
{
	font-size: 11px;
	font-family: arial, sans-serif;
}
.rdDashboard TABLE
{
	font-size: 11px;
	font-family: arial, sans-serif;
}

.rdDashboard A:link	{	
	text-decoration:none;
	}	
.rdDashboard A:visited	{	
	text-decoration:none;
	}	
.rdDashboard A:active	{	
	text-decoration:none;
	}	
.rdDashboard A:hover	{
	text-decoration:none;
}
.rdDashboard IMG
{
	border-style:none;
}
.rdDashboardPanelContainer 
 {
	background-repeat:repeat-x; 
	background-color: #ECECEC;
	vertical-align: top;
}

.rdDashboardColumn
{
	vertical-align:top;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:0px;
	padding-bottom:0px;
}
.rdDashboardPanel
{
	border-style:solid;
	border-color:#888888;
	border-width:1px;
	background-color:white;
	font-weight:normal;
}

TD.rdDashboardTitle
{
    background-image: url(rdF7F7F7-ECECEC.png);
    background-repeat:repeat-x; 
    background-color: #ECECEC;
}
.rdDashboardTitleCaption
{
	font-weight:bolder;
}

TD.rdDashboardControl
{
	text-align:right;
}

.rdDashboardListAdded
{
	color:Gray;
}

.rdDashboardParams
{
	background-color:#ECECEC;
}
TD.rdDashboardParams
{
	background-color:#ECECEC;
}
TD.rdDashboardParamsSave
{
	vertical-align:bottom;
	text-align:right;
	background-color:#ECECEC;
	padding-right: 3px;
	padding-left: 3px;
}
.rdDashboardText
{
}
TD.rdDashboardText
{
}

.rdDashboardMenu
{
	padding:0;
}

.rdDashboardCommand
{
	font-weight:normal;
	color:#555555;
	text-decoration: none;
    background-image: url(../rdButton.png);
    background-color: #DDDDDD;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777;
	border-left: 1px solid #DDDDDD;
	margin-left: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height:24px;
	white-space: nowrap;
}
.rdDashboardCommand A
{
	color:#555555;
}

.rdDashboardDropZone
{
	height:15px;
}
.rdDashboardDropZoneActive
{
    background-image: url(rdCCCCDD-EEEEFF-15.png);
    border-color: #9999AA;
    border-width: 1px;
	height:15px;
}

.rdDashboardTabs
{
	font-weight:normal;
}

.rdDashboardDropTabActive
{
	font-size:larger;
	font-weight:bolder;
}

TD.rdDashboardPanelDescription
{
	vertical-align:top;
}

TD.rdDashboardPanelImageColumn
{
	width:200px;
}

.rdDashboardHidden
{
	display:none;
}

/* Tabs */

.yui-nav A:link {         
	color: #555555;
	text-decoration: none;
	background-image: url(rdTabBg.png);
}

.yui-nav A:hover {         
	background-image: url(rdTabBgOn.png);
	color: #555555;
}

.yui-navset .yui-nav .selected A {              
	color: #555555;
	background-image: url(rdTabBgOn.png);
}

.yui-navset .yui-nav LI { 
	border-top: 0px solid #8EC4DC;
	border-right: 0px solid #8EC4DC;
	background-color: transparent;
}

	