@font-face {
    font-family: FontAwesome;
    src: url("fontawesome-webfont_2.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("Lato-Regular.ttf");
}

@font-face {
    font-family: NimbusSansGlobal;
    src: url("NimbusSansGlobal.ttf");
}

.font-awesome{
	font-family: FontAwesome !important;
}
html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: #efefef;
}

body {
	width: 100%;
	background-color: #efefef;
	font-family: "Lato Regular", "Microsoft YaHei", NimbusSansGlobal, "Microsoft Sans Serif";
	color: #333;
	overflow-x: hidden;

}

.section {
	position: relative;
	padding: .25in 0 0 .25in;
	margin: 0;
	border: none;
	page-break-inside: avoid;
}

.titlepage .section {
	padding-top: 2in;
	padding-bottom: 2in;
	background-color: #008cbc !important;
	color: #ffffff !important;

}

.card.titlepage {
	background-color: #008cbc !important;
	color: #ffffff !important;	
}


.page-header {
	background-color: transparent !important;
}

.col  {
	padding-right: .25in !important;
	min-height: 1in;
}

.titlepage h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 36px;
    text-align: center;
    padding-bottom: 10px !important;
	font-weight: 300 !important;
}

.header-blue {
    color: #1db1db !important;
    font-weight: 300 !important;
    font-size: 34px;
}

.mega-number {
    font-size: 30px;
    font-weight: 500;
	line-height: 1.4;
}

.big-number-label {
	font-size: 16px;
    color: #666;
	line-height: 1.1;
}

#divFilesAnalyzed {
	top: -15px !important;
}



.bubble {
	position: relative;
	top: 54px;
	height: 1.0in;
	width: 2.2in;
	border-radius: 5px;
	background-color:  #F3F8F9;
    color: #999999 !important;
    line-height: 1.5em;
    font-size: 15px;
}

.bubble table, .bubble table td {
	position: relative;
    color: #999999 !important;
    line-height: 1.5em;
    font-size: 15px;
	vertical-align: middle !important;
	height: 100%;
	padding: 4px 2px 2px 10px !important;
}
.bubble-arrow-left {
	position: relative;
	width: 20px;
	height: 20px;
	left: -15px;
	top: -10px;
}

#divCurrentLicense {
	position: relative;
	height: 100px;
	top: -30px;

}
#divCurrentLicenseText {
	height: 100% !important;
	vertical-align: middle;
	padding-top: 20px;
}




.current-licenses {
	position: relative;
	padding: 15px 10px !important;
	border-radius: 5px !important;
	background-color:  #333333 !important;
    color: #ffffff !important;
	text-align: center;
    font-size: 15px;
}
.current-licenses .text {
	vertical-align: middle;
	line-height: 1.4;
}

.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
	padding: .0625in;
}

.card.card-padded {
	padding: .
}
.min-height-200 {
	min-height: 200px !important;
}
.min-height-220 {
	min-height: 220px !important;
}
.card.bordered {
	border: 1px solid #CCCCCC;
}



#imglines-closing {
	margin-top: -2px;
	z-index: -1;
}
#imglines-opening {
	margin-bottom: -2px;
}

.summary-page.dataLabel {
	position: relative;
	left: 10px;
}
.summary-page.row {
	height: 35px !important;
}
.summary-page.columnLabel {
	line-height: 13px;
}
.section-title {
    font-size: 26px;
    margin-bottom: 6px;
    color: #444;
    font-weight: 300;
    margin-top: 40px;
}
.badge td {
	padding: 0px 7px;
	border-radius: 10px;
}

.number {
	display: table-cell;
	font-size: 15px;
	color: #000000 !important;
	text-align: center;
	font-weight: 700;
}


#divChart td {
	height: 36px !important;
}
.bg-light {
    background-color: #f2f2f2 !important;
    background: #f2f2f2 !important;
}
.bg-grey {
    background-color: #e6e6e6 !important;
    background: #e6e6e6 !important;
}
.bg-danger {
	background-color: #dc3545 !important;
    background: #dc3545 !important;
}
.bg-warning {
	background-color: #ffc107 !important;
    background: #ffc107 !important;	
}
.bg-success {
	background-color: #28a745 !important;
    background: #28a745 !important;	
}
.font-color-success {
	color: #28a745 !important;	
}
.font-color-warning {
	color: #ffc107 !important;	
}
.font-color-danger {
	color: #dc3545 !important;	
}
.font-color-windows {
	color: #639ED5 !important;
}
.font-color-mac {
	color: #cccccc !important;
}
.font-color-linux {
	color: #F6C930 !important;
}
.font-color-android {
	color: #4CB99E !important;
}
.text-muted {
    color: #999999 !important;
}
.fa, .font-awesome {
    color: #777777;
}
.font-size-10 {
	font-size: 10px;
}
.font-size-11 {
	font-size: 11px;
}
.font-size-12 {
	font-size: 12px;
}
.font-size-13 {
	font-size: 13px;
}
.font-size-14 {
	font-size: 14px;
}
.font-size-16 {
	font-size: 16px;
}
.font-size-17 {
	font-size: 17px;
}
.font-size-20 {
	font-size: 20px;
}
.font-size-24 {
	font-size: 24px;
}
.font-size-30 {
	font-size: 30px;
}
.font-size-36 {
	font-size: 36px;
}
.font-size-40 {
	font-size: 40px;
}
.font-size-45 {
	font-size: 45px;
}
.text-orange {
	color: #E25928 !important;
}
.text-blue {
	color: #85CCDA !important;
}
.text-warning {
	color: #f39c12  !important;
}
.line-height-1-2 {
	line-height: 1.2;
}
.line-height-1-3 {
	line-height: 1.3;
}
.line-height-1-5 {
	line-height: 1.5;
}
.line-height-0-9 {
        line-height: .9 !important;
}
.padding-6 {
	padding: 6px;
}

.padding-15 {
	padding: 15px;
}
.height-50 {
	height: 50px !important;
}
.bg-light-grey {
    background-color: #f2f2f2 !important;
    background: #f2f2f2 !important;
}
hr {
    margin-top: 0;
    margin-bottom: .25in;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.table-wrapper {
    border: 1px solid #dadada;
    border-radius: 5px;
    overflow: hidden;
	margin-top: .0625in;
}

.table-license {
	border-spacing: 0px !important;
	border: 0px;
	font-size: 14px;
}
.table-license tr, .table-license td {
    height: 50px !important;
} 
.table-license .font-awesome {
	font-size: 30px !important;
}
.table-license .rdThemeDataTableSummaryRow {
	background-color: #FFFFFF !important;
	font-weight: 700 !important;
	color: #666666 !important;
	border-top: 1px solid #666666 !important;
}

.table-license .rdThemeDataTableSummaryRow td {
	background-color: #FFFFFF !important;
	font-weight: 700 !important;
	color: #666666 !important;
	border-top: 1px solid #666666 !important;
	padding: 10px !important;
}

.table-details, .table-details td {
	font-size: 11px !important;
	padding: 5px 0px 5px 0px !important;
	border-spacing: 0px !important;;
	border-left: 0px !important;
	border-right: 0px !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
	background-color: White !important;
}

.table-formatted {
	border-spacing: 0px !important;
}

.table-formatted th {
	background-color: rgb(242, 242, 242) !important;
    text-transform: uppercase;
    font-size: 12px;
	line-height: 12px;
    color: #646464 !important;
    font-weight: normal !important;
	border: none !important;
    border-bottom: 1px solid #ddd !important;
    white-space: nowrap;
	padding: 0px 10px 6px 10px  !important;
}

.table-formatted td {
    padding: 8px 10px !important;
    vertical-align: middle !important;
    border-top: 1px solid #E8E8E8;
	font-size: 12px;
	text-align: center;
}
.table-formatted td.icon-column{
    padding: 8px 0px 8px 10px !important;
    vertical-align: middle !important;
    border-top: 1px solid #E8E8E8;
	font-size: 12px;
	text-align: center;
	width: 20px;
}


.rdThemeDataTableHeader > span {
    color: #646464 !important;
}
.table-formatted .font-awesome {
	font-size: 20px !important;
}
.ThemeAlignLeft {
    text-align: left !important;
}
.ThemeAlignMiddle {
	vertical-align: middle;
}
.border-right-1 {
	border-right: 1px solid #999999;
}
.padding-left-10 {
	padding-left: 10px;
}
.padding-right-10 {
	padding-right: 10px;
}
