html {
	padding: 0px;
	margin: 0px;
	width: 9.2in;
	height: 100%;
	background-color: #ffffff;
}

body {
	padding: 0px;
	margin: 0px;
	width: 9.2in;
	height: 100%;
	background-color: #ffffff;
}

.paper {
	position: relative;
	margin: 0 .0625in 0 0;
	width: 9.2in;
	padding-bottom: .5in;
	padding-right: .25in;
	padding-left: .25in;	
	/*height: 11.6in;*/
	background-color: White;
	overflow: hidden !important;
	page-break-before: always;
	
}
.section.title {
	position: relative;
	padding: 0 0 0 .25in !important;
	margin: 0;
	border: none;
}
.titlepage .section {
	position: relative;
	margin: 0 .0625in 0 0;
	width: 9.2in;
	/*height: 11.6in;*/
	background-color: White;
	overflow: hidden !important;
	margin-top: 3in;
	margin-bottom: 0in;
	padding-top: 2in;
	padding-bottom: 2in;
	background-color: #008cbc !important;
	color: #ffffff !important;
}
.paper.titlepage {
	position: relative;
	margin: 0 .0625in 0 0;
	width: 9.2in;
	height: 11.6in;
	background-color: White;
	overflow: hidden !important;
	page-break-before: always;
}

