.container {
	width: 9.2in;
	margin: 20px auto;
}
.paper {
	padding: 0px;
	width: 9.2in;
	padding-bottom: .5in;
	padding-right: .25in;
	padding-left: .25in;
	/*height: 11.8in;*/
	overflow: hidden;
	background-color: White;
    border-width: 1px;
    border-style: solid;
    border-color: #959595;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);	
}

.titlepage .section  {
	width: 9.2in !important;
	padding-left: .25in;
	padding-right: .25in;

}
#divExport {
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 100;
}