<div id="chartdiv" align="center"></div>

    <SCRIPT type="text/javascript" rdAjaxRunOnLoad="True">
        
        function rdLoadAnimatedChart() {   
            if (typeof FusionCharts == 'undefined') {
                //Wait for the script to load. Especially for Widgets in Mozilla.
                setTimeout('rdLoadAnimatedChart()', 500); 
            } else {
                var rdAnimatedChart = new FusionCharts("rdTemplate/rdAnimatedChart/chartType.swf", "myChartId", "width", "height", "0", "0");
                rdAnimatedChart.setDataURL("Data.xml");
                rdAnimatedChart.render("chartdiv");
            }
//            var eleResizer = document.getElementById("myChartId").firstChild 
//            rdInitResizer(eleSizer)
        }
         
        rdLoadAnimatedChart()
        try{
            if(rdBoolResizer)   //#12226.
                if(rdInitAnimatedChartResizer) {
                    Y.on('domready', function(e) {   
                        rdInitAnimatedChartResizer("rdTemplate/rdAnimatedChart/chartType.swf", "myChartId", "Data.xml", "OriginalChartID", "BGColor");
                    });
                }
        }
        catch(e){}
        
        //setTimeout('rdLoadAnimatedChart()', 0)  #6139
    </SCRIPT>
