body { 
background-color:#ffffff; 
padding:0; 
margin:0; 

} 
#app {
  display: block;
}

.banner{
	background-color: #3C5D91;
}

.ThemeMasterReportLeftFrame {
  background-color: #00ad5e;
}

.menufont {
	color: White;
	font-size: 1em;
	font-family: Verdana;
}

.bookmarkbtn{
	font-size: 18px;
}

.apptemplatenavnar1 {
	color: White !important;
	font-size: 1em;
	font-family: Veranda;
}

.apptemplatenavnar2 {
	color: White !important;
	font-size: 1em;
	font-family: Veranda;
}

.appContent {
  display: block;
  min-height: 65vh;
}
.appContent[drawer-opened] {
  opacity: 0;
}
.appNavigation {
  z-index: 9999;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /*border: 1px solid green;*/
  width: 180px;
  transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
 /* background-color: var(--theme-color);*/
  /*background-color: #3b8398;*/
  background-color: #666666;
  will-change: transform;
  transition: transform 250ms;
}
.appNavigation[opened] {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.appNavigationScrim {
  display: none;
  position: absolute;
  z-index: 9998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: transparent;
}
.appNavigationScrim[opened] {
  display: block;
  pointer-events: all;
  background-color: rgba(0, 0, 0, .5);
}
.appFooter {
  display: block;
  /*border-top: 8px solid  var(--theme-color); */
  background-color: #fff;
  padding: 24px;
  margin-top: 24px;
 
}

.appFooter .ThemeAlignCenter{
	margin: 0 auto;
	/*border: 1px solid black;*/
	display: block;
}

.btn {
  background-color: #000070 !important;
  background-image: -webkit-linear-gradient(top, #000070, #2980b9);
  background-image: -moz-linear-gradient(top, #000070, #2980b9);
  background-image: -ms-linear-gradient(top, #000070, #2980b9);
  background-image: -o-linear-gradient(top, #000070, #2980b9);
  background-image: linear-gradient(to bottom, #000070, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.InfoBtn {
	font-size: 17px;
	color: Green;
	padding: 5px;
}

.companylistright {
    position: absolute;
    right: 200px;
    padding: 10px;
}

.info-tile {
  margin: 0px 0px 16px;
  box-shadow: 1px -1px 0 0 #eeeeee inset, -1px 0 0 0 #eeeeee inset;
  background-color: #fff;
  padding: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 1px;
  display: block;
  border-width: 2px 0 0 0;
  border-style: solid;
  min-height: 125px;
}
.info-tile:before {
  display: block;
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.info-tile .tile-heading {
  text-align: left;
  color: #000000;
  height: 16px;
  line-height: 16px;
  font-weight: 600;
  font-size: 19px;
  font-family: Segoe UI /*MainFont*/, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
}
.info-tile .tile-body {
  /*text-align: left;*/
  left: 30px;
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  line-height: 72px;
  font-family: Avenir Next, 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  position: relative;
  z-index: 1;
}
.info-tile .tile-footer {
  text-align: left;
  font-size: 11px;
  position: absolute;
  left: 16px;
  bottom: 8px;
}
.info-tile .tile-icon {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  right: 8px;
  bottom: -64px;
}
.info-tile .tile-icon i {
  font-size: 48px;
  position: absolute;
  left: 96px;
  top: 0;
}
.info-tile .tile-icon span {
  font-size: 48px;
  position: absolute;
  right: 5px;
  top: -15px;
  color: #b0bec5;
}
.info-tile.tile-green {
  border-color: #81c784;
}
.rsq-paragraph {
  font-size: 24px;
  leading: 40px;
  tracking: 0;
  color: #919BA4;
}
.ul li {
 display: inline-block;
 margin-left:20px;
}

.colorBlack {
color:black;
}

.colorTeal{
color: Teal;
}
.panel-text-color{
	color: BlueViolet !important;
}

.title {
font-size: large;
}
.crossTable th {
     background-image: url(../_SupportFiles/dateBackground.png);
    padding-top: 13px !important;
	
	width: 100%;
    height: 100px;

    background-size: 100% 100%;
   
}
.padding {
    padding-left: 200px;

}

.padding-right {
    padding-left: 80%;

}
.panel-text-Red {
color:red;
}

.rdThemeDataTableSummaryRowCT td{
  background-color: #00A1AF !important;
  color: #FFFFFF !important; 
  font-weight: bold !important;
} 