.dk-graph-large {
	background-color:rgba(255, 255, 255, 0);
	border-style: outset;
	font-size: 18px;
	width: 100%;
 	height: 500px;
	
}

.dk-graph-zoom-container {
	transition: transform .2s;
}

.dk-graph-zoom-container:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Safari 3-8 */
  	transform: scale(1.5); 
}

.dk-graph-small {
	background-color:rgba(0, 0, 0, 0);
	border-style: outset;
	font-size: 18px;
}

.gaugediv {
	width: 100%;
 	height: 200px;
}

.chartfull {
	width: 100%;
	height: 70vh;
}

.chartdiv {
  width: 100%;
  height: 450px;
}

.chartspark {
	width: 100%;
	height: 200px;
}
