#panelDiv {
	border: 1px solid gray;
	margin: 1em 0;
	border-left-width: thick;
	border-top-width: thin;
	border-bottom-width: thin;
	border-right-width: thin;
}

#Sidebar, #Header, #Footer {
	background-color: #1A5276;
	color: White;
}

#column_left {
	background-color: #515151;
}

.nav-btn {
	width: 100%;
}


