#SidebarTogglerIcon {
 	color: White;
}

#panelDiv {
	border: 1px solid gray;
	margin: 1em 0;
	border-left-width: thick;
	border-top-width: thin;
	border-bottom-width: thin;
	border-right-width: thin;
}

#Footer {
	background: Transparent;
}

#Header {
	background-color: Black;
	//background: rgb(34,168,99);
	//background: linear-gradient(90deg, rgba(34,168,99,1) 0%, rgba(0,159,247,1) 100%, rgba(2,0,36,1) 100%);
}
#Sidebar {
	//background-color: Black;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(125,125,125,1) 100%, rgba(255,255,255,1) 100%);
	//background-image: url("Images.baltimore-datakwip.png");
	//background-repeat: no-repeat;
}

.navbar {
	z-index: 8000 !important;
	color: White !important;
}

#column_left {
	background-color: #515151;
}

.nav-btn {
	width: 100%;
}

.nav-link {
	color: White !important;
}

.nav-sidebar {
	overflow-y: auto;
	z-index: 7000 !important;	
} 

.dk-sidenav-btn {
	background-color: Transparent;
	width: 100%;
	height: 50px;
	color: White;
	transition: 0.3s;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin: 0;
	text-align: left;
	padding: 15px;
	border: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-width: 0 0 1px 0;
	cursor: pointer;
	text-decoration: none !important;
}

.dk-sidenav-btn:hover {
	//background-color: rgba(255, 255, 255, 0.3);
	background-color: black;
	color: White;
	text-decoration: none !important;
}

.dk-sidenav-btn .span {
	padding-left: 13px;
	font-size: 13px;
}

.dk-sidenav-btn .i {
	font-size: 16px;
}

.dk-sidenav-btn:active {
	background-color: rgba(255, 255, 255, 0.3);
	color: White;
}

.dk-sub1-btn {
	width: 100%;
	height: 35px;
	color: White;
	background-color: Transparent;
	border: 0.5px solid lightgrey;
	border-width: 0 0 1px 0;
}
.dk-sub1-btn:hover {
	//background-color: rgba(255, 255, 255, 0.3);
	background-color: Black;
	color: White;
	cursor: pointer;
}


.panel-heading .accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
}


.panel-heading .accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

a {
   text-decoration: none !important;
}

.dk-sidenav-image {
	//position: -webkit-sticky;
  	//position: sticky;
	width: 100%;
	height: 50px;
	margin: 0;
	//vertical-align: bottom;
	position: absolute;
    //display: block;
    bottom: 50px;
	//align-self: flex-end;
}

.dk-side-wrap {
	display: flex;
}

h6 span {
	padding-left: 13px;
	font-size: 13px;
	text-decoration: none;
}

a:hover{
	text-decoration:none !important;
}

span {
	text-decoration: none;
}

h6 i {
	font-size: 16px;
}
