.dk-alert-table-header {
	
	font-size: large;
	font-weight: bold;
}

.dk-alert-table {
	border-radius: 25px;
}

.dk-timenav {
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none !important;
}

.dk-detail-container {
	background: White;
}

.dk-detail-title {
	font-size: 22px;
	color: #74879b;
	vertical-align: middle;
	padding-top: 15px;
	padding-bottom: 5px;
}

.dk-detail-hr {
  border: 1px solid;
  margin-right: 10px;
  margin-left: 10px;
  color: LightGray;
}

.fa-angle-down {
  -webkit-text-stroke: 2px;
}
.fa-angle-up {
  -webkit-text-stroke: 2px;
}

.dk-mkpi {
	width: 100%;
	height: 125px;
	border-radius: 20px;
	padding: 20px;
	color: White;
}

.dk-mkpi-container {
	background: White;
}

.dk-top-kpi {
	width: 100%;
	height: 125px;
	border-style: solid;
  	border-width: 0px 5px 0px 0px;
	color: #74879b;
}

.dk-top-kpi-label {
	font-size: 15px;
}

.dk-top-kpi-body {
	font-size: 35px;
	font-weight: bold;
}

.dk-mkpi-blue {
	background-color: #02a4a7;
}

.dk-main-background {
	background-color: #f7f7f7 !important;
}

.dk-algo-sub {
	background-color: #
}

.dk-algo-title {
	font-size: large;
}

.dk-algo-p {
	font-size: medium;
}