#loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dk-ecm-sub-title {
	//background-color: Black;
	//color: White;
	z-index: 5000 !important;
}

.dk-large-table {
	height: 300px;
	overflow: auto;

}

.dk-title-icon {
	font-size: 50px;
}

.dk-icon-red {
	color: #ff1a1a;
}

.dk-icon-red:hover {
	color: Blue;
	cursor: pointer;
}

.dk-small-scroll-table {
	height: 250px;
	width: 100%;
	overflow: auto;
}

.dk-title-div {
	background-color: rgba(153, 204, 255, 0.95);
	top: 70px !important;
}

.dk-date-picker-title {
	font-size:18px;
}

.dk-title-font {
	font-size: 25px;
}

.dk-date-picker {
	color: Black;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
	width: 110%;
	margin-left: 0px;
}

.dk-date-picker-topall{
	position: relative;
	z-index: 99999 !important;
}


.dk-site-dropdown {
	background-color: #1A5276;
}

#myModal {
	z-index: 9000 !important;
}
#timeModal {
	z-index: 9000 !important;
}

.dk-xl-modal {
  width: 80% !important;
  margin: auto !important;
}

.modal-dialog {
	width: 80% !important;
	max-width: none !important;
}

.dk-Modal {
	z-index: 9000 !important;
}

.dk-text-yellow {
	color: Orange;
}

.dk-ecm-edit-div {
	width: 100%;
	height: 100%;
}

.dk-noscroll {
	overflow: x-hidden;
}




