/*Start KPI TILES*/
.dk-kpi {
  padding: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 1px;
  display: inline-block;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  min-height: 125px;
  width: 100%;
}

.dk-kpi-container {
	height: auto;
	overflow-y: hidden;
	overflow-x: scroll;
	margin: 0px;
	width: 100%;
	align-context: center;
	
}

.dk-kpi-no-border {
	border-width: 0 0 0 0;
}

.dk-rec-size {
	font-size: 25px;
}

.dk-kpi-yellow {
	color: #ffcc00;
}

.dk-kpi-green {
	color: #33cc33;
}

.dk-kpi-blue {
	color: #3333ff;
}

.dk-kpi-red {
	color: #ff1a1a;
}

.dk-kpi:before {
  display: block;
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.dk-kwh-input {
	margin: auto;
}

.dk-kpi-body {
	font-size: xx-large;
}

.dk-kpi-footer {
	font-size: x-large;
}

.dk-kpi-heading {
	font-size: x-large;
}

.dk-kpi-light {
	color: White;
}

.dk-kpi-dark {
	color: Black;
}


