/************************************************ 
Standardize common CSS elements. Set Logi Theme vs Bootstrap discrepancies. Fix Bootstrap 4 alpha vs beta bugs. 
*************************************************/
/*General*/
h1, h2, h3, h4, h5, h6 {
    text-align: left;
}
p {
    margin-bottom: 10px; 
}

/*LOGI OVERRIDES*/
	.container-fluid {
		max-width: 100%;
		width: 100%;
	}
	.rdAddPanelSearch {
		padding: 5px 0;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.rdDashboardPanel>tbody>tr>td>br {
		display: none;
	}
	.rdScrollableList {
		border-top: 1px solid #ddd;
		padding-top: 15px;
	}
	
	/*checkbox list*/
	.rd-checkboxlist-icon  {
		background-image: none;
		display: inline-block;
		width: 0;
		height: 0;
		margin-top: .7rem;
		margin-left: 5px;
		margin-right: -4px;
		float: right;
		vertical-align: middle;
		border-top: 5px dashed;
		border-top: 5px solid \9;
		border-right: 4px solid transparent;
		border-left: 3px solid transparent;
	}
	.rd-checkboxlist-caption {
		width: calc(100% - 25px);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: inline-block;
		text-align: left;
	}
	.rd-checkboxlist-dropdown.form-control {
		padding-top: 5px;
		padding-bottom: 3px;
		box-shadow: none;
	}
/*END LOGI OVERRIDES*/

/*FORM ELEMENTS*/
	label, .form-inline label {
		margin-bottom: 0;
		display: inline-block;
	}
	
	/*Buttons and Dropdowns*/
	.btn {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	a.btn-secondary, a.btn-secondary:link, a.btn-secondary:visited,
	a.btn-primary, a.btn-primary:link, a.btn-primary:visited,
	a.btn-success, a.btn-success:link, a.btn-success:visited,
	a.btn-info, a.btn-info:link, a.btn-info:visited,
	a.btn-warning, a.btn-warning:link, a.btn-warning:visited,
	a.btn-danger, a.btn-danger:link, a.btn-danger:visited,
	.btn-primary:not([href]):not([tabindex]), .btn-success:not([href]):not([tabindex]), 
	.btn-info:not([href]):not([tabindex]), .btn-warning:not([href]):not([tabindex]),
	.btn-danger:not([href]):not([tabindex]), .btn-primary:not([href]):not([tabindex]):hover, 
	.btn-success:not([href]):not([tabindex]):hover, .btn-info:not([href]):not([tabindex]):hover, 
	.btn-warning:not([href]):not([tabindex]):hover, .btn-danger:not([href]):not([tabindex]):hover {
		color: rgba(255,255,255,1);
	}
	a.btn-outline-primary, a.btn-outline-primary > span {
		color: #007bff;
	}
	.btn.btn-light, .btn.btn-outline-light {
		color: #212529 !important;
	}
	.btn-xs,
	.btn-group-xs>.btn {
		padding: 1px 5px !important;
		font-size: 12px !important;
		line-height: 1.5 !important;
		border-radius: 3px !important;
	}
	.Material .btn-xs,
	.Material .btn-group-xs>.btn,
	.btn-xs.waves-effect,
	.btn-group-xs>.btn.waves-effect {
    	font-size: 0.5rem !important;
		border-radius: 3px !important;
    	padding: 0.3rem 1rem !important;
	}
	
	input[type="button"].btn, .ThemeLinkButton, .ThemeLinkButtonSmall, .rdAgCommand, 
	.rdOgCommand, .rdAcCommand, span.rdCgCommand, .rdDashboardCommand, input[type="button"] {
		margin: 0;
		display: inline-block;
		padding: 6px 12px;
		white-space: nowrap;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		font-size: 14px;
		line-height: 1.42857143;
	}
	input, input.rdThemeInput, textarea, textarea.rdThemeInput, select.rdThemeInput, select.rdDataCalendarDropdown {
		margin: 0;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	}
	input.form-control, textarea.form-control, select.form-control {
		border: 1px solid #ced4da;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
	}
	.form-control .caret, .btn .caret:not(.pull-none), .form-control .fa-caret-down {
		margin-top: 5px;
		margin-left: 2px;
		float: right;
	}
	.input-group-btn>.btn>.caret {
		margin-top: 0;
		float: none;
	}
	/*Radio and Checkbox*/
	.radio {
		padding-top: 0px !important;
	}
	.radio input[type="radio"], .radio-inline input[type="radio"]{
		margin-left: 0px;
	}
	.radio #rdInputRadioOptions > label {
		margin-top: 4px;
	}
	.radio, .checkbox {
		margin-bottom: 0px; 
	}
	.checkbox-group{
		border: none !important;
	}
	.checkbox-group li{
		display: inline;
	}
	.checkbox-group input{
		display: none;
	}
	.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
		position: relative;
		margin-left: 5px; 
		float: left;
		margin-top: 5px;
		cursor: pointer;
	}
	.radio label, .checkbox label, .radio-inline label, .checkbox-inline label {
		padding-left: 3px;
		position: relative;
		font-weight: normal !important;
		cursor: pointer;
	}
	.radio-inline, .checkbox-inline {
		padding-left: 5px; 
	} 
	/*Input Groups*/
	.input-group > span {
		position: relative;
		z-index: 2;
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
	}
	.input-group > * > .form-control {
		border-radius: 4px;
		width: 100%;
		display: block;
		padding: 0.375rem 0.75rem;
	}
	.input-group > .input-group-addon:last-child {
		border-left: 0;
	}
	.input-group-sm > *:first-child:not(:last-child) > .form-control {
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
	}
	.input-group-sm > *:last-child:not(:first-child) > .form-control {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
	}
	.input-group > *:first-child:not(:last-child) > .form-control {
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}
	.input-group > *:last-child:not(:first-child) > .form-control {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
	}
	.input-group-lg > *:first-child:not(:last-child) > .form-control {
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 6px;
		border-top-left-radius: 6px;
	}
	.input-group-lg > *:last-child:not(:first-child) > .form-control {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 6px;
		border-top-right-radius: 6px;
	}
	
	.input-group > * > .form-control {
		margin: 0 !important;
		height: 100%;
	}
	.input-group-lg > span > .form-control {
		padding: .5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
		border-radius: .3rem;
	}
	.input-group-sm > span > .form-control  {
		padding: .25rem .5rem;
		font-size: .875rem;
		line-height: 1.5;
		border-radius: .2rem;
	}
	.input-group-append.input-group-text {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.input-group-prepend.input-group-text {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
/*END FORM ELEMENTS*/

/*OTHER COMPONENTS*/
	.address {
		margin-bottom: 20px;
		font-style: normal;
		line-height: 1.42857143;
	}
	.modal-header .close {
		float: right;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .5;
		margin-top: -8px;
		margin-right: -5px;
	}
	.modal-header .close:hover {
		opacity: .75;
	}
	
	/*cards and accordian*/
	/*.card {
		margin-bottom: 20px;
	}
	.card-body {
		padding: 15px;
	}
	.panel-title > a, .panel-title > a:link, .panel-title > a:visited, .panel-title > a:hover {
		display: block;
		color: #333333;
		text-decoration: none;
	}
	.card-header a.collapse-toggle {
		display: block;
		width: 100%;
		padding: 0.75rem 1.25rem;
	}
	.card .card-heading.clean, .panel .panel-heading.clean{
		border: none;
		background: none;
	}
	*/
	.card-header a.collapse-toggle:after {
		font-family: 'FontAwesome';
		content: "\f078";
		float: right;
	}
	.card-header a.collapse-toggle.collapsed:after {
		content: "\f054";
	}
	/*Tables*/
	.table-striped>tbody>tr:nth-of-type(odd)>td {
		background-color: #f9f9f9;
	}
	.table-hover > tbody > tr:hover > td {
		background-color: #f5f5f5;
	}
	.table-dark th, .table-dark td, .table-dark th.rdThemeDataTableHeader {
		color: #fff;
		background-color: #212529;
	}
	.table-dark.table-striped tbody tr:nth-of-type(odd) > td {
		background-color: #2C3034;
	}
	.table .rdThemeDataTableHeader {
		color: #333333 /*TableColumnHeaderFontColor*/;
		background-color: transparent;
		font-weight: 600;
	}
	.table-md th, .table-md td {
		padding: .68rem;
	}
/*END OTHER COMPONENTS*/

/*Fix bootstrap issues*/
/*
	a.dropdown-item.active,
	a.dropdown-item:active {
		color: #fff !important;
	}
	.form-control-success,
	.form-control-warning,
	.form-control-danger {
		padding-right: 2.25rem;
		background-repeat: no-repeat;
		background-position: center right 0.5625rem;
		-webkit-background-size: 1.125rem 1.125rem;
		background-size: 1.125rem 1.125rem;
	}
	.has-success .form-control-feedback,
	.has-success .form-control-label,
	.has-success .col-form-label,
	.has-success .form-check-label,
	.has-success .custom-control {
		color: #5cb85c;
	}
	.has-success .form-control {
		border-color: #5cb85c;
	}
	.has-success .input-group-addon {
		color: #5cb85c;
		border-color: #5cb85c;
		background-color: #eaf6ea;
	}
	.has-success .form-control-success {
		background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
	}
	.has-warning .form-control-feedback,
	.has-warning .form-control-label,
	.has-warning .col-form-label,
	.has-warning .form-check-label,
	.has-warning .custom-control {
		color: #f0ad4e;
	}
	.has-warning .form-control {
		border-color: #f0ad4e;
	}
	.has-warning .input-group-addon {
		color: #f0ad4e;
		border-color: #f0ad4e;
		background-color: white;
	}
	.has-warning .form-control-warning {
		background-image: url("data:image/svg+xml; charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
	}
	.has-danger .form-control-feedback,
	.has-danger .form-control-label,
	.has-danger .col-form-label,
	.has-danger .form-check-label,
	.has-danger .custom-control {
		color: #d9534f;
	}
	.has-danger .form-control {
		border-color: #d9534f;
	}
	.has-danger .input-group-addon {
		color: #d9534f;
		border-color: #d9534f;
		background-color: #fdf7f7;
	}
	.has-danger .form-control-danger {
		background-image: url("data:image/svg+xml; charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
	}*/
	.btn-default {
		color: #292b2c;
		background-color: #fff;
		border-color: #ccc;
	}
	
	pre {
		white-space: pre-wrap !important;
	}
	/*
	.card {
		position: inherit;
	}
	.card-primary {
		background-color: #0275d8;
		border-color: #0275d8;
	}
	.card-primary .card-header,
	.card-primary .card-footer {
		background-color: transparent;
	}
	.card-success {
		background-color: #5cb85c;
		border-color: #5cb85c;
	}
	.card-success .card-header,
	.card-success .card-footer {
		background-color: transparent;
	}
	.card-info {
		background-color: #5bc0de;
		border-color: #5bc0de;
	}
	.card-info .card-header,
	.card-info .card-footer {
		background-color: transparent;
	}
	.card-warning {
		background-color: #f0ad4e;
		border-color: #f0ad4e;
	}
	.card-warning .card-header,
	.card-warning .card-footer {
		background-color: transparent;
	}
	.card-danger {
		background-color: #d9534f;
		border-color: #d9534f;
	}
	.card-danger .card-header,
	.card-danger .card-footer {
		background-color: transparent;
	}
	.card-outline-primary {
		background-color: transparent;
		border-color: #0275d8;
	}
	.card-outline-secondary {
		background-color: transparent;
		border-color: #ccc;
	}
	.card-outline-info {
		background-color: transparent;
		border-color: #5bc0de;
	}
	.card-outline-success {
		background-color: transparent;
		border-color: #5cb85c;
	}
	.card-outline-warning {
		background-color: transparent;
		border-color: #f0ad4e;
	}
	.card-outline-danger {
		background-color: transparent;
		border-color: #d9534f;
	}
	.card-blockquote {
		padding: 0;
		margin-bottom: 0;
		border-left: 0;
	}
	a.badge:focus,
	a.badge:hover {
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
	
	.was-validated .form-control:valid~.invalid-feedback,
	.was-validated .form-control:valid~.invalid-tooltip,
	.form-control.is-valid~.invalid-feedback,
	.form-control.is-valid~.invalid-tooltip,
	.was-validated .custom-select:valid~.invalid-feedback,
	.was-validated .custom-select:valid~.invalid-tooltip,
	.custom-select.is-valid~.invalid-feedback,
	.custom-select.is-valid~.invalid-tooltip {
		display: none;
	}
*/
	.breadcrumb>a+a>span.breadcrumb-item::before {
		display: inline-block;
		padding-right: .5rem;
		padding-left: .5rem;
		color: #868e96;
		content: "/";
	}
	.breadcrumb>a+span.breadcrumb-item::before {
		display: inline-block;
		padding-right: .5rem;
		padding-left: .5rem;
		color: #868e96;
		content: "/";
	}
	/*invert lambdaex navbar colors*/
	/*Header/footer*/
	.inverse .navbar.fixed-top, .navbar.fixed-top.inverse, .inverse .navbar.bottom, .navbar.bottom.inverse {
		background-color: #f1f1f1;
	}
	.inverse .navbar.fixed-top .navbar-text,
	.inverse .navbar.fixed-top .nav-item>a
	.inverse.navbar.fixed-top .navbar-text,
	.inverse.navbar.fixed-top .nav-item>a,
	.inverse .navbar-brand,
	.inverse .navbar-toggler,
	.inverse .sidebar-toggle,
	.inverse .navbar-text {
	    color: rgba(0, 0, 0, 0.5) !important;
	}
	.inverse .navbar-brand:focus, 
	.inverse .navbar-brand:hover,
	.inverse .navbar-toggler:focus,
	.inverse .navbar-toggler:hover,
	.inverse .navbar-nav .open > .nav-link,
	.inverse .navbar-nav .active > .nav-link,
	.inverse .navbar-nav .nav-link.open,
	.inverse .navbar-nav .nav-link.active,
	.inverse .navbar.fixed-top .nav-item > a:hover, 
	.inverse .navbar.fixed-top .nav-item > a:focus,
	.inverse .navbar.fixed-top .navbar-toggler:hover, 
	.inverse.navbar.fixed-top .navbar-toggler:focus
	.inverse.navbar.fixed-top .nav-item > a:hover, 
	.inverse.navbar.fixed-top .nav-item > a:focus,
	.inverse.navbar.fixed-top .navbar-toggler:hover, 
	.inverse.navbar.fixed-top .navbar-toggler:focus,
	.inverse .sidebar-toggle:hover,
	.inverse .sidebar-toggle:focus,
	.inverse .navbar-nav .nav-link:focus, 
	.inverse .navbar-nav .nav-link:hover {
	    color: rgba(0, 0, 0, 0.9)!important;
	}
	.inverse .navbar-nav .nav-link {
	    color: rgba(0, 0, 0, 0.5);
	}
	.inverse .navbar-nav .nav-link.disabled {
	    color: rgba(0, 0, 0, 0.25);
	}
	.inverse .navbar-toggler {
	    border-color: rgba(0, 0, 0, 0.1);
	}
	
	.inverse .sidebar-toggle:hover,
	.inverse .sidebar-toggle:focus,
	.inverse .navbar.fixed-top .nav-item > a:hover, 
	.inverse .navbar.fixed-top .nav-item > a:focus,
	.inverse .navbar.fixed-top .navbar-toggler:hover, 
	.inverse .navbar.fixed-top .navbar-toggler:focus,
	.inverse.navbar.fixed-top .nav-item > a:hover, 
	.inverse.navbar.fixed-top .nav-item > a:focus,
	.inverse.navbar.fixed-top .navbar-toggler:hover, 
	.inverse.navbar.fixed-top .navbar-toggler:focus,
	.inverse .navbar-nav .open > .nav-link,
	.inverse .navbar-nav .active > .nav-link,
	.inverse .navbar-nav .nav-link.open,
	.inverse .navbar-nav .nav-link.active,
	.nav-sidebar > div > div.nav-sidebar-wrapper>div.active>a, 
	.nav-sidebar > div > div.nav-sidebar-wrapper>div:hover>a, 
	.nav-sidebar > div > div.nav-sidebar-wrapper>div>a:focus {
		background-color: rgba(0,0,0,.1);
	}
	.inverse .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
	/*Invert Sidebar*/
	.nav-sidebar.inverse, .inverse .nav-sidebar {
		background: rgba(255, 255, 255, 1);
	}
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div>a,
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div>a {
		border-color: rgba(0, 0, 0, 0.1);
	}
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div>a, 
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div ul a,
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div>a, 
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div ul a {
		color: rgba(0, 0, 0, 0.5);
	}
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div ul a:hover, 
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div ul li.active>a, 
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div ul a:focus, 
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div ul > li.active a,
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div.active>a,
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div:hover>a,
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div ul a:hover, 
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div ul li.active>a, 
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div ul a:focus, 
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div ul > li.active a,
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div.active>a,
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div:hover>a {
		color: rgba(0,0,0,.9);
	}
	.inverse .nav-sidebar > div > div.nav-sidebar-wrapper>div>ul,
	.inverse.nav-sidebar > div > div.nav-sidebar-wrapper>div>ul {
		background: rgba(0, 0, 0, .04);
		border-left: 4px solid rgba(0, 0, 0, .2);
	}
	/*End inverse*/
	.tooltip {
		z-index: 9002;
	}
	@media (max-width: 575px) {
		.hidden-xs-down {
			display: none !important;
		}
	}
	@media (min-width: 576px) {
		.hidden-sm-up {
			display: none !important;
		}
	}

	@media (max-width: 767px) {
		.hidden-sm-down {
			display: none !important;
		}
	}
	@media (min-width: 768px) {
		.hidden-md-up {
			display: none !important;
		}
	}
	@media (max-width: 991px) {
		.hidden-md-down {
			display: none !important;
		}
	}
	@media (min-width: 992px) {
		.hidden-lg-up {
			display: none !important;
		}
	}
	@media (max-width: 1199px) {
		.hidden-lg-down {
			display: none !important;
		}
	}
	@media (min-width: 1200px) {
		.hidden-xl-up {
			display: none !important;
		}
	}
	.hidden-xl-down {
		display: none !important;
	}
	.invisible {
		visibility: hidden !important;
	}
	.hidden-xs-up {
		display: none !important;
	}
/*END Fix bootstrap issues*/