<META name="viewport" content="width=device-width, initial-scale=1" />
<LINK href="_SupportFiles/Framework.images.favicon.ico" type="image/x-icon" rel="shortcut icon" />
<SCRIPT src="_SupportFiles/Framework.js.Application.js" defer="defer"></SCRIPT>
<!--[if lt IE 9]>	<SCRIPT src="_SupportFiles/Framework.js.html5shiv.js"></SCRIPT>	<SCRIPT src="_SupportFiles/Framework.js.respond.min.js"></SCRIPT><![endif]-->