p,
.ThemeTextLargest ,
.ThemeTextLarger ,
.ThemeTextLarge ,
.ThemeText ,
.ThemeTextSmall ,
.ThemeTextSmaller ,
.ThemeTextSmallest {
  font-family: 'Segoe UI', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, 'Arial', 'sans-serif';
	color: #363b42;
	font-weight: normal;
	min-height: 100%;
    position: static;
}