/* Default CSS Stylesheet for the Ad Hoc Report Builder */
/* Specify font sizes in pixels for better cross-browser compatibility */

p
{
  margin: 0;
  padding: 0;
}

#menu
{
	background-image: url(Images/topBg.jpg);
	padding-bottom: 2px;
}

#menu a
{
	color: #21488b;
	margin: 0px 5px;
	font: bold 13px Arial, Helvetica, sans-serif;
}

#menu .menubutton
{
	border:0; 
	vertical-align: middle; /* Centers icons on inline text. */
}

#menu_GroupSelector
{
		color: #354f6b;
		margin: 0 0 0 28px; 
		white-space: nowrap;
}

#menu_DBSelector
{
		color:#68786F;
		margin: 0 0 0 28px; 
		white-space: nowrap;
}

#submenu {
	background-color: #f9feec;
	padding: 5px 5px 5px 18px;
	border-top: 1px Solid #dbe1c8;
}

#submenu  ul {
	margin: 0;
	padding: 0;
	}

#submenu li {
	display: inline;
	padding-left: 3px;
}

#submenu li a {
	font: 13px Arial, Helvetica, sans-serif;
	color: #005c9c;
}
	
#submenu li a.current {
	font-weight:bold;
	font: 13px Arial, Helvetica, sans-serif;
	color: #005c9c;
}

#functions
{
	float: right;
	margin: 0px 10px 5px 5px;
	padding: 5px 5px 0 0;
	color: #354f6b;
	font: normal 12px Arial, Helvetica, sans-serif;
}

#functions a
{
	color: #354f6b;
	font: normal 12px Arial, Helvetica, sans-serif;
}

#functions1
{
	float: right;
	margin: 5px 5px;
	color: White;
	font: normal 12px Arial, Helvetica, sans-serif;
}

#functions1 a
{
	color: White;
	font: normal 12px Arial, Helvetica, sans-serif;
}

#navtrail /*For title text*/
{
	color: #333333;
	font: bold 13px Arial, Helvetica, sans-serif;
}

#navtrail a
{
	color: #333333;
	font-weight: bold;
	white-space: nowrap;
}

.bctrail /*For title background*/
{
	background-color: #f5f6f0;
	border-top: 2px Solid #c6d1a5;
	border-bottom: 1px Solid #cfd1ca;
	padding: 6px 5px 4px 18px;
	font: bold 13px Arial, Helvetica, sans-serif;
}

.bctrail a
{
	font-weight: normal;
	white-space: nowrap;
}

.separator
{
	padding-left: 3px;
	padding-right: 6px;
}

/* General page styles. */
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #FFFFFF;
	font: normal 13px Arial, Helvetica, sans-serif;
}

form 
{
	margin: 0;
	padding: 0;
}

h1 
{
	margin-left:2px;
	font: bold 14px/16px Arial, Helvetica, sans-serif;
	color: #444444;
}

/*h2 
{
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #444444;
}*/

h2 
{
	ibackground: #ebebe9;
	background-image: url(../../ahImages/h2bg.png);
	color: #333333;
	border-top: solid 1px #c5c5c5;
	border-right: solid 1px #c5c5c5;
	border-left: solid 1px #c5c5c5;
	border-bottom: solid 2px #c5c5c5;
	font: bold 13px Arial, Helvetica, sans-serif;
	margin-top: 14px;
	padding: 2px 0px 2px 8px;
	background-position: top left; 
}

h3
{
	margin: 4px 2px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
}

form {
	margin-left:  0px;
	margin-right:  0px;
}

input {
	font: 12px Arial, Helvetica, sans-serif;
}

textarea {
	font: 11px Arial, Helvetica, sans-serif;
}

select {
	font: 12px Arial, Helvetica, sans-serif;
}

option {
	font: 12px Arial, Helvetica, sans-serif;
}

td {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

a:link {	
	text-decoration: none;
	color: #21488b;
	cursor:pointer;
}
		
a:visited {	
	text-decoration: none;
	color: #21488b;
}	
		
a:active {	
	text-decoration: none;
	color: #21488b;
}	
		
a:hover	{
	text-decoration: underline;
	color: #21488b;
}

/* Styles for the report list. */

#ReportGrid .ReportLink {
	font: bold 12px Arial, Helvetica, sans-serif;
}

.legend
{
	background-color: #eaf3d2; 
	margin: 14px 0px;
	padding:4px;
	border: solid 1px #c7d59e;
	color: #333333;
}

.legend dl
{
	display:inline;
	font-weight:normal;
}

.legend dt
{
	display:inline;
	margin-left: 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
}

.legend dd
{
	display:inline;
	margin-left: 5px;
	font: normal 11px Arial, Helvetica, sans-serif;
}

.treenodeSelected 
{
	font-weight:bold;
}
.treediv
{
	font-weight:normal;
}

/* Styles for the MSL user control. */
.MSL
{
	/* Min-width rule for CSS compliant browsers */
	min-width: 300px;
	width: 300px;
	/* IE Dynamic Expression workaround to set the width */
   /* width:expression(this.clientWidth <= 300 ? "300px" : "" ); */
}

.mslbutton {
	display:block;
	border-style:none;
	margin: 25px 3px;
}

/* Styles for the MS GridControl. */
.grid, .gridWline 
{
	background-color:White;
	margin: 14px 0px;
	border-top: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	border-right: 1px solid #a9a9a9;
	border-bottom: 1px solid #a9a9a9;
}

.grid td, .gridWline td {

	padding: 4px;
	vertical-align:middle;
}

.gridheader {
	font: bold 12px Arial, Helvetica, sans-serif;
	background-color: #dee8c1;
	text-align: center;
}

.gridheader TH{
	padding: 0 6 0 6;
	border-bottom: 1px Solid #90a359;
}

.gridfooter {
	background-color: #eaf3d2;
}

.gridalternaterow, .gridalternaterownocolor {
	background-color: #fbfdf4;
}

tr.gridrow:hover td, tr.gridalternaterow:hover td {background-color: #ffffdd; }

.SelectedRow 
{
	background-color: #ffffdd;
}

/* General page styles */
.help 
{
	background-color: #DDDDDD;
	background-image: url(../../ahImages/iconHelpText.gif);
	background-repeat:no-repeat;
	font: normal 12px Arial, Helvetica, sans-serif;
	border: solid 1px #CCCCCC;
	color: Black;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
}

.info 
{
	background: #eeeeec url(../../ahImages/iconInfo.gif) no-repeat;
	color: #333333;
	border: solid 1px #c1c1c1;
	font: normal 12px Arial, Helvetica, sans-serif;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
}

.validation_error
{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: Red;
}

.errorWithImage 
{
	background: #FFDDCC url(../../ahImages/iconError.gif) no-repeat;
	border: solid 1px #EECDBC;
	font: normal 12px Arial, Helvetica, sans-serif;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
	text-align:left;
}

.error 
{
	background-color: #FFDDCC;
}

.warning
{
	background: #faf9f9 url(../../ahImages/iconWarning.gif) no-repeat;
	border: solid 1px #e14b03;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #e14b03;
	margin-top: 14px;
	padding: 2px 0px 2px 20px;
	background-position: top left; 
}

.warningnNoImage
{
	background-color: #FFEEBB;
}

.spacer
{
	cursor: default;
}

.command 
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	 cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:10px; 
    border:solid 1px #C9D5DF;
    color:#3E5347;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#B6DB4B);
}

/*
.block { position: relative; display: inline-block; } 
* html .block { display: inline; } 
*:first-child+html .block { display: inline; }

.outerbox 
{
    border-left:solid 1px #bbb;
    border-right:solid 1px #bbb;
    height:18px;
}

.command 
{
    display:-moz-inline-box;display:inline-block;
    height:20px;
  vertical-align: middle; cursor: pointer; cursor: hand;  
  background: url(Images/add_back.png);
	border-style:none;
    margin-top:-1px;
}
*/

.normaltab
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	 cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:9px; 
    border:solid 1px #C9D5DF;
    color:#3E5347;
    text-decoration:none;
    background-color: #D8D8D8;
}

.selectedtab
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	 cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:9px; 
    border-top: solid 1px #C9D5DF;
    border-left: solid 1px #C9D5DF;
    border-right: solid 1px #C9D5DF;
    border-bottom: solid 1px #FFFFFF;
    color:#3E5347;
    text-decoration:none;
    background-color: #FFFFFF;
}

/* Mozilla, Opera styles to preserve disabled look for command buttons. */
.command[disabled='true'] 
{
	color:#999; 
}
.command[disabled='false'] 
{
	color:#009; 
}
.command[disabled] 
{
	padding:0px 6px; /* Firefox 0.8 bug; changes the size. */
	color:#999; 
}

.clcCommand
{
    height:18px; 
    width:120px;
    padding-top:1px; 
    padding-bottom:1px; 
	 margin-bottom:15px;
	 margin-left: 40px;
    cursor:hand; 
	 cursor: pointer; /* All other browsers. */
	 color:#408bbd;
    text-align:center; 
    vertical-align:middle; 
    font-size:12px; 
    border:solid 1px #C9D5DF;
    color:#3E5347;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#B6DB4B);
}


.clcCommand1  
{
    background: url(Images/gBack.gif);
	 border-left:solid 1px #cccccc;
    border-right:solid 1px #cccccc;
	 idisplay:-moz-inline-box;display:inline-block;
    height:19px;
    padding-top: 1px;
    cursor: pointer;  
    font-size: 12px; 
	 color: #005c9c;
	 padding: 0 9px 0 13px;
	 color:#408bbd;
	 background-color: #CCCCCC;
	 font-size: 12px; 
	 margin-left: 40px;
}


/* Mozilla, Opera styles to preserve disabled look for command buttons. */
.clcCommand[disabled='true'] 
{
	color:#999; 
}
.clcCommand[disabled='false'] 
{
	color:#009; 
}
.clcCommand[disabled] 
{
	padding:0px 6px; /* Firefox 0.8 bug; changes the size. */
	color:#999; 
}

.detailpanel
{
	margin: 14px 0px;
	border: dashed 2px #5e7531;
	padding: 5px;
	background: #ddd;
}

.detailDiv
{
	margin: 5px 0px;
	padding: 5px;
	background: #ccc;
}

.framed 
{
	border: solid 1px #c7d59e; 
	padding:3px; 
	margin-bottom:10px;
}

/* Form submit button styles. (Save, Delete, Cancel, etc.) */
#actions
{
	margin-top:14px;
}

/* Navigation element styles used in the Report Wizard. */
#myNavBar_navlinks {
	margin: 10px 0;
	}

#myNavBar_navlinks ol,#myNavBar_navlinks ul {
	margin: 0px 0px 0px -2px;
	padding: 0;
	}

#myNavBar_navlinks li {
	display: inline; 
}

#myNavBar_navlinks li a {
	background: #fff;
	border-top: 1px solid #cad8e8;
	border-left: 1px solid #cad8e8;
	border-bottom: 1px solid #68786F;
	border-right: 1px solid #68786F;
	padding: 2px 5px;
	margin: 0px 2px;
	color: #000;
	text-decoration: none;
	font: normal 11px/19px Arial, Helvetica, sans-serif;
	white-space: nowrap;
	}
/* Doesn't work due to the Response.Redirect. Use currentpage class instead. */
/*
#myNavBar_navlinks a:active	
{
	background: #eef;
}
*/

#myNavBar_navlinks .currentpage {
	background-color: #68786F;
	color: #FFFFFF;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #354f6b;
	border-right: 1px solid #354f6b;
	font-weight:bold;
}

#myNavButtons_navbuttons {
	margin-top:14px;
}

#myNavButtons_navbuttons a {
	background-color: #f5f6f0;
	color: #333333;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #354f6b;
	border-right: 1px solid #354f6b;
	height: 18px;
	padding: 2px 5px;
	margin: 0 10px 0 0;
	text-decoration: none;
	text-align: center;
	font: bold 11px/19px Arial, Helvetica, sans-serif;
	white-space: nowrap;
}
	
#myNavButtons_navbuttons a#myNavButtons_Back {
	background-image: url(../../ahImages/arrowBack.gif); 
	background-repeat: no-repeat; 
	background-position: left center;
	padding: 3px 5px 2px 15px;
}

#myNavButtons_navbuttons a#myNavButtons_Next {
	background-image: url(../../ahImages/arrowNext.gif);  
	background-repeat: no-repeat; 
	background-position: right center;
	padding: 3px 15px 2px 5px;
}

.InactiveDiv
{
	background-color: #eaf3d2; 
	margin:14px 0px;
	padding:4px;
	border: solid 1px #354f6b;
	color: #333333;
}

.InactiveFHeader {
	background: #354f6b;
	color:White;
	height: 18px;
	padding: 2px 5px;
	text-align: center;
	font: bold 13px Arial, Helvetica, sans-serif;
}

.InactiveFColumnHeader {
	background-color: #deedb3;
	color: #68786F;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #BDC7CE;
	border-right: 1px solid #BDC7CE;
	height: 14px;
	padding: 2px 5px;
	margin: 0px 0px 15px 0px;
	font: bold 11px/19px Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

.ViewButton {
	background-color: #deedb3;
	color: #68786F;
	border-top: 1px solid #BDC7CE;
	border-left: 1px solid #BDC7CE;
	border-bottom: 1px solid #354f6b;
	border-right: 1px solid #354f6b;
	height: 18px;
	padding: 2px 5px;
	margin: 0 10px 0 0;
	text-decoration: none;
	text-align: center;
	font: bold 11px/19px Arial, Helvetica, sans-serif;
	white-space: nowrap;
}
	
.NoWrap {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #444444;
}

.DescriptionField {
	color: #354f6b;
	margin-left : 10px;
	width: 250px; height: 200px; overflow: auto;
}

/* Search filter */

.searchDiv 
{
	background-color: #fafcf4;
	border: dotted 2px #b6d756;
	margin-top:10px;
	padding:10px;
}

.collapsePanelHeader 
{
	border-bottom: solid 1px #bfc7a9;
	color: #54632a;
	height:20px;
	font-weight:bold;
	font-size:15px;
	width:99%;
}

.collapsePanelHeader2
{
	background-color: #eaf3d2; 
	padding:2px;
	border: solid 1px #c7d59e;
	color: #333333;
	height:24px;
	font-weight:bold;
}

.collapsePanelHeader3 
{
	background-color: #ededeb; 
	margin-bottom:10px;
	border-top: solid 1px #c5c5c5;
	border-right: solid 1px #c5c5c5;
	border-left: solid 1px #c5c5c5;
	border-bottom: solid 2px #c5c5c5;
	height:22px;
}

.collapsePanelHeader3 TD
{
	font-weight: bold;
	font-size:13px;
	color: #333333;	
}

/* End of Search filter */

/* Preview panel */

.previewDiv 
{
	border: solid 1px #c7d59e;
}

.previewCollapse 
{
	background-color: #eaf3d2; 
	padding:2px;
	border: solid 1px #c7d59e;
	color: #333333;
	height:20px;
	font-weight:bold;
}

/* End of Search filter */

.tdConfig 
{
	font: 13px Arial; 
	border: solid 1px #c7d59e;
	padding: 10px;
 }

.divConfig 
{
	background-color: #f9feec; 
	border-bottom: solid 1px #CCCCCC;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight:bold;
	height:24px;
	padding-top:7px;
	vertical-align:middle;
	text-align: center;
}

.divInnerConfig 
{
	margin-left:5px;
}

.tdTitle 
{
	background-color: #EAE0CE;
	padding:3px;
	width:102px;
}

.title 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align:center;
}

.editLink 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:normal;
	float:right;
}

.dataTab
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #c7d59e;
	border: 1px Solid #68786F;
	padding: 3px 0px 0px 3px;
	width: 161px;
	margin: 0 0 3px 0;
}

.dtActive
{
	color: red;
	background-color: #f4f7ed;
}

.contentTabInside, .contentTab
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #E7E7E7;
	border-top: 1px Solid #68786F;
	border-left: 1px Solid #68786F;
	border-bottom: 1px Solid #68786F;
	padding: 3px 0px 0px 0px;
	margin: 0 0 3px 0;
}

.contentTab 
{
	border: 1px Solid #68786F;
	width: 161px;
	padding: 3px 0px 0px 3px;
}

.ctActive
{
	color: red;
	background-color: #F7F7F7;
}

.vertNavButton, .vertNavButtonData, .vertNavButtonDataLast
{
	background-color: white;
	color: #68786F;
	border-top: 1px solid #BDC7CE;
	height: 14;
	padding: 2px 5px;
	margin: 0 0 0 0;
	text-decoration: none;
	font: 11px Arial;
	white-space: nowrap;
	text-align:right;
}

.vertNavButtonData, .vertNavButtonDataLast
{
	border-left: 1px solid #BDC7CE;
}

.vertNavButtonDataLast 
{
	border-bottom: 1px solid #BDC7CE;
	margin: 0 0 3px 0;
}

.Active 
{
	background-color: #ffffcc;
	color:#68786F;
	font: bold 11px Arial;
}

.tinyImage 
{
	border: 3px solid #E7E7E7;
	width: 7px;
	padding: 2px;
}

.paddedImage
{
	padding: 2px;
}

.spanObject
{
	font-size: 9px;
	font-weight: normal;
	color: black;
}

.tdWizardBody 
{
	vertical-align:top;
	/*Amit 07/25/07: Commented to resize the panel size based on Grids in Wizard.
	/*width:560px;*/
	width: 100%;
	padding-left:5px;
}
	
.wizardBody 
{
	background-color: #FFFFFF;
	border: 1px solid #a9a9a9;
	padding: 10px;
	overflow: auto; width: auto !important; overflow-x: hidden !important; position: relative;
}

.dataBody 
{
	background-color: #f4f7ed;
	border: 1px solid #68786F;
	padding: 10px;
}

.tabLink 
{
	width:40px;
	padding:5px;
	cursor:hand;
	color:#005c9c;
	text-decoration:underline;
	
}

.tabLayout
{
	width:550px;
	text-align:right;
	float: right;
	cursor:hand;
	color:#005c9c;
	text-decoration:underline;
}

/*Popup Control*/
.popupControl{
	background-color:#FFF8C6;
	border-width:1px;
	border-style:solid;
	border-color:Gray;
	padding:5px;
	position:absolute;
	visibility:hidden;
}

/*Modal Popup*/
.modalBackground 
{
	background-color:#f4f7ed;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.modalPopup 
{
	background-color: #f5f6f0;
	border-width: 2px;
	border-style: solid;
	border-color: #7a963b;
	overflow: auto;
}
.modalPopupBckgndColor
{
	background-color: #f5f6f0;
}
.modalPopupBackground
{
	background-color: #f5f6f0;
    padding: 5px 10px 10px 10px;
}
.modalDiv 
{
	padding: 10px;
}

/*.modalPopupHandle 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #a6c250;
	background-color: #dee8c1;
	padding: 3px 0px 0px 6px;
	vertical-align:middle;
	margin: 0 0 3px 0;
	height:22px;
}*/
.modalPopupHandle 
{ 
	background-color: #dee8c1; color: #000000;
	background-position:left bottom; background-repeat:repeat-x; cursor:move; 
	font-weight:bold; height:22px; margin:0; overflow:hidden; font-size: 12px; 
	padding:3px 0 3px 6px; vertical-align:middle; width: auto !important; }



.savePopup
{
	background-color: white; /*#edf5d7;*/
	border-width: 2px;
	border-style: solid;
	border-color: #111111;
	width: 180px;
	height: 68px;
}

.lblSavePopup 
{
	font: 9px arial, Helvetica, sans serif;
}

.showDataPopup { height: auto !important; max-height:320px; }
*:first-child + html #ifrmDS { width: 100% !important; }

*:first-child + html #pnlSelectDataControl #UP1 > table { width:100%; }

* + html #divTData { overflow: hidden !important; }


/*.modalBackground {
	background-color:#C0C0C0;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#FFF8C6;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:10px;
	width:350px;
}*/

.sampleStyleA {
	background-color:#FFF;
}

.sampleStyleB {
	background-color:#FFF;
	font-family:monospace;
	font-size:9px;
	font-weight:bold;
}

.sampleStyleC {
	background-color:#ddffdd;
	font-family:sans-serif;
	font-size:9px;
	font-style:italic;
}

.sampleStyleD {
	background-color:Blue;
	color:White;
	font-family:Arial;
	font-size:9px;
}

.hidden 
{
	visibility:hidden;
}

.reportLayoutObject
{
	color: black;
	cursor: hand; /* Internet Exporer only. */
	cursor: pointer; /* All other browsers. */
	border: solid 1px #354f6b;
	background-color: #FFE87C;
	width:100px;
	text-align:center;
}

.centered 
{
	width:100%;
	height:100%;
	text-align:center;
}

.smallText 
{
	width:20px;
}

.imageButton 
{
	cursor: hand; /* Internet Exporer only. */
	cursor: pointer; /* All other browsers. */
	border: solid 1px gray;
	margin: 3px;
}

.imageButtonDisabled 
{
	margin: 3px;
}

.Arrow {
	font-family:Webdings;
	font-size:10pt;
	cursor:hand;
	width:10px;
	line-height:10px;
}

.shadeCommand 
{
    height:18px; 
    padding-top:1px; 
    padding-bottom:1px; 
    cursor:hand; 
	 cursor: pointer; /* All other browsers. */
    text-align:center; 
    vertical-align:middle; 
    font-size:8px; 
    border:solid 1px #C9D5DF;
    color:#3E5347;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#B6DB4B);
}

.rightJustify 
{
	text-align:right;
}

.vAlignMiddle 
{
	vertical-align: middle;
}

.divForm 
{
	padding:15px; 
}

.gridForm
{
    margin: 15px 15px 0 15px;
}
.limiting {width:90%;}

*:first-child + html #pnlDataSourcePopup { width:806px; }

.topBar 
{
	background-color: #F7F7F7;
	padding: 3px 5px 3px 18px;
	Height: 30px;
	border-bottom: Solid 1px #B0C1D4;
}

.divButtons 
{
	padding-top:10px;
}

.broken 
{
	color:Red;
}

.expired
{
	color:Gray;
}

.AboutBody 
{
	background-image:url(../../ahImages/About_Adhoc.jpg);
	background-repeat:no-repeat;
}

.CheckAll 
{
	color: #C8C8C8;
}

/* New classes  by Calvin. */

.divUserGroup {
	background-image: url(Images/filter1.jpg);
	padding: 3px 3px 3px 5px;
	border-right: 1px solid #7C9537;
	border-bottom: 1px solid #7C9537;
	border-left: 1px solid #c3dd82;
	border-top: 1px solid #c3dd82;
}

#functions
{
	margin-top: 10px;
}

#menu_Logout
{
	margin-right: 15px;
}

/* Dashboard classes */
.panelConfig
{
	background-color: white;
	color: #68786F;
	border-top: 1px solid #BDC7CE;
	height: 40px;
	padding: 2px 5px;
	margin: 0 0 0 0;
	text-decoration: none;
	font: 11px Arial;
	white-space: nowrap;
	text-align: center;
}

.contentTabDashboard
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #E7E7E7;
	border: 1px Solid #68786F;
	padding: 3px 0px 0px 0px;
	margin: 0 0 3px 0;
}

.dashColumn
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #c7d59e;
	border: 1px Solid #68786F;
	padding: 3px 0px 0px 3px;
	width: 126px;
	margin: 0 0 3px 0;
}

/* Email Info Styles */
.tblBody {
	margin: 10px;
	padding: 10px;
	width: 99%
}

.trBody {
	width: 100%
}

.tdBody {
	width: 100%
}

.lbl 
{
	margin-left: 2px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

.txt {
	width: 98%
}

.txtBody
{
	margin-left: 10px;
	font: normal 12px Arial, Helvetica, sans-serif;
	width: 98%;
}

.NoShow 
{
    display:none;
	 background-color:#e7e8e9;
}

/* Help stuff */

.bodHelp { background-image:url(Images/Help/bg.gif); margin-left:10px; }

.titleImage 
{
    background:url("Images/Help/title.gif") no-repeat transparent;
	width:438px;
	height:72px;

}

#HelpMenu_navcontainer { margin-left:0px; margin-right:30px; }

#HelpMenu_navcontainer ul { list-style-type:none; margin:0; padding:0; }

#HelpMenu_navcontainer li { margin:0 0 1px 0; }

#HelpMenu_navcontainer a { background-color:#68786F; color:#FFFFFF; display:block; padding:5px 5px 5px 10px; text-decoration:none; width:175px; }

#HelpMenu_navcontainer a:hover { background-color:#91B428; color:#ffffff; text-decoration:none; }

#HelpMenu_navcontainer ul ul li { margin:0 0 1px 0; }

#HelpMenu_navcontainer ul ul a { background-color:#677F27; border-top:1px Solid #000000; color:#FFFFFF; display:block; padding:3px 5px 3px 20px; text-decoration:none; width:155px; margin-left:10px; }

#HelpMenu_navcontainer ul ul a:hover { background-color:#C3C9C5; color:#677F27; text-decoration:none; }

#HelpMenu_navcontainer .currentpage { background-color:#91B428; color:#FFFFFF; }

.homeBtn { background-color:#254974; border-bottom:1px Solid #678CB8; border-left:1px Solid #B5CDE4; border-right:1px Solid #678CB8; border-top:1px Solid #B5CDE4; color:#FFFFFF; padding:2 8 3 10; text-decoration:none; }

.link { background-color:#254974; color:#FFFFFF; float:left; padding:5px 5px 5px 5px; text-decoration:none; }

.floatright { float:right; margin:0 0 10px 10px; }

.floatleft { float:left; margin:10px 50px 0 0; }

.groupHeader { background-color:#f5f6f0; background-position:top left; border:solid 1px #CCCCCC; color:#333333; margin-bottom:10px; padding:2px 0px 2px 20px; font-weight: bold; }

#menu .menuicon
{
    display:none;
}

.mnuReports, .mnuProfile, .mnuConfig, .mnuReportsSelected, .mnuProfileSelected, .mnuConfigSelected  
{
  float: left;
  padding: 9px 5px 0 40px;
  height:34px;
  margin-top: 5px;
}

.mnuReports, .mnuReportsSelected 
{
  background: url(Images/iconReport.gif) no-repeat;
}

.mnuProfile, .mnuProfileSelected 
{
  background: url(Images/iconUserProfile.gif) no-repeat;
}

.mnuConfig, .mnuConfigSelected 
{
  background: url(Images/iconConfiguration.gif) no-repeat;
}

.divRWform 
{
	padding:5px; 
}

.rwMenuBorder
{
	border: solid 1px #c7d59e;
}

.rwMenu
{
	background-color: #f4f7ed; 
	color: #333333;
	height:17px;
	border-top: solid 1px #c7d59e;
	vertical-align:text-bottom;
	padding-bottom:4px;
}

.rwMenu a
{
	color: #333333;
}

.rwPadded
{
    padding: 2px 0 2px 8px;
}

.rwMenuButton 
{
  padding: 0 10px 10px 10px;
  font-size: larger;
}

.rwMenuButton:hover
{
  color: #816D74;
  text-decoration: none;
}

.rwMenuButtonSelected 
{
  padding: 0 10px 10px 10px;
  font-size: larger;
  background-color: #FFFFFF;
  color: #354f6b;
  border: solid 1px #c7d59e;
}

.rwMenuButtonSelected:hover
{
  text-decoration: none;
}

/* Button classes
.block { position: relative;display:-moz-inline-box;display:inline-block; } 

* html .block { display: inline; } 
*:first-child+html .block { display: inline; }
*/
.outerbox
{
    margin: 1px 0 1px 0;
     display:inline-block;
     height:19px; line-height:19px;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

.innerbutton
{
background:url("Images/gBack.gif") repeat scroll center bottom transparent;
border:medium none;
color:#000000;
cursor:pointer;
font:12px Arial, Helvetica, sans-serif;
height:21px;
margin: -1px 0 -1px 0;
outline:0 none;
}

.innerbutton:hover
{
    color:#589309;
}

.innerbutton:disabled
{
    color:#999999;
}

.innerbutton:disabled hover
{
    color:#999999;
}
/*
.inactive 
{
  background: url(Images/gBack.gif);
}

.active
{
  background: url(Images/gBack_active.gif);
}
*/ 
.dropdown 
{ 
width: 13px;
background: url(Images/dropBtn.png) no-repeat scroll center bottom transparent; 
border:medium none;
color:#000000;
cursor:pointer;
font:12px Arial, Helvetica, sans-serif;
height:21px;
margin: -1px 0 -1px -1px;
outline:0 none;
} 

/*ReportWizard Left Content Menu*/
.rwImageButton 
{
	cursor: hand; /* Internet Exporer only. */
	cursor: pointer; /* All other browsers. */
}

.rwImageButtonSelected
{
    background-color:#FFEE99;
}

.rwCMContentCell {
	border: solid 3px white;
    padding: 0px; margin:0px;
}
.rwCMContentCellSelected
{
	border: solid 3px #ffee99;
    padding: 0px; margin:0px;
}
    /*

.rwCMDataStruct
{
	background-color: #d0d0d0;
	text-align: left;
}
*/

/*Hover Menu*/
.popupMenu {
	position:relative;
	visibility:hidden;
	background-color: #FFFFFF;
	/*border: solid 1px gray;*/
	border: 1px outset #e0efb6;
	z-index: 10;
	padding: 6px 6px 6px 6px;
}
.AddpopupMenu {
	position:relative;
	display:none;
	background-color: #FFFFFF;
	border: 1px outset #e0efb6;
	z-index: 10;
	padding: 6px 6px 6px 6px;
	min-width:100px;
}
.AddpopupMenu div a { background-color:#FFFFFF; display:block; }

/*This class will be a copy of popupMenu except for display:none 
as it causes the hover menu positioning issues in at least the light theme.*/
.ifrmPopupMenu 
{
	position:relative;
	visibility:hidden;
	background-color: #FFFFFF;
	/*border: solid 1px gray;*/
	border: 1px outset #e0efb6;
	z-index: 10;
	padding: 6px 6px 6px 6px;
}
.popupMenu li, .AddpopupMenu li {
	background-color: #98CB00;
}
.ifrmPopupMenu li {
	background-color: #98CB00;
}
.hoverMenuActionLink
{
	padding-left: 3px;
	padding-bottom: 3px;
}

.functionLinkButton
{
	background: #fff;
	border-top: 1px solid #cad8e8;
	border-left: 1px solid #cad8e8;
	border-bottom: 1px solid #68786F;
	border-right: 1px solid #68786F;
	padding: 5px 5px;
	margin: 0px 2px;
	color: #000;
	text-decoration: none;
	font: normal 11px/19px Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

/*.searchDiv{ 
  height: 28px;
  margin: 9px 0 8px 0; 
  font: 11px Tahoma; 
  padding-top:8px;
}
*/

.searchDiv span{
  float: left;
  padding: 0 3px 0 5px;
  font: 15px Arial;
  font-weight: bold;
  color: #4c4c4c;
}
/*
.formSearch{
  font: 11px Arial;
  padding-bottom:10px;
  }
*/
input.searchText{
  font: 13px Arial;
  border: 1px solid #aaaaaa;
  border-right:0;
  width: 150px;
  height: 17px;
  line-height:16px;
  padding: 0px 2px 0px 2px;
  margin-left:5px;
  vertical-align:top;
  margin-top: 1px;
  }
*:first-child + html input#srch_imgClear { margin-top:1px; }
.btnClear { vertical-align:top; }
/*
.btnClear
{
    vertical-align:inherit;
    margin-top:1px;
}
*/
.pushbutton 
{
    display:inline-block;
    height:17px;
    margin: -1px 0 0 0;
	border-style:none;
    cursor: pointer; cursor: hand;  
    font-size: 10px; 
    padding: 3px 9px 0 9px;
}

.pushbutton:visited, .pushbutton:active, .pushbutton:link 
{
  color: black;
}

.pushbutton:hover
{
    color:#589309;
    text-decoration:none;
}

.rightborder 
{
    border-right:solid 1px #bbb;
}

.pushed 
{
  background: url(Images/btn_pushed.png);
  color: #fff;
}

.pushed:hover, .pushed:visited, .pushed:active, .pushed:link  
{
  color: #fff;
}

.iconAction{cursor: pointer; cursor:hand;}

.tdArrowL 
{
    background-image:url(Images/LeftArrow.gif);
    background-repeat:no-repeat;
    cursor:hand;
    visibility:hidden;
	 width:20px;
	 height:16px;
}

.tdArrowR 
{
    background-image:url(Images/RightArrow.gif);
    background-repeat:no-repeat;
    cursor:hand; 
    visibility:hidden;
	 width:20px;
	 height:16px;
}

.tab_header
{
    position:relative;
}

/* tabs default layout */
.tab_default .tab_header {white-space:nowrap;}
.tab_default .tab_outer {display:-moz-inline-box;display:inline-block}
.tab_default .tab_inner {display:-moz-inline-box;display:inline-block}
.tab_default .tab_tab {margin-right:4px;overflow:hidden;text-align:center;cursor:pointer;display:-moz-inline-box;display:inline-block; }

/* tabs xp theme */
#UPMenu .tab_header { height:21px; padding-left:5px; position:relative; background:url(Images/tab-line.gif) repeat-x bottom;}

#UPMenu .tab_header span { float:left; }

.tab_xp .tab_header {white-space:nowrap; font-family:arial,verdana,tahoma,helvetica;font-size:12px;}
.tab_xp .tab_outer {padding-right:4px;background:url(Images/tab-right.gif) no-repeat right;height:21px;}
.tab_xp .tab_inner {padding-left:3px;background:url(Images/tab-left.gif) no-repeat;}
.tab_xp .tab_tab {height:13px;padding:4px;margin:0;background:url(Images/tab.gif) repeat-x;}
.tab_xp .tab_hover .tab_outer {background:url(Images/tab-hover-right.gif) no-repeat right;}
.tab_xp .tab_hover .tab_inner {background:url(Images/tab-hover-left.gif) no-repeat;}
.tab_xp .tab_hover .tab_tab {background:url(Images/tab-hover.gif) repeat-x;}
.tab_xp .tab_active .tab_outer {background:url(Images/tab-active-right.gif) no-repeat right;}
.tab_xp .tab_active .tab_inner {background:url(Images/tab-active-left.gif) no-repeat;}
.tab_xp .tab_active .tab_tab {background:url(Images/tab-active.gif) repeat-x;}
.tab_xp .tab_body {font-family:arial,verdana,tahoma,helvetica;font-size:10pt;border:1px solid #999999;border-top:0;padding:8px;background-color:#ffffff;}
.tab_xp .tab_data {height: 380px; overflow: auto; padding-top:5px; border:solid 1px #bbb; margin-top:-1px; padding:5px;background-color:White;}
.tab_data td .outerbox { margin-top: 0; }
.tab_xp .tab_disabled { color: #AAAAAA;}

.hiPopupMenu {
	position:relative;
	visibility:hidden;
	ibackground-color:#fbfff1;
	background-color:#f5f6f0;
	border: 2px Solid #CCCCCC;
	padding: 10px;
	z-index:40;
	font: normal 12px Arial, Helvetica, sans-serif;
	text-align:left;
	width:450px;
}

.clsTitle 
{
    background-color:#fff;
    font: normal 11px Arial;
    height:20px;
    border-bottom: solid 1px #dddddd;
    text-align:center;
}

.hlpTitle 
{
    margin-top:4px;
}

.hlp {
	background-color:#FFFAEE;
	font: normal 12px Arial, Helvetica, sans-serif;
	text-align:left;
	margin-top:60px;
	padding:10px;
}

/* ****************** New Classes 2010  *******************  */


.dragHandle {
	width:8px;
	height:16px;
	padding:0;
	margin:0;
    background-image: url(Images/dragHandle.gif);
	cursor:move;
}

.resizeHandle {
	width:6px;
	height:200px;
	padding:0;
	margin:0;
    background:#EEEEEE url(Images/resizeHandle.gif) no-repeat center;
	cursor:col-resize;
}

.divColumnTreeView { border:solid 1px #DDDDDD; margin-right:10px; overflow:auto; }
.divColumnTreeView td { padding: 0; }

.popupMenu a, .AddpopupMenu a 
{
    display:block; min-width:100px; position:relative; 
	line-height: 18px;
	text-decoration: none;
}
.popupMenu a:hover, .AddpopupMenu a:hover { background-color:#e0efb6; }
.popupMenu div:hover, .AddpopupMenu div:hover {
	background-color: #e0efb6;
}
.ifrmPopupMenu a {
	line-height: 18px;
	text-decoration: none;
}
.ifrmPopupMenu div:hover {
	background-color: #e0efb6;
}

.menutitle {
	color: #005c9c;
	font: normal 12px Arial, Helvetica, sans-serif;
}

.menuArrow {
	vertical-align: middle;
	margin-left: 3px;
	margin-right: 4px;
}


.tdMnuLinks {
	height: 60px;
	vertical-align: bottom;
	padding-left: 10px;
	white-space: nowrap;
}


#srch_SearchTitle {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #666666;
}

#imgbQMobile { position:absolute; right:70px; }

#imgbQSave { position:absolute; right:35px; }

#imgbQPreview { position:absolute; right:0px; }

#imgbQMobile {
	padding-left: 30px;
}

#imgbQSave {
	padding-left: 20px;
}

#imgbQPreview {
	padding-left: 10px;
}

/*#divTFile TD, #divTInsert TD, #divTSettings TD {
	text-align: center;
	font-size: 10px;
	vertical-align: top;
	width:65px;
	padding-top:3px;
	white-space: nowrap;
}

#divTFile TD:hover, #divTInsert TD:hover, #divTSettings TD:hover 
{
    background-color: #ffee99;
}*/
.tdSelectChartType 
{ 
    text-align: center;
	font-size: 10px;
	vertical-align: top;
	width:65px;
	padding-top:3px;
	/*white-space: nowrap; */
}
.tdSelectChartType:hover 
{ 
    background-color:#ffee99; 
}
.selectChartTypeAnchor 
{ 
    padding: 5px 5px 0px 5px; 
    font-size:110%; 
    color: #333333;
}
.selectChartTypeAnchor:hover 
{ 
    background-color:#ffee99; 
    text-decoration:none; 
}
.divSelectChartTypes 
{
    padding: 3px 0 3px 0;
}

.current_menutitle {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #3c7305;
	text-decoration: none;
}

#lblNoColumn {
	background: transparent;
}

.pagerBtn a{
  width: 21px;
  height: 18px;
  margin-right: 4px;
  display:inline-block;
  }
.pagerBtn a.frst{
  background: url(Images/btn_first.gif) no-repeat;
  }
.pagerBtn a.frst:hover{
  background: url(Images/btn_first_act.gif) no-repeat;
  } 
.pagerBtn a.last{
  background: url(Images/btn_last.gif) no-repeat;
  } 
.pagerBtn a.last:hover{
  background: url(Images/btn_last_act.gif) no-repeat;
  }   
.pagerBtn a.prev{
  background: url(Images/btn_prev.gif) no-repeat;
  }
.pagerBtn a.prev:hover{
  background: url(Images/btn_prev_act.gif) no-repeat;
  } 
.pagerBtn a.next{
  background: url(Images/btn_next.gif) no-repeat;
  } 
.pagerBtn a.next:hover{
  background: url(Images/btn_next_act.gif) no-repeat;
  }   

.cntntContainer td div 
{
    margin-bottom:5px;
}

#tbReportContents TD 
{
    vertical-align:top;
}

#divDataTabs .tab_header { height:20px; }

.SelectedTreeNode
{
	background-color: #ffffcc;
}
.inactiveInput 
{
    display:-moz-inline-box;display:inline-block;
    border-style: inset;
    border-width:1px;
    height: 20px;
}

.ssIn 
{
    border:none;
}

.ssOut 
{
    border:inset 1px #CCCCCC;
}

/*For Session Parameters Pages*/
.txtDisabled
{
    background-color:#E1E1E1;
}
.txtEnabled
{
    background-color:White;
}
a.logo img, a.logo:link img, a.logo:visited img, a.logo:hover img, a.logo:active img { border:0 !important; }

