<div>
    <div id="loading-view" class="k-loading-image fa-spinner" style="z-index: 0"></div>
    <iframe id="logi-thinkspace"
            src="logi-widget.jsp"
            style="width: 100vw;
                   height: calc(100vh - 46px);
                   border: none;
                   z-index: 1;
                   display: block;
                   position: relative;">
        <script />
    </iframe>
</div>