p,
.ThemeTextLargest ,
.ThemeTextLarger ,
.ThemeTextLarge ,
.ThemeText ,
.ThemeTextSmall ,
.ThemeTextSmaller ,
.ThemeTextSmallest {
  font-family: 'Segoe UI', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, 'Arial', 'sans-serif';
	color: #363b42;
	font-weight: normal;
	min-height: 100%;
    position: static;
	min-height: auto;
}

/* Data Table / Crosstab Table */
.rdThemeDataTable, .rdAgDataTable, .rdOgOlapTable, .rdDgOlapTable {
  background-color: #DCDCDC /*TableBorderColor;; */;
  border-radius: 0px;
  border-spacing: 0.5mm !important;
}