/* Page Layout */
body {
  background-color: #FFFFFF /*PageBackgroundColor*/ ;
}
form[name="rdForm"] {
  margin-bottom: 0;
}

/* Global Typography */
body {
  /*  CXV1-18452  */
  font-family: Arial /*MainFont*/, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: #666666 /*PageFontColor*/ ;
  font-size: 100%;
  min-height: 100%;
  text-decoration: none;
  text-transform: none;
}
h1, h2, h3, h4, h5, h6, .ThemeHeaderLargest, .ThemeHeaderLarger, .ThemeHeaderLarge, .ThemeHeader, .ThemeHeaderSmall, .ThemeHeaderSmaller, .ThemeHeaderSmallest {
  text-align: center;
  min-height: 100%;
  position: relative;
}
p, .ThemeTextLargest, .ThemeTextLarger, .ThemeTextLarge, .ThemeText, .ThemeTextSmall, .ThemeTextSmaller, .ThemeTextSmallest {
  min-height: 100%;
  position: relative;
}
table, .rdDashboard, .rdDashboard table {
  color: #666666 /*PageFontColor*/ ;
  font-size: 100%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
#rdMainBody {
  font-size: 12px;
}

/*User classes*/
h1, .ThemeHeaderLargest {
  font-size: 190%;
  font-weight: bold;
}
h2, .ThemeHeaderLarger {
  font-size: 170%;
  font-weight: bold;
}
h3, .ThemeHeaderLarge {
  font-size: 150%;
  font-weight: bold;
}
h4, .ThemeHeader {
  font-size: 130%;
  margin-right: 10px;
  margin-left: 15px;
}
h5, .ThemeHeaderSmall {
  font-size: 120%;
}
h6, .ThemeHeaderSmaller {
  font-size: 100%;
  font-weight: 600;
}
.ThemeHeaderSmallest {
  font-size: 90%;
  font-weight: 600;
}
blockquote {
  font-size: 120%;
}
.ThemeBold {
  font-weight: bold;
}
.ThemeItalic {
  font-style: italic;
}
.ThemeTextLargest {
  font-size: 185%;
}
.ThemeTextLarger {
  font-size: 150%;
}
.ThemeTextLarge {
  font-size: 120%;
}
.ThemeTextNormal {
  font-size: 100%;
  color: #666666 /*PageFontColor*/ ;
}
.ThemeTextSmall {
  font-size: 95%;
}
.ThemeTextSmaller {
  font-size: 90%;
}
.ThemeTextSmallest {
  font-size: 85%;
}
.ThemeTextPositive {
  color: #85B74D /*TextPositiveFont*/ ;
}
.ThemeTextNegative {
  color: #B84026 /*TextNegativeFont*/ ;
}
.ThemeErrorText {
  color: #FFFFFF /*ErrorFont*/ !important;
  border: 1px solid !important;
  border-color: #97351F /*ErrorBorder*/ !important;
  background-color: #B84026 /*ErrorBackground*/ !important;
}
.ThemeNoWrap {
  white-space: nowrap;
}
.ThemePanel {
  width: 90%;
}
.ThemeHidden {
  display: none;
}
.ThemeAlignCenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.ThemeAlignLeft {
  text-align: left;
}
.ThemeAlignRight {
  text-align: right;
}
.ThemeAlignTop {
  vertical-align: top;
}
.ThemeAlignTopLeft {
  font-size: 14px;
  vertical-align: top;
  text-align: left;
  border:#CCCCCC solid 1px;
}
.ThemeAlignTopRight {
  vertical-align: top;
  text-align: right;
}
.ThemeAlignBottom {
  vertical-align: bottom;
}
.ThemeAlignBottomLeft {
  vertical-align: bottom;
  text-align: left;
}
.ThemeAlignBottomRight {
  vertical-align: bottom;
  text-align: right;
}
.ThemeMarginLargest {
  margin: 72px;
}
.ThemeMarginLarger {
  margin: 36px;
}
.ThemeMarginLarge {
  margin: 12px;
}
.ThemeMargin {
  margin: 6px;
}
.ThemePaddingLargest {
  padding: 72px;
}
.ThemePaddingLarger {
  padding: 36px;
}
.ThemePaddingLarge {
  padding: 12px;
}
.ThemePadding {
  padding: 6px;
}
.ThemeContainerBordered {
  border: solid 2px !important;
  border-color: #CCCCCC /*ContainerBorder*/ !important;
  padding: 6px;
  border-radius: 4px;
}
.ThemeContainerShaded {
  background-color: #F0F0F0 /*ShadedBackground*/ ;
  color: #666666 /*ShadedFont*/ ;
  padding: 6px;
  border-radius: 4px;
}

.ThemeContainerShadedAndBordered {
  border: solid 1px #DADADA !important;
  background-color: #E6F5FF;
  color: #656565 /*ShadedAndBorderedFont*/ ;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.ThemeContainerShadedAndBordered a {
  color: #ffffff /*ShadedAndBorderedLink*/ !important;
}

/*User classes end*/

tr.ThemeAlternatingRow td, .rdAg tr.ThemeAlternatingRow td, .rdAgDataTable tr.ThemeAlternatingRow td, .rdThemeDataTable tr.ThemeAlternatingRow > td {
  background-color: #F5F5F5 /*TableDataAlternateBackgroundColor*/ ;
}

.ThemeClearfix:before, .ThemeClearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.ThemeClearfix:after {
  clear: both;
}
.ThemeClearfix {
  zoom: 1;
}

/* Images */

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Links and Buttons */
a, a:link {
  color: #3FABD8 /*LinkColor*/ ;
  text-decoration: none !important;
}
a:active {
  color: #3FABD8 /*LinkColor*/ ;
  text-decoration: none;
}
a:visited {
  color: #3FABD8 /*LinkColor*/ ;
  text-decoration: none;
}
.rdPreviewHyperlink, a:hover {
  color: #066CB0 /*LinkHoverColor*/ ;
  text-decoration: none;
}
a:hover.ThemeLinkButton, a:hover.ThemeLinkButtonSmall, a:link.ThemeLinkButton, a:link.ThemeLinkButtonSmall, a:visited.ThemeLinkButton, a:visited.ThemeLinkButtonSmall, a:active.ThemeLinkButton, a:active.ThemeLinkButtonSmall {
  color: #666666 /*ButtonFontColor*/ ;
  text-decoration: none;
}
.ThemeLinkButton, .rdOgCommand, .rdAcCommand, span.rdCgCommand, .rdDashboardCommand  {
  background-image: none;
  background-color: #F9F9F9 /*ButtonBackgroundColor*/ !important;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: baseline;
  border-color: #D1D1D1 /*ButtonBorderColor*/ !important;
  border: 1px solid;
}
input[type="button"] {
  border-color: #D1D1D1 /*ButtonBorderColor*/ !important;
}
.ThemeLinkButtonSmall {
  font-size: 100%;
  padding: 3px 7px 2px;
  margin-top: 3px !important;
  border-color: #D1D1D1 /*ButtonBorderColor*/ !important;
  border: 1px solid;
}

.rdPreviewHoverState, .rdPreviewHoverState:hover, .ThemeLinkButton:hover, .ThemeLinkButtonSmall:hover, span:hover.rdOgCommand, span:hover.rdCgCommand, span:hover.rdDashboardCommand, #rowChangeTab span:hover.rdDashboardCommand, span:hover.rdPopupPanelCommand, .rdAgUnselectedTab:hover, .rdOgUnselectedTab:hover {
  background-color: #07487A /*ButtonHoverBackgroundColor*/ !important;
  color: #DFDFDF /*ButtonHoverFontColor*/ !important;
  text-decoration: none;
}
img:active.rdThemePaging, span:active.rdAgCommand, span:active.rdOgCommand, span:active.rdCgCommand, span:active.rdDashboardCommand, #rowChangeTab span:active.rdDashboardCommand, span:active.rdPopupPanelCommand {
  top: 1px;
}

/* Data Table / Crosstab Table */
.rdThemeDataTable, .rdAgDataTable, .rdOgOlapTable, .rdDgOlapTable {
  background-color: #DCDCDC /*TableBorderColor;; */;
  border-radius: 0px;
  border-spacing: 0.5mm;
}
td.rdDgPanelLine #mclDimensions, td.rdDgPanelLine #mclMeasures, td.rdDgPanelLine #mclFilters, #rowTable table.rdDgPanel table.rdDgContentHeadingRow, #otOlapGrid th.rdOgPositionCellXAxis table, #rowChart table.rdDgPanel tr:first-child table.rdDgContentHeadingRow, #rowHeatmap table.rdDgPanel tr:first-child table.rdDgContentHeadingRow, #rowsChartLists, #rowChartYColumnContainer, #rowChartExtraDataColumnContainer {
  border: none !important;
  background-color: transparent !important;
}
.rdThemeDataTableCell {
  padding: 2px 10px;
  color: #656565 /*TableDataFontColor*/ ;
  background-color: #FFFFFF /*TableDataBackgroundColor*/;
}
.rdThemeDataTableMainHeader a {
  color: #00558E /*TableCaptionFontColor*/ ;
}
.rdThemeDataTableMainHeader {
  color: #00558E /*TableCaptionFontColor*/ ;
  background-color: #FFFFFF /*TableCaptionBackgroundColor*/ ;
  font-size: 150%;
  padding-left: 12px;
  text-align: left;
  margin-bottom: 1px;
}
.rdThemeDataTableHeader, #bookmarks-table-header {
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #656565;
  text-align: left;
  height: 40px;
  border-bottom: 1px solid #CCCCCC;
  padding-left: 5px;
  background-color: #FFFFFF;
}
#bookmarks-table-header {
  color: #656565;
  border-top: none;
  padding-left: 20px;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #DADADA;
}
.rdAgDataTable {
  background-color: #CCCCCC;
}
#bookmarks-table {
  width: 100%;
}
#GoListMainContainer {
  min-height: 300px;
  height: auto;
}
table th {
  color: #656565;
  font-weight: 600;
}
.rdThemeDataTableHeader td {
  color: #00558E /*TableColumnHeaderFontColor*/ ;
  font-size: 100%;
  font-weight: bold;
}
.rdThemeDataTableHeader a {
  color: #656565 /*TableColumnHeaderFontColor*/ ;
}
.rdThemeDataTableHeaderAlternate {
  border: none;
}
.rdThemeDataTableHeaderAlternate  a {
  color: #00558E /*TableColumnHeaderFontColor*/ !important;
}
.rdThemeDataTableHeaderRow th {
  background-color: #00558E /*TableHeaderRowBackgroundColor*/ ;
  color: #FFFFFF /*TableHeaderRowFontColor*/ ;
}
.rdThemeDataTableSummaryRow td {
  color: #00558E /*TableColumnHeaderFontColor*/ ;
}
.rdThemeDataTableGroupHeaderRow0 td, table.rdAgDataTable tr.rdAgGroup0HeaderRow td, .rdThemeDataTableGroupHeaderRow1 td, table.rdAgDataTable tr.rdAgGroup1HeaderRow td, .rdThemeDataTableGroupHeaderRow2 td, table.rdAgDataTable tr.rdAgGroup2HeaderRow td, .rdThemeDataTableGroupHeaderRow3 td, table.rdAgDataTable tr.rdAgGroup3HeaderRow td, .rdThemeDataTableGroupHeaderRow4 td, table.rdAgDataTable tr.rdAgGroup4HeaderRow td {
  color: #666666 /*TableGroupHeaderRowFontColor*/ ;
  padding: 2px 10px 2px 10px;
  font-weight: bold;
}
.rdThemeDataTableGroupHeaderRow0 td, table.rdAgDataTable tr.rdAgGroup0HeaderRow td {
  background-color: #E9E9E9 /*TableGroupHeaderRowBackgroundColor*/ ;
}
.rdThemeDataTableGroupHeaderRow1 td, table.rdAgDataTable tr.rdAgGroup1HeaderRow td {
  background-color: #EEEEEE /*TableGroup1HeaderRowBackgroundColor*/ ;
}
.rdThemeDataTableGroupHeaderRow2 td, table.rdAgDataTable tr.rdAgGroup2HeaderRow td {
  background-color: #F3F3F3 /*TableGroup2HeaderRowBackgroundColor*/ ;
}
.rdThemeDataTableGroupHeaderRow3 td, table.rdAgDataTable tr.rdAgGroup3HeaderRow td {
  background-color: #F9F9F9 /*TableGroup3HeaderRowBackgroundColor*/ ;
}
.rdThemeDataTableGroupHeaderRow4 td, table.rdAgDataTable tr.rdAgGroup4HeaderRow td {
  background-color: #FBFBFB /*TableGroup4HeaderRowBackgroundColor*/ ;
}
.rdThemeDataTableGroupSummaryRow td {
  padding: 3px;
}
td.rdThemeDataTableMoreInfoRow {
  color: #00558E /*TableColumnHeaderFontColor*/ ;
  background-color: #d2d2d2 /*TableColumnHeaderBackgroundColor*/ ;
}
.rdAgPickDistinct {
    background-color: #FFFFFF /*ModalBackgroundColor*/;
}
#rdDataTableDiv-dtFilter .rdThemeDataTableCell {
  background-color: transparent;
}
/* Analysis Grid */
.rdAg, .rdAc, .rdDg, .rdOg, .rdCg, .rdAg table, .rdAc table, .rdDg table, .rdOg table, .rdCg table {
  font-size: 100%;
}
.rdAgCaptionRow {
  height: 12px;
  background-image: none;
  color: #666666 /*PageFontColor*/ ;
  font-size: 185%;
}
.rdAgCaptionRow TD {
  background-color: #FFFFFF /*PageBackgroundColor*/ ;
}
.PreviewUnselected, #rowMenu table {
  background: transparent;
  border: none;
  border-spacing: 0;
  padding: 0;
}
#rowMenu .rdAgPanel > tbody > tr > td {
  padding: 0;
}
#rowsAnalysisGrid {
  /* bring in to make continuous menu */
  border-collapse: collapse;
  padding-left: 1px;
}
.PreviewMenuBG, #rowsAnalysisGrid .rdAgContentRow, #rowsAnalysisGrid #rowMenu>table>table {
  background-color: #FFFFFF /*TabContainerBackground*/ ;
}
#rowsAnalysisGrid #rowMenu {
  /* but not remaining row after buttons */
  background-color: transparent;
}
#rowsAnalysisGrid .ThemeLinkButton:hover, #rowsAnalysisGrid .ThemeLinkButtonSmall:hover, #rowsAnalysisGrid span:hover.rdAgCommand {
  background-color: #F9F9F9 /*ButtonBackgroundColor*/ ;
}
#colSpacerCalculatedMeasure, #colSpacerDimension, #colSpacerMeasure, #colSpacerQueryBuilder, #colSpacerCalc, #colSpacerLayout, #colSpacerLayout, #colSpacerSort, #colSpacerFilter, #colSpacerGroup, #colSpacerAggr, #colSpacerChart, #colSpacerCrosstab {
  display: inline;
}
#lblChartAdd {
  display: none;
}
.rdAg #lblExport, .rdAg #lblExportCrosstab {
  color: #FFFFFF /*TabContainerSelectedFont*/ ;
}
#colTableExportControls {
  float: none !important;
}

/* Datatable */

/* AnalysisGrid: Main Menu */
.rdAgUnselectedTab, .rdOgUnselectedTab, .rdAgSelectedTab, .rdOgSelectedTab {
  background-image: none;
  border: 1px solid #ddd;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  color: #999999;
}
.rdAgSelectedTab span, .rdAgSelectedTab, .rdOgSelectedTab {
  background-color: #07487A /*TabContainerSelectedBackground*/ ;
  color: #FFFFFF /*TabContainerSelectedFont*/ ;
}
.rdAgUnselectedTab td, .rdOgUnselectedTab td {
  color: #00558E /*TabContainerUnselectedFont*/ ;
}
.rdAgTabHeading a {
  color: #00558E /*TabContainerUnselectedFont*/ !important;
}
.rdAgUnselectedTab td, .rdAgSelectedTab td {
  padding-bottom: 6px;
  padding-top: 6px;
}
.rdAgSelectedTabOn {
  background-color: #00558E /*TabContainerSelectedBackground*/ ;
}
.rdAgUnselectedTabOn {
  background-color: #F1F1F1 /*TabContainerUnselectedBackground*/ ;
}
.rdAgUnselectedTabOn:hover, .rdAgUnselectedTab:hover, .rdOgUnselectedTabOn:hover, .rdOgUnselectedTab:hover {
  background-color: #F9F9F9 /*ButtonBackgroundColor*/ !important;
  color: #00558E /*TabContainerUnselectedFont*/ !important;
}
/*  CSS Class for disabled tabs in analysis grid  */
.rdAgDisabledTab {
  background-color: rgb(239, 239, 239) /*TabContainerUnselectedBackground*/ ;
}
.PreviewSelectedFont, #rowQueryBuilder table, #rowPaging table, #rowCrosstab table, #rowAggr table, #rowGroup table, #rowFilter table, #rowSortOrder table, #rowLayout table, #rowCalc table {
  color: #666666 /*TabContainerFontColor*/ ;
  background-color: transparent;
}
#rowChart table {
  color: #666666 /*TabContainerFontColor*/ ;
}
.rdAgTabHeading {
  font-size: 120%;
  padding-left: 3px;
}
.rdAgCommandHightlight {
  background: transparent;
  color: #00558E /*TabContainerSelectedBackground*/ !important;
  border-bottom: 4px solid;
  border-color: #00558E /*TabContainerSelectedBackground*/ ;
}
#rowsAnalysisGrid span:hover.rdAgCommandHightlight {
  background: transparent;
}
#rowsAnalysisGrid a {
  color: #666666 /*TabContainerFontColor*/ ;
  text-decoration: none;
}
#rowsAnalysisGrid a:hover {
  color: #666666 /*TabContainerFontColor*/ ;
  text-decoration: none;
}
/*  Stylish for query builder row under analysis grid tabs  */
#rowQueryBuilder, #rowCalc, #rowFilter {
  border: 1px solid #DADADA !important;
}
#rowQueryBuilder {
  border: 1px solid #DADADA !important;
}
.rdAgPanel, .rdOgPanel, .rdDgPanel {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  color: #666666 /*ModalFontColor*/ ;
  vertical-align: top;
  padding: 12px;
  border-collapse: separate;
}
.rdDgPanel {
  border-radius: 4px;
}
.rdAgPanel .rdAgUnselectedTab, .rdAgPanel .rdAgSelectedTab, .rdOgPanel .rdOgUnselectedTab, .rdOgPanel .rdOgSelectedTab {
  padding-top: 6px;      /* but not for menu */
}
.rdAgPanel td td, .rdOgPanel td td {
  padding: 3px;  /* add extra padding since buttons are squished otherwise */
}
.rdAgPanel td td#col2Row3Calc {
  padding: 0px;
}
.rdAgContentHeadingRow, .rdOgContentHeading {
  background-color: transparent;
  color: #666666 /*ModalFontColor*/ ;
}
.rdAgContentHeading, .rdOgContentHeading {
  font-size: 150%;
}
.rdAgContentHeadingItem .rdAgContentHeading, .rdAgContentHeadingItem td.rdAgPanelHeading {
  color: #666666 /*ModalFontColor*/ ;
  padding-top: 0;
  vertical-align: middle;
}
tr.rdAgContentRow tr.rdAgContentHeadingItem td table.rdAgContentHeadingRow td {
  padding-top: 0px !important;
  padding-left: 1px !important;
  vertical-align: bottom;
}
.rdAgInstruct {
}
.rdAgError, .rdOgError {
  color: #B84026 /*ErrorBackground*/ ;
}
.rdAgMessage {
  color: #666666 /*ModalFontColor*/ ;
  font-weight: bold;
  padding-left: 12px;
}

/* Analysis Grid Data Table */
table.rdAgDataTable th {
  height: 48px;
}

table.rdAgDataTable td {
  padding: 5px 10px;
  background-color: #FFFFFF /*TableDataBackgroundColor*/;
}
.rdAgCrossTabDataTable, th.rdAgDataTable td, table.rdAgDataTable th, table.rdAgDataTable > th a, table.rdOgOlapTable th, tr.rdAgHeaderRow th, table.rdDgPanel th, rdAgQbColor1 {
  background-image: none;
  background-color:#E6F5FF /*TableColumnHeaderBackgroundColor*/ !important;
  color: #656565 /*TableColumnHeaderFontColor*/ !important;
  font-size: 100%;
  font-weight: bold;
}
table.rdAgDataTable > th span, th.rdAgDataTable > a  {
  color: #00558E /*TableColumnHeaderFontColor*/ !important;
}
tr.rdAgHeaderRow td {
  background-image: none;
  background-color: #d2d2d2 /*TableColumnHeaderBackgroundColor*/ ;
  color: #00558E /*TableColumnHeaderFontColor*/ ;
  font-weight: bold;
  font-size: 100%;
}
table#dtAnalysisGrid {
  color: #666666 /*TableDataFontColor*/ ;
}
.rdAg .rdThemeDataTableHeader td {
  color: rgb(21, 26, 29) /*TableColumnHeaderFontColor*/ ;
}
/*  Add visual gallery modal  */
#rdPanelTitle_actAddToDashboardDataTable-Caption {
  padding-left: 10px;
}
#rdPanelDescription_actAddToDashboardDataTable-Caption {
  padding-left: 10px;
  margin-top: 10px;
}
#rdPanelTitle_actAddToDashboardAnalChart {
  margin-left: 15px;
}
#rdPanelDescription_actAddToDashboardAnalChart {
  margin-left: 15px;
  height: 100px;
  width: 393px;
}
#rdPanelDescription_actAddToDashboardDataTable {
  margin-top: 10px;
  width: 393px;
  height: 100px;
}
#rdPanelTitle_actAddToDashboardDataTable, #rdPanelDescription_actAddToDashboardDataTable {
  margin-left: 10px;
}

/*  Add to visual gallery popup  */
#rdPopupPanelTable_ppAddToDashboardPrompt_actAddToDashboardDataTable {
  width: 530px;
  height: 180px;
}

/* Super-element Buttons */
.rdAgCommand, .rdOgCommand, .rdAcCommand, span.rdCgCommand, .rdDashboardCommand {
  font-size: 110%;
  margin-right: 4px;
  padding: 2px 8px 2px;
  vertical-align: baseline;
}

/* AG Edit Gear and new Sub menu */
.rdAgEditOff {
  background-color: none;
  width: 24px;
  height: 22px;
  border-radius: 4px;
  cursor: pointer;
}
.rdAgEditOff:Hover {
  width: 24px;
  height: 22px;
  border-radius: 4px;
  cursor: pointer;
}
.rdAgEditOn {
  width: 24px;
  height: 22px;
  border-radius: 4px;
  cursor: pointer;
}
.rdAgEditOn:Hover {
  width: 24px;
  height: 22px;
  border-radius: 4px;
  cursor: pointer;
}
.rdAcContentRow {
  border: 0px solid;
  border-color: #B7B7B7 /*ModalBorderColor*/ ;
  background-color: transparent;
}
.rdAcBackground {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
}
/*  Author Report Page  */
.rdAcCommandIdle, .rdAcCommandLeft, .rdAcCommandMiddle, .rdAcCommandRight, .rdAgCommandIdle, .rdAgCommandLeft, .rdAgCommandMiddle, .rdAgCommandRight {
  color: #666666 /*TabContainerFontColor*/ !important;
  cursor: pointer;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 120%;
  border-bottom: 4px solid;
  border-color: #e1e1e1;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 3px;
  margin: 1px;
  border-radius: 0;
  background: none;
}
.rdAcCommandHighlight, .rdAgCommandHighlight {
  border-radius: 0;
  color: #666666 /*TabContainerFontColor*/ !important;
  cursor: pointer;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 120%;
  border-bottom: 4px solid;
  border-color: #00558E /*TabContainerSelectedBackground*/ ;
  border-top: none;
  border-right: none;
  border-left: none;
  background: none;
  padding: 3px;
  margin: 1px;
}
.rdAcCommandHighlightButton {
  border-radius: 0;
  color: #FFFFFF !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
  border: 1px solid #DADADA;
  background-color: #07487A;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 85px;
  height: 40px;
  padding-top: 10px;
}
.rdAcCommandIdleButton {
  border-radius: 0;
  color: #656565 !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
  border: 1px solid #DADADA;
  background-color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 85px;
  height: 40px;
  padding-top: 10px;
}
.reportAuthorHeightMenu {
  padding-bottom: 15px !important;
  padding-top: 0px !important;
  padding-left: 6px !important;
}
.rd-toolbox-container {
  margin-top: 4px !important;
  border: none;
  z-index: 1;
}
.goReportSettingsMessageBox {
  height: 55px;
}
.rd-element-editor-header-droppable {
  background-color: transparent;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.rd-element-editor-header {
  background-color: transparent;
}
.column-with-droppable {
  border-right: 1px solid #C5CCCC;
}
.rdDropPlaceholder {
  color: #C5CCCC;
}
#colReportAuthorToolbox, #colReportAuthorWorkingArea {
  border: none;
}
#divReportAuthorFooterContainer.rdDroppableContainer, #divReportAuthorHeaderContainer.rdDroppableContainer, #divReportAuthorWorkContainer.rdDroppableContainer {
  border: 1px solid #DADADA;
}
.rdRemoveTableStyle td, .rdAg .rdRemoveTableStyle td, .rdRemoveTableStyle th {
  background-image: none;
  background-color: transparent;
  height: 6px;
  border: none;
  border-collapse: collapse;
}

/* Schedule Manager Page */
.schedulerManagerTable {
  border: 1px solid #DADADA;
}
table, .rdDashboard, .rdDashboard table {
  border-collapse: initial !important;
}
#BookmarkOrganizerCol {
  border: 1px solid #DADADA;
  border-right: none;
}
#GoFindCol {
  padding-bottom: 0px;
}
#colIcon-TH {
  width: 3%;
}
#colTitle-TH, #colOwner-TH, #colLastRun-TH, #colSuccessful-TH {
  border-right: 1px solid #DADADA;
}

/* Query Builder */
.rdQueryColumn {
  display: block;
  padding: 6px 12px;
  margin: 6px 0;
  background: #FFFFFF /*ModalBackgroundColor*/ ;
}
.rdQueryColumn td td {

  /* Multi-column list of columns */
  padding: 6px 12px !important;
  line-height: 1.5;
}
#lblMetadataCaption, #lblStartTableCaption, #lblJoinTableCaption {
  font-size: 120%;
}
.rdQueryRow .rdThemeInput {
  font-size: 120%;
  min-width: 180px;
}
#colMetadata {
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0 12px 6px;
}
#rowNoColumnsContainer .rdQueryColumn {
  display: inline-block;
  margin: 12px;
}

/* QB dropdowns and AG table headers */
select.rdAgQbColor1, table.rdAgDataTable th.rdAgQbColor1 {
  border-top: 4px solid #2f7ed8 !important;
}
select.rdAgQbColor2, table.rdAgDataTable th.rdAgQbColor2 {
  border-top: 4px solid #c42525 !important;
}
select.rdAgQbColor3, table.rdAgDataTable th.rdAgQbColor3 {
  border-top: 4px solid #8bbc21 !important;
}
select.rdAgQbColor4, table.rdAgDataTable th.rdAgQbColor4 {
  border-top: 4px solid #910000 !important;
}
select.rdAgQbColor5, table.rdAgDataTable th.rdAgQbColor5 {
  border-top: 4px solid #1aadce !important;
}
select.rdAgQbColor6, table.rdAgDataTable th.rdAgQbColor6 {
  border-top: 4px solid #492970 !important;
}

/* Non-AG table headers */
.rdDashboard table.rdAgDataTable th.rdAgQbColor1, .rdDashboard table.rdAgDataTable th.rdAgQbColor2, .rdDashboard table.rdAgDataTable th.rdAgQbColor3, .rdDashboard table.rdAgDataTable th.rdAgQbColor4, .rdDashboard table.rdAgDataTable th.rdAgQbColor5, .rdDashboard table.rdAgDataTable th.rdAgQbColor6, #rdReportAuthor table.rdAgDataTable th.rdAgQbColor1, #rdReportAuthor table.rdAgDataTable th.rdAgQbColor2, #rdReportAuthor table.rdAgDataTable th.rdAgQbColor3, #rdReportAuthor table.rdAgDataTable th.rdAgQbColor4, #rdReportAuthor table.rdAgDataTable th.rdAgQbColor5, #rdReportAuthor table.rdAgDataTable th.rdAgQbColor6 {
  border-top: none;
}

/*SubDataTable*/

/*BEN-Make sub data tables get updated the same as regular data tables*/
.rdThemeSubDataTable {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ; /* This is used as the border for the subtable */
  margin-top: 6px;
  margin-bottom: 6px;
}
table.rdThemeSubDataTable th, .rdThemeSubDataTable th {
  color: #666666 /*TableGroupHeaderRowFontColor*/ ;
  background-color: #E9E9E9 /*TableGroupHeaderRowBackgroundColor*/ ;
  padding: 1px 3px;
}
.rdThemeSubDataTableGroupHeaderRow td {
  color: #666666 /*TableGroupHeaderRowFontColor*/ ;
  background-color: #E9E9E9 /*TableGroupHeaderRowBackgroundColor*/ ;
  padding-left: 3px;
}
.rdThemeSubDataTableDataTableCell {
  color: #666666 /*TableDataFontColor*/ ;
}
.rdThemeSubDataTableMoreInfoRow {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  color: #666666 /*ModalFontColor*/ ;
  padding-left: 3px;
}
.rdThemeSubDataTableGroupSummaryRow td {
  color: #666666 /*TableGroupHeaderRowFontColor*/ ;
  background-color: #E9E9E9 /*TableGroupHeaderRowBackgroundColor*/ ;
  padding-left: 3px;
}
.rdThemeSubDataTableSummaryRow td {
  background-color: #d2d2d2 /*TableColumnHeaderBackgroundColor*/ ;
  color: #656565; /*TableColumnHeaderFontColor*/ ;
  padding-left: 3px;
}
.rdAg a:link {
  color: #656565; /*TableColumnHeaderFontColor*/ ;
  font-weight: 600;
  font-size: 14px;
}

/* User Input Controls */
.rdThemeInputCaption {
  padding-right: 6px;
  vertical-align: middle;
}
/*  CXV1--18452 - 1.04 */
input {
  font-size: 100%;
  font-family: Helvetica /*MainFont*/, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background-color: #FFFFFF /*InputBoxBackground*/ ;
  color: #666666 /*InputBoxFontColor*/ ;
  border: 1px solid;
  border-color: #CCCCCC /*InputBoxBorderColor*/ ;
  padding: 3px;
  margin: 3px;
  border-radius: 4px;
}

/* CXV1--18452 - 1.04 Input text, textarea */
#rdAgCalcFormulas {
  margin-bottom: 5px;
}

input[type=text], input[type=email], input[type=password], textarea, .go-home input.go-input {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px rgba(3, 3, 3, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  transition: all 0.2s linear;
  font-size: 13px;
  color: #474747;
  position: relative;
  height: 32px;
  padding-left: 10px;
  box-sizing: border-box;
}

textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type=password]:focus, .uneditable-input:focus {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

/* CXV1--18452 - 1.04 Input select with checkbox  */
.rdThemeInput, select.rdThemeInput, .rd-checkboxlist-dropdown {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  transition: all 0.2s linear;
  font-size: 13px;
  color: #474747;
  position: relative;
  height: 32px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

/* Data Manager Page */
#ConnectionString {
  min-height: 83px;
  min-width: 525px;
}

#Description {
  min-height: 50px;
}

#inputSqlSource {
  min-height: 308px;
  max-width: 775px;
}

#inputSqlSource-Caption {
  border: transparent;
}

/*  Outer shadow for checkbox select  */
select.rdThemeInput:focus, .rd-checkboxlist-dropdown:focus {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

/*  CXV1-18452 - 1.04 Class to be apply to any span elements that want to look like a button */
button, select, html, textarea, input {
  font-family: Arial, Helvetica, sans-serif;
}
.span-button-type {
  padding: 5px 7px 3px !important;
  margin: 3px 6px;
  border-color: #D1D1D1 /*ButtonBorderColor*/ !important;
}

/* CXV1-18452 - 1.04 Main button css classes - apply the following class to all button elements */
table-controls .table-controls .action-container button, table-controls .table-controls .action-container .dropdown-label {
  padding: 7px 15px;
}

.btn, .ThemeLinkButtonSmall, #ppDoneButton, .ThemeLinkButton, .rdAgCommand, #tabLayoutDoneButton, .rdDashboardCommand, #lblHidePopupPanel_Row1, #rdActionRunNow, #rdActionRemove {
  background-color: #F9F9F9 !important;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  color: rgb(7, 72, 122) !important;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 7px !important;
  margin: 3px 6px;
  height: 34px;
  width: auto;
  min-width: 75px;
  font-size: 14px;
}

.btn:hover, .ThemeLinkButtonSmall:hover, #ppDoneButton:hover, .ThemeLinkButton:hover {
  box-shadow: inset 0px 1px 2px rgba(175, 175, 175, 0.4);
}

.btn-primary, #lblBatchSelection, #rdActionDoneEmail, #scriptUpdateCaption, #actAddToDashboard_actAddToDashboardDataTable, .rdAcCommand {
  background-color: #07487A !important;
  color: #FFFFFF !important;
  margin: 0 !important;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 34px !important;
  width: auto;
  min-width: 75px;
  font-size: 14px;
  font-weight: 700 !important;
}

.btn-primary:hover:before, #lblBatchSelection:hover:before, .rdAcCommand:hover:before, #rdActionDoneEmail:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

input[type="submit"], html input[type="button"], button {
  padding: 6px 15px;  /*  input button default size */
}

.lo-main-text, .btn:not(.btn-primary) {
  color: #07487a !important;
}

input:not([readonly]):focus {
    border-color: #3498db;
}

/*  Home Page Share Pop Up  */
#lstShareType {
  margin-right: 15px;
}
#lstColumnCount {
  margin-left: 15px;
}
select[multiple], select[size] {
  height: 32px !important;
}

#rdFolderNameText, #rdFolderRenameText {
  margin-left: 10px;
}

/* Schedule Popup Modal  Run */
/* Hourly Option */
#selSchInterval_rdSchedule {
  margin-left: 15px;
}
#lblSchFirstRunTime_rdSchedule {
  margin-right: 9px;
}
.rdScheduleColumnGap {
  width: 0px !important;
}
#selSchHourly_rdSchedule-Caption, #txtSchDays_rdSchedule-Caption, #txtSchWeeks_rdSchedule-Caption, #txtSchMonths_rdSchedule-Caption {
  margin-left: 0px;
}

#selSchHourly_rdSchedule, #txtSchDays_rdSchedule, #txtSchWeeks_rdSchedule {
  margin-left: 33px;
  margin-bottom: 6px;
}

#lblSchHourly_rdSchedule, #lblSchDays_rdSchedule, #lblSchWeeks_rdSchedule, #lblSchMonths_rdSchedule {
  margin-left: 10px;
}

#rdActionRunNow {
  margin-left: 11px;
}

/*  CXV1-18444 - Global Filter Checkbox Dropdown List */
.rd-checkboxlist-icon {
  background-image: none;
  position: relative;
}

.rd-checkboxlist-icon:before { 
  content: "\f0dd"; /*  This is the font-awesome icon code  */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  left:-5px;
  position:absolute;
  top:0;
}

/* Input ComboList down-side arrow */
#inputTimezone_rdDropdown {
  position: relative;
}

/*  Global CSS Stlyes */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}

/*  LaunchBar */
.LaunchPanel {
  border: 1px solid #E1E1E1;
}

#GoBoxTitle {
  box-shadow: none !important;
}

.go-headers {
  background-color: transparent !important;
  border-bottom: 1px solid #E1E1E1;
}

.go-button {
  box-shadow: none !important;
}

.master-table {
  height: 100vh;
  border: 1px solid #E1E1E1;
  border-collapse: collapse;
}

#rdMainBody .ThemeContent {
  min-height: auto !important;  
  height: auto !important;
  height: 100%;  
}

/*  End of CXV1-18452 */
.rdThemeInputCaption {
  margin-left: 15px;
}
#rdAgCalcName, #rdAfFilterValue_rdAgAnalysisFilter {
  margin-left: 0px !important;
}
.rdAgContentRow input.rdThemeInput, #rowsAxControls input.rdThemeInput, #cellAcControls input.rdThemeInput {
  min-width: 120px;
  margin-left: 15px;
}
.rdAgContentRow select.rdThemeInput, #rowsAxControls select.rdThemeInput, #cellAcControls select.rdThemeInput {
  min-width: 184px;
  width: auto;
  margin-left: 15px;
}
/*  Aligning filter tabs input texts  */
#rdAgCalcDataTypes, #rdAgCalcFormats {
  margin-left: 0px !important;
}
input#upldFile {
  background-color: transparent;
  border: none;
}

/*  CXV1-18446 - Modify Home Page */
.go-list-item-icon-delete {
  margin-top: 3% !important;
}

#divGoFindInputContainer {
  width:100%;
  max-width: 400%;
  margin-left: 11px;
}

.go-home-search-button {
  background-color: #07487a !important;
	margin-bottom: 5px !important;
	-webkit-border-top-right-radius: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -webkit-border-top-left-radius: 0 !important;
  border-left: none;
	/*inner addon*/
	vertical-align: middle;
  display: inline-block;
  width: 40px;
  text-align: center;
  border: 1px solid transparent;
	height: 30px;
	color: white;
  padding-top: 5px !important;
  margin-bottom: 4px !important;
}

.go-home-search-button:before {
  content: "\f002"; /*  This is the font-awesome icon code  */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  left:-5px;
  top:0;
}

/*  Square borders on input text  */
.squared-search-textbox {
  width: 25%;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

/*  End of CXV1-18446 */

/* Input checkbox */
input[type="checkbox"] {
  margin: 4px !important;
  margin-top: 5px;
}
/* Input radio buttons */
input[type="radio"]{
  margin: 4px !important;
  margin-top: 5px;
}

 .rd-checkboxlist-popup {
  border: 1px solid;
  color: #666666 /*InputBoxFontColor*/ ;
  border-color: #CCCCCC /*InputBoxBorderColor*/ ;
  background-color: #FFFFFF /*InputBoxBackground*/ ;
  padding: 3px;
}
.rd-checkboxlist ul li span {
  color: #666666 /*InputBoxFontColor*/;
}
.yui3-skin-sam .yui3-aclist-content {
  background: #FFFFFF /*InputBoxBackground*/ !important;
  border: 1px solid;
  border-color: #CCCCCC /*InputBoxBorderColor*/ !important;
}

/* Paging */
.rdThemePaging {
  vertical-align: middle;
}
table.rdThemePaging {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rdAg .rdThemePaging {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
}
.rdThemePaging a {
  font-size: 100%;
  color: #00558E /*LinkColor*/ !important;
}
.rdThemePagingCurrent {
  background-color: #e6f5ff /*ButtonBackgroundColor*/ ;
  color: #666666 /*ButtonFontColor*/ ;
  padding: 1px 3px;
  text-align: center;
  font-size: 120%;
}
input.rdThemePagingCurrent {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  color: #066CB0 /*LinkHoverColor*/ ;
  padding: 1px;
}
#colAddUser-TH {
  border-top: 1px solid #DADADA;
}
#coluserName-TH {
  border-right: 1px solid #DADADA;
  border-top: 1px solid #DADADA;
}
#colTenant-TH {
  padding-left: 5px;
  border-top: 1px solid #DADADA;
}

/* Report Author Page */
#PopupPanelContent a {
  text-align: center;
}
.rdReportAuthorToolboxItem {
  box-shadow: none !important;
}

.rd-element-editor {
  border: none;
}

.rdReportAuthor {
  margin-left: 5px;
}

/* Quicktip */
.highcharts-tooltip .rdquicktip-table {
  font-family: Helvetica /*MainFont*/, 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background-color: #363B42 /*QuicktipBackgroundColor*/ !important;
  color: #ffffff /*QuicktipFontColor*/ !important;
}
.rdquicktip-content, .rdCcTextNormal, .rdCcTextNormal table, .rdCcTextNormal td, .rdCcTextNormal span {
  background-color: #363b42 /*QuicktipBackgroundColor*/ !important;
  border-color: #363b42 /*QuicktipBorderColor*/ ;
  color: #ffffff /*QuicktipFontColor*/ ;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=95);
  opacity: 0.99;
  border-radius: 0;
  font-weight: bold;
  font-size: 100%;
  padding: 1px 2px 2px;
}
.rdquicktip-content .rdquicktip-table {
  color: #ffffff /*QuicktipFontColor*/ ;
}
.quicktip-pointer {
  border-color: #363b42 /*QuicktipBorderColor*/ transparent;
}
.quicktip-pointer-inner {
  border-color: #363b42 /*QuicktipBorderColor*/ transparent;
}
.rdquicktip-content .header {
  background-color: #363b42 /*QuicktipBackgroundColor*/ ;
  font-size: 120%;
}

/* CrosstabComparison */
.rdCcTextNormal .rdPopupContent span {
  color: #ffffff /*QuicktipFontColor*/ ;
}
.rdCcTextPositive, .rdCcTextNormal .rdPopupContent .rdCcTextPositive span {
  color: #85B74D /*TextPositiveFont*/ ;
}
.rdCcTextNegative, .rdCcTextNormal .rdPopupContent .rdCcTextNegative span {
  color: #B84026 /*TextNegativeFont*/ ;
}
.rdCcTextNormal .rdPopupContent {
  font-size: 90%;
}

/* Dimension / OLAP / Chart Grid */
.rdDgCaptionRow, .rdDgCaptionRow td {
  background-color: #FFFFFF /*PageBackgroundColor*/ ;
  color: #666666 /*PageFontColor*/ ;
  background-image: none;
}
.rdDgCaptionRow {
  font-size: 150%;
}
#lblOgTitle, #lblOgDrillthroughTitle {
  font-size: 133%;
  font-weight: bold;
  padding: 0px;
}
.rdCgPanel {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  border: none;
}
.rdCgFilterTable td, .rdDg #popupFilter td, .rdDg #popupFilter a {
  background-color: #FFFFFF /*ModalBackgroundColor*/ !important;
  color: #666666 /*ModalFontColor*/ ;
}
td.rdDgPanel table, .rdDgContentHeadingRow, td.rdCgPanel table, .rdCgContentHeadingRow {
  color: #666666 /*ModalFontColor*/;
  background-color: #FFFFFF /*ModalBackgroundColor*/;
}
.rdDg A:link, .rdOg a:link, #dtFilter a {
  color: #00558E /*LinkColor*/;
}
.rdCg IMG {
  margin-bottom: -8px;
  padding-left: 6px;
}
.rdCgPanel > table > tbody > tr > td {
  padding: 6px;
}
td.rdDgPanel .rdThemeDataTableCell, td.rdCgPanel .rdThemeDataTableCell {
  background-color: #FFFFFF /*ModalBackgroundColor*/ !important;
}
.rdOgDataCell, .rdCgDataCell {
  padding: 5px 10px;
  color: #666666 /*TableDataFontColor*/ ;
  background-color: #FFFFFF /*TableDataBackgroundColor*/ !important;
  white-space: nowrap;
}
.rdOgPanel table.rdOgOlapTable tr:last-child td, .rdOgPanel table.rdOgOlapTable tr:last-child th, .rdDgPanel table.rdDgOlapTable tr:last-child td, .rdDgPanel table.rdDgOlapTable tr:last-child th {
  border-bottom: none;
}
.rdOgPanel table.rdOgOlapTable td:last-child, .rdDgPanel table.rdDgOlapTable td:last-child {
  border-right: none;
}
.rdOgPositionCellXAxis {
  border-right: 0 solid #CCCCCC !important;
}
#rowDimension #mclDimensions, #rowMeasure #mclMeasures, #rowFilter #mclFilters, .rdOg #rowFilter {
  background-color: #FFFFFF /*TabContainerBackground*/;
}
td.rdDgPanelLine, .rdDgPanelLine td, .rdDgPanelLine a:link, td.rdCgPanelLine, .rdCgPanelLine td, .rdCgPanelLine a:link {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  font-size: 100%;
  border: none;
}
.rdDgPanelLine .rdDgSelected a:link
.rdCgPanelLine .rdCgSelected a:link {
  color: #666666 /*TabContainerFontColor*/ !important;
}
.rdDgPanelLine .rdDgSelected, .rdCgPanelLine .rdCgSelected, .rdCgPanelLine .rdCgSelected span {
  background-color: #FFFFFF /*SideHoverBackground*/ !important;
  color: #00558E /*SideFont*/ !important;
}
th.rdOgPositionCellXAxis, td.rdOgPositionCellXAxis, td.rdOgPositionCellXAxis td, th.rdOgPositionCellYAxis, th.rdOgSortColumn, th.rdCgPositionCellXAxis, td.rdCgPositionCellXAxis, td.rdCgPositionCellXAxis td, th.rdCgPositionCellYAxis {
  color: #00558E /*TableColumnHeaderFontColor*/ ;
  background-color: #d2d2d2 /*TableColumnHeaderBackgroundColor*/ ;
  padding: 3px;
}
th.rdOgPositionCellXAxis, td.rdOgPositionCellXAxis, th.rdCgPositionCellXAxis, td.rdCgPositionCellXAxis {
  padding: 3px;
  white-space: nowrap;
}
td .rdDgPanelLine, td .rdDgPanelLine table {
  background-color: #FFFFFF /*ModalBackgroundColor*/ !important;
}
#rowExport #lblExport {
  color: #363B42;
}
.rdOgContentHeading {
  color: #666666 /*TableGroupHeaderRowFontColor*/ ;
}
.rdDgContentHeading, .rdCgContentHeading, .rdOgContentHeading {
  color: #00558E /*ModalTitleFontColor*/;
  font-size: 150%;
  vertical-align: bottom;
}
#lblOgDrillthroughTitle {
  padding: 12px 6px;
  color: #00558E /*ModalTitleFontColor*/;
}
#divAxes .rdOgContentHeading #lblExport {
  background-color: #ecedee !important;
}
#divExport #lblExport {
  background-color: #454d59 !important;
}
.rdOgSortColumn span {
  color: #00558E /*TableColumnHeaderFontColor*/ ;
}
.rdCg #lblColumnTitle, .rdCg #lblRowTitle {
  color: #363b42 !important;
}
.rdOgOlapTable {
  border:none;
}
/*Row Selection Style for DG*/
.rdOgOlapTable tr:hover td, .rdDgOlapTable tr:hover td {
  background-color: #FFFFFF /*SideHoverBackground*/ !important;
  color: #00558E /*SideFont*/ !important;
}
.rdOgOlapTable tr:hover .rdOgPositionCellXAxis td {
  background-color: #d2d2d2 /*TableColumnHeaderBackgroundColor*/!important;
}
.rdDgOlapTable tr:hover .rdOgPositionCellXAxis td {
  background-color: #d2d2d2 /*TableColumnHeaderBackgroundColor*/!important;
}
#otFilterTable input[type='checkbox'] {
  margin: 1px 2px 0;
  vertical-align: bottom;
}
#otFilterTable .rdOgPositionLabelYAxis {
  vertical-align: sub;
}
.rdOgPositionLabelYAxis {
  color: #00558E  ;
  background-color: #D2D2D2 ;
}

/* Tabs */
/*  Formula Tab */
/*  CXV1-19144  */
#rdDataTableDiv-dtCalcColumns > table > tbody > tr > td:first-child {
  width: 10%;
  min-width: 3em;
  max-width: 3em;
  word-break: break-all;
}
#rdDataTableDiv-dtCalcColumns > table > tbody > tr > td:first-child + td {
  width: 1000px;  /* Since the data table have a dynamic width according to the columns added, we have to specify a width in px in order to avoid the screen goes totally wide with larger formulas */
  min-width: 50em;
  max-width: 100em;
  word-break: break-all;
}
#rdDataTableDiv-dtCalcColumns > table > tbody > tr > td:first-child + td + td {
  width: 10%;
  padding-left: 20px;
  min-width: 1em;
  max-width: 1em;
}
#rdDataTableDiv-dtCalcColumns > table > tbody > tr > td:first-child + td + td + td {
  width: 10%;
  min-width: 1em;
  max-width: 1em;
}
/*  CXV1-19144  */
#rdStartTable {
  width: auto;
  min-width: 280px;
}
#rdAgCalcFormula {
  width: auto;
  min-width: 375px;
  min-height: 100px;
}
#rdAgCalcName, #rdAgCalcDataTypes, #rdAgCalcFormats, #rdAgCalcDataColumns, #rdAgCalcOperators, #rdAgCalcDataColumns {
  width: 243px;
}
#rdAgCalcDataColumns {
  margin-bottom: 10px;
}
#lblCalcInsertDataColumn {
  margin-left: 15px;
}
#divFilterValue_rdAgAnalysisFilter {
  margin-left: 15px;
}
.rdAgCommand, .rdAgCommandIdle {
  line-height: 20px !important;
}
.rdAcCommand {
  line-height: 29px !important;
}
.rdDashboardCommand {
  line-height: 20px !important;
}
#rdAddTabCog {
  margin-top: -28px !important;
}
#rdTabs {
  background: transparent;
}
.yui-navset {
  font-size: 100%;
}
.yui-navset .yui-nav .selected a, .yui-navset .yui-nav a {
  font-size: 150%;
  background-color: transparent !important;
  background-image: none !important;
  color: #454d59;
  text-decoration: none;
  border: none !important;
}
.yui-navset .yui-content {
  border: none !important;
}
.yui-navset .yui-nav li {
  background-color: #D1D1D1 /*InactiveTabBackground*/ ;
  padding: 6px 18px;
}
.yui-navset .yui-nav li.selected, .yui-navset .yui-nav li.selected:hover {
  background-color: #07487A /*TabContainerSelectedBackground*/;
  border: 1px solid #ddd;
}
.yui-navset .yui-nav li a {
  color: #666666 /*InactiveTabFontColor*/ ;
}
.yui-navset .yui-nav li.selected a {
  color: #FFFFFF /*ActiveTabFontColor*/ !important;
  -webkit-transition: color 0.20s ease-in-out 0s;
  -moz-transition: color 0.20s ease-in-out 0s;
  transition: color 0.20s ease-in-out 0s;
}
.yui-navset .yui-nav li:hover {
  background-color: #F1F1F1 /*InactiveHoverTabBackground*/ ;
}
.yui-navset div.yui-content {
  background-color: #F1F1F1 /*ActiveTabBackground*/ !important;
  overflow: none;
}
.yui-navset li em {
  padding: 0 !important;
}
#rdTabs .selected.yui3-dd-drop a {
  padding-right: 3px;
}
#rdTabs .selected.yui3-dd-drop a em {
  font-weight: normal;
}

/* dashboard */
#ppChangeDashboard {
  top: 10px !important;
}
table.rdDashboard {
  left: 0;
  right: 0;
}
td.rdDashboard {
  background-color: #F1F1F1 /*ActiveTabBackground*/ ;
}
#rdDashboardPanelTable, #rdDivDashboardPanelTable, .rdDashboardDropZone {
  background-color: #F1F1F1 /*ActiveTabBackground*/ ;
}
td.rdDashboardDropZoneActive, .rdAgDropZoneActive {
  background-image: none;
  background-color: #DEDEDE;
}
.rdDashboardPanel, .rdDashboardPanel > table {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  border-radius: 4px;
}
.rdDashboardPanel {
  padding: 0px;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.rdDashboardFilterPanel {
  background-color: #FFFFFF /*SideHoverBackground*/;
}
.rdDashboardFilterPanel a{
	color: #00558E /*SideFont*/
}
#rdDashboardListTable {
  margin: 0;
}
.rdDashboardTitle table {
  background-image: none !important;
  color: #00558E /*ModalTitleFontColor*/ ;
  padding: 0;
}
.rdDashboardTitle .rdDashboardCommand {
}
td.rdDashboardTitle {
  background-image: none !important;
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  padding: 0;
}
.rdDashboardText.panelTitleRename {
  margin: 12px;
}
.rdDashboardColumn .rdDashboardTitleCaption, #rdDivDashboardPanelTable .rdDashboardTitleCaption {
  color: #00558E /*ModalTitleFontColor*/ ;
}
.rdDashboardTitleCaption {
  font-size: 150%;
}
.rdDashboardTitle .rdDashboardControl {
  padding: 5px;
  vertical-align: top;
}
.panelInnerTable {
  padding-left: 5px;
}
#rowChangeTab {
  background-color: transparent;
}
#rowChangeTab .rdDashboardCommand {
  background-color: transparent;
}
#rowsTabChange table, #rdDashboardListTable table {
  background-color: transparent;
}
#rowsTabChange .rdDashboardTitle, #rowPanelList .rdDashboardTitle {
  border: none;
}
#rdTabAddNewTab a {
}
#rdTabAddNewTab em {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 6px;
}
.rdDashboardParams, td.rdDashboardParams, .rdDashboardParams table, tr.rdDashboardParams td  {
  background-color: transparent;
  color: #666666 /*PageFontColor*/;
}
.rdDashboardText {
  line-height: 1.25;
}
.rdDashboardPanel
{
    border-color: RGBA(0,85,142,0);
}

.rdDashboardPanelGlobalFiltered
{
    border-color: RGBA(0,85,142,.8);
}
/* Add Panels + Visual Gallery */
.rdPopupPanelTitleCaption {
  font-size: 150%;
}
.rdDashboardPanelDescription {
  padding: 0 12px 12px 12px;
}
.rdDashboardPanelDescription .rdDashboardTitleCaption {
  font-size: 120%;
}
.rdDashboardPanelDescription .rdDashboardPanelImage, .rdDashboardPanelDescription .rdDashboardTitleCaption, .rdDashboardPanelDescription .rdDashboardText {
  margin-bottom: 12px;
}
.rdNewAnalysisText {
  font-size: 120%;
}
.rdPopupContent a span.rdNewAnalysisLink {
  color: #00558E /*LinkColor*/ ;
}
.rdPopupContent a:hover span.rdNewAnalysisLink {
  color: #066CB0 /*LinkHoverColor*/ ;
  text-decoration: none;
}

/* Report Layout */
#rdReportAuthor {
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
}
#rdReportAuthor, #rdReportAuthor #rdDashboardPanelTable, #rdReportAuthor .rdDashboardDropZone {
  background-color: #ffffff;
}
#rdReportAuthor #rdDivDashboardPanelTable {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.rdDashboardPanelContainer {
  background-color: transparent;
}
#rdReportAuthor .rdDashboardPanelContainer .rdDashboardPanel {
  box-shadow: none;
  border: 1px solid #f0f0f0;
}
#rdReportAuthor .rdDashboardPanelContainer .rdDashboardPanel:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
#rdReportAuthor .rdDashboardControl {
  width: 1%;
}

/*rdElement: DataList | rdElement: ListItem*/
.ThemeULNone {
  list-style-type: none;
}

.ThemeULDisc {
  list-style-type: disc;
}

.ThemeULCircle {
  list-style-type: circle;
}

.ThemeULSquare {
  list-style-type: square;
}

.ThemeOLDecimal {
  list-style-type: decimal;
}

.ThemeOLLowerAlpha {
  list-style-type: lower-alpha;
}

.ThemeOLUpperAlpha {
  list-style-type: upper-alpha;
}

.ThemeOLLowerRoman {
  list-style-type: lower-roman;
}

.ThemeOLUpperRoman {
  list-style-type: upper-roman;
}

/*End Element*/
/* Report Layout Toolbar */
.rdReportLayoutToolbar {
  border-collapse: collapse;
}
.rdReportLayoutToolbarItem {
  padding: 12px 0;
  border: 1px solid #86cac3;
}
.rdReportLayoutToolbarItem:hover {
  background-color: #abe4de;
}
.rdReportLayoutToolbarItem:active {
  position: relative;
  top: 1px;
}
.rdReportLayoutToolbarItemImage {
  padding-right: 12px;
}

/* Popup Panel */
.filterPopupRow {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  display: block;
}
/*  This will make an scrollbar appears for larger Edit Panel popup in Author Dashboard page */
.rdEditAgVizFrame {
  max-height: 600px;
}
.rdPopupContent {
  margin-bottom: 0px;
}
.valueLabelPopup {
  margin-right: 42px !important;
}
.comparisonLabelPopup{
  margin-right: 5px !important;
}
.popUpEditPanel {
  position: fixed;
  top: calc(15% - 25px) !important;
  left: calc(25% - 25px) !important;
}
.filterAddBtn {
  line-height: 20px !important;
}
.filterDashboardParams {
  padding: 0px !important;
}
/* Visual Gallery Popup */
#rdAddPanelsList {
  height: 325px !important;
  margin-left: 15px;
  overflow-y: auto;
}
#rdPopupPanelTable_ppChangeDashboard {
  width: 80% !important;
  top: 15px !important;
  position: relative;
  left: calc(15% - 50px) !important;
}
.rdPopupPanel {
  background-color: #FFFFFF /*ModalBackgroundColor*/ !important;
  border-color: #B7B7B7 /*ModalBorderColor*/ ;
  border-radius: 4px;
  padding: 8px;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
}
#PopupPanelContent {
  padding: 5px;
  margin: 10px !important;
  padding-bottom: 0px !important;
}
.popupSelectLabel, .popupSelectBorderThickness {
  margin-bottom: 5px;
}
#PopupPanelContent td.rdDashboardControl {
  padding: 12px;  /* background-color: #e1e1e1;      /* add background for just bottom bar */
}
#PopupPanelContent .rdDashboard, #rowsSchedule, .sharePopup {
  /* eliminates the gray container background */
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  margin-left: 15px;
}
#PopupPanelContent #colHours, #PopupPanelContent #colMinutes {
  vertical-align: top;
}
.ModalPreviewFont, .rdPopupContent .rdThemeInputCaption, .rdPopupContent > td, .rdPopupContent < span, .rdPopupContent < a span {
  color: #FFFFFF /*TableHeaderRowFontColor*/ ;
}
.rdPopupPanelTitle, .rdPopupPanelTitle td, .rdPopupPanelTitle span {
  background-color: #FFFFFF /*ModalBackgroundColor*/ !important;
  background-image: none;
}
.ModalTitlePreview, .rdPopupPanelTitle, .rdPopupPanelTitle td, .rdPopupPanelTitle span {
  color: #474747 /*ModalTitleFontColor*/ !important;
}
.rdPopupPanelTitle {
  padding-bottom: 6px;
}
.rdPopupPanelTitle .rdPopupPanelTitle {
  padding-bottom: 0;
  padding-left: 15px;
  padding-top: 10px;
}
.rdAddPanelSearch {
  padding-left: 15px;
}
#lblNoPanels, #rdNewAnalysisColumn {
  padding-left: 15px;
}
.rdPopupPanelTitle .rdPopupPanelCommand {
  border: none !important;
  border-radius: 4px;
}
.rdPopupPanelCommand {
  font-size: 150%;
  background: none;
  text-decoration: none !important;
  color: #00558E /*ModalTitleFontColor*/ ;
  border-color: transparent;
  font-weight: bold;
  padding: 0 3px;
}
.rdPopupPanelControl {
  width: 1%;
  padding-right: 15px;
  padding-top: 10px;
}
.rdPopupPanel .rdDashboardPanel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input#txtEditBookmarkDescription {
  margin: 18px 0 18px 3px;
  margin-right: 25px;
}
#txtEditBookmarkDescription-Caption {
  margin-left: 15px;
  margin-right: 15px;
}
#scriptUpdateCaption {
  float: left;
  margin-bottom: 18px !important;
  margin-left: 17px !important;
}
.ppAddToDashboardPanel {
  font-size: 100%;
}
#EmailTo {
  width: 230px;
  margin-left: 15px;
  margin-right: 5px;
}
#EmailSubject {
  margin-top: 8px;
  width: 230px;
  margin-left: 15px;
  margin-bottom: 8px;
}
#EmailBody {
  max-width: 230px;
  height: 70px;
  margin-left: 15px;
}
#ExportFormat, #selSchInterval_rdSchedule, #selSchFirstRunTime_rdSchedule, #datSchStartDate_rdSchedule, #datSchEndDate_rdSchedule, #selSchEndTime_rdSchedule, #selSchEndTime_rdSchedule {
  width: 133px;
  margin-bottom: 8px;
}
#ExportFormat {
  margin-left: 15px;
  margin-bottom: 8px;
}
#PdfPageOrientation {
  margin-left: 15px;
}
#divDone {
  margin-left: 45px;
}
#EmailCc, #EmailBcc {
  margin-left: 15px;
  width: 230px;
  margin-top: 8px;
}

/* PopupMenu */
.yuimenu {
  padding: 0 !important; /* 1px */
  border-radius: 4px;
  border: 1px solid;
  border-color: #666666 /*MenuBorderColor*/ !important;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.rdPreviewMenu, .yuimenu ul {
  background: #F0F0F0 /*MenuBackgroundColor*/ !important;
  padding: 6px 0;
}
.yuimenu ul li {
  background: #F0F0F0 /*MenuBackgroundColor*/ !important;
}
.rdPopupMenu .yuimenuitemlabel {
  font-size: 100%;
}
.rdPopupMenu A:visited, .rdPopupMenu A:link {
  color: #00558E /*MenuLinkColor*/ !important;
}
.yuimenubaritemlabel, .yuimenuitemlabel, .yuimenubaritem, .yuimenuitem {
  font-size: 100%;
  line-height: 2;
}
.yuimenubaritemlabel-selected, .yuimenuitemlabel-selected, .yuimenubaritem-selected, .yuimenuitem-selected {
  background-color: #00558E /*MenuItemHoverBackgroundColor*/ ;
  text-decoration: none;
}
.yuimenuitem-hassubmenu-selected > a span {
  color: #FFFFFF /*MenuItemHoverColor*/ ;
}
.first-of-type {
  background-color: #00558E /*MenuItemHoverBackgroundColor*/ ;
  border: none;
  display: block;
  padding: 3px;
  width: 100%;
}
.first-of-type li a:hover {
  color: #FFFFFF /*MenuItemHoverColor*/ !important;
  background-color: #00558E /*MenuItemHoverBackgroundColor*/ !important;
  text-decoration: none;
}
.first-of-type:hover {
  background-color: #00558E /*MenuItemHoverBackgroundColor*/ ;
  text-decoration: none;
}

/* calendar */
.rdDataCalendarFont, .rdDataCalendar, .rdDataCalendar table, .rdDataCalendarPopUp, .rdDataCalendarPopUp table, .rdTimePicker {
  border-collapse: separate;
}
.rdPopupContent .rdTimePicker {
  background-color: transparent;
}
table.rdDataCalendar {
  background-color: transparent;
  border-collapse: collapse;
}
.rdPopupContent table.rdDataCalendar {
  background-color: transparent;
  border-collapse: collapse;
}
.rdDataCalendarWeekdayCaption {
  background-color: #FFFFFF /*WeekdayBackground*/ ;
  color: #666666 /*ModalFontColor*/ !important;
  font-size: 120%;
}
.rdDataCalendarWeekdayCaption td {
  color: #666666 /*ModalFontColor*/ !important;
}
.rdDataCalendarDay, .rdTimePickerCell, .rdTimePickerAMPMCell {
  background-color: transparent;
  color: #666666 /*ModalFontColor*/ ;
}
.rdPopupContent .rdDataCalendarDay, .rdPopupContent .rdTimePickerCell, .rdPopupContent .rdTimePickerAMPMCell, .rdPopupContent .rdDataCalendarDay span, .rdPopupContent .rdTimePickerCell span, .rdPopupContent .rdTimePickerAMPMCell span {
  background-color: #FFFFFF /*ModalBackgroundColor*/ !important;
  color: #666666 /*ModalFontColor*/ !important;
}
.rdDataCalendarToday, .rdPopupContent .rdDataCalendarToday, .rdPopupContent .rdDataCalendarToday span {
  background-color: #CCCCCC /*TodayBackgroundColor*/ !important;
}
.rdDataCalendarCaption, .rdDataCalendarDayCaption {
  color: #666666 /*ModalFontColor*/ !important;
  font-size: 120%;
}
.rdDataCalendarDayOutsideMonth, .rdDataCalendarDayOutsideMonth span {
  background-color: #FFFFFF /*OutsideMonthBackground*/ !important;
  height: 24px; /*Issue 22365*/
}
.rdDataCalendarDayOutsideMonth {
  border: solid 1px;
  border-color: #454D59 /*PickerBorderColor*/ ;
}
.rdPopupContent .rdDataCalendarDayOutsideMonth {
  border: solid 1px;
  border-color: #454D59 /*PickerBorderColor*/ ;
}
td.rdDataCalendarDay {
  border: solid 1px;
  border-color: #454D59 /*PickerBorderColor*/ ;
}
.rdPopupContent td.rdDataCalendarDay, .rdPopupContent .rdTimePickerInnerTables td {
  border: solid 1px;
  border-color: #454D59 /*PickerBorderColor*/ ;
}
.rdDataCalendarDayLabelHighlight, .rdTimePickerTableHeaderCaption, .rdDataCalendarCaption, .rdTimePickerLabelHighlight, .rdPopupContent .rdDataCalendarDayLabelHighlight span, .rdPopupContent .rdTimePickerLabelHighlight span {
  background-color: #00558E /*CalendarSelectionColor*/ !important;
  color: #FFFFFF;
}
#Cal-2-CaptionCell.rdDataCalendarCaption, #Cal-3-CaptionCell.rdDataCalendarCaption {
  line-height: 2.2;
}
#lblAddPanelsSort {
  margin-left: 25px;
}
#rdAfFilterValue_rdGlobalAf {
  width: 152px;
  margin-left: 15px;
}

/* WaitPage */
.rdThemeWaitPanel {
  background-color: #ECEDEE;
  padding: 12px;
  border-radius: 4px;
}
.rdThemeWaitCaption {
  color: #000000;
  font-size: 120%;
}
#rdWait span {
  color: #000000 !important;
}

/* MultiColumnList */
.ThemeContainer tr td span:hover {
  background-color: #e0eefb;
}
.rdDataCalendar .rdDataCalendarDropdown {
  /*Issue 22365*/
  margin-bottom: 2px;
  margin-top: 2px;
}
.rdDgSelectedNot a {
  background-color: transparent !important;
}
#rdDataTableDiv-otFilterTable {
  padding: 7px;
}
#rowsFilterDone #actFilterMember {
  padding-left: 7px;
}
.rdPopupPanelTitle .rdPopupPanelTitleCaption {
  padding-left: 0px;
}
.rd-settings-popup .rd-popup-content td {
  padding-top: 0px !important;
}
.rdThemeWaitPanel .rdThemeWaitCaption {
  color: #000000;
}
div[id^=LinkSettingPopup] .rd-popup-content #rdRows-3 tr td:first-child {
  width: 100%;
}
div[id^=LinkSettingPopup] .rd-popup-content #rdRows-4 tr td {
  width: 100%;
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
  div[id^=LinkSettingPopup] .rd-popup-content #rdRows-3 tr td:first-child {
    width: 100%;
  }
  div[id^=LinkSettingPopup] .rd-popup-content #rdRows-4 tr td {
    width: 100%;
  }
}
.rdDgOlapTable tbody a {
  display: inline-table;
}
.rdquicktip-content p {
  color: #ffffff !important;
}
.rdThemeDataTableHeader > span {
  color: #656565 /*TableColumnHeaderFontColor*/ !important;
}
.rdAgContentHeadingRow td.rdAgAddDashboard {
  float: none !important;
}
#divReportAuthorWorkContainer {
  margin-left: 0px;
}
.rdAgControlsPosition {
  padding-right: 40px;
}
.rdAgBackground {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  width: 100%;
  white-space: nowrap;
  border-radius: 4px;
}
#imgMinus, #rowTable #imgTableExport, #imgAddToDashboardDataTable, #imgTableEdit {
  margin: 0 !important;
}
.rdOgCaptionRow, .rdOgCaptionRow td {
  background: transparent !important;
  color: #00558E /*ModalTitleFontColor*/ !important;
}
#rowTable .rdOgContentHeadingRow span a, #rowTable .rdOgContentHeadingRow td, #rowChart .rdOgContentHeadingRow span a, #rowHeatmap .rdOgContentHeadingRow span a {
  vertical-align: sub !important;
}
#rowDimension table, #rowMeasure table, #rowDimension .rdOgContentHeadingRow, #rowCalculatedMeasure table {
  background-color: #FFFFFF /*TabContainerBackground*/ ;
  border: none;
  color: #00558E /*ModalTitleFontColor*/ ;
}
.rdOgContentHeadingRow, #rowTable .rdOgContentHeadingRow, #rowHeatmap .rdOgContentHeadingRow {
  background-color: #FFFFFF /*ModalBackgroundColor*/ ;
  border: none;
  color: #00558E /*ModalTitleFontColor*/ ;
}
.rdOg A:hover {
    text-decoration: none;
}
#rowMenu .rdAgPanel IMG {
  margin: 5px 0 2px;
}
#rowMenu .rdAgPanel table td:first-child, #rowMenu .rdOgPanel table td:first-child {
  padding-left: 10px;
}
#rowMenu .rdAgPanel table td:last-child {
  padding-right: 10px;
}
#rowMenu .rdAgTabHeading span {
  padding-left: 0 !important;
}
.go-headers .go-box-container {
  padding-left: 14px !important;
}
.yuimenuitemlabel {
  padding: 2px 20px !important;
  color: #000000 !important;
}

/* Master Report Top Frame*/
.ThemeMasterReportTopFrame {
  background-color: #07487A /*HeaderBackground*/;
  height: 40px;
}
.rd-gridsystem-scrollbar-wrap {
  display: -webkit-flex;
  display: inline;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.ThemeMasterReportTopFrame .row.rd-gridsystem-scrollbar-wrap {
    margin: 0;
}
.ThemeMasterReportTopFrame .rdResponsiveColumn {
  align-self: center;
}
#FirstColumnResponsive {
  width: auto;
}
#divLogo {
  margin-right: 20px;
}
#LogoutColumn {
  width: auto;
  margin-left: auto;
  float: right;
}
.ThemeMasterReportTopFrame img {
  vertical-align: text-bottom;
}
.ThemeMasterReportTopFont, .ThemeMasterReportTopFrame a {
  color: #FFFFFF /*HeaderFont*/ ;
}
.ThemeMasterReportTopFrame a:hover {
  opacity: .9;
  text-decoration: none;
}

/* Master Report Left Frame*/
.ThemeMasterReportLeftFrame {
  background-color: #FFFFFF /*SideBackground*/ ;
  color: #00558E /*SideFont*/ ;
  min-width: 150px;
}
.ThemeMasterReportLeftFrame a, .ThemeMasterReportLeftFrame span, .ThemeMasterReportLeftFrame #rdMenuTable {
  width: 100%;
  text-decoration: none;
}
#LeftFrame .ThemeLinkButtonSmall span, #LeftFrame .ThemeLinkButtonSmall {
  background-color: transparent !important;
  color: #00558E /*SideFont*/ !important;
}
#LeftFrame .ThemeLinkButtonSmall:hover {
  background-color: #FFFFFF /*SideHoverBackground*/ !important;
  color: #00558E /*SideFont*/ !important;
}
.ThemeMasterReportFooterFrame {
  background-color: #FFFFFF /*FooterBackground*/ ;
  color: #00558E /*FooterFont*/ ;
  height: 20px;
  padding: 3px;
}
.rdTimePickerInnerTables {
  padding: 0px !important;
}

/* NewMenuHoverEffect */
#LeftFrame .ThemeMenuItemLink span, #LeftFrame .ThemeMenuItemLink {
  background-color: transparent !important;
  color: #00558E /*SideFont*/ !important;
}
.ThemeMenuItemLink {
  font-size: 12px;
  line-height: 2.5;
  margin-top: 3px !important;
  padding: 3px 6px;
  cursor: pointer;
}
.LaunchPanel, #LeftFrame .ThemeMenuItemLink:hover {
  background-color: #FFFFFF /*SideHoverBackground*/ !important;
  color: #00558E /*SideFont*/ !important;
}

/* End NewMenuHoverEffect
/*ThemeEditor*/
.rdThemeEditorAccordion a {
  text-decoration: none;
}
.rdThemeEditorAccordion {
  background-color: #F3F3F3;
  width: 100%;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
.rdThemeEditorAccordion:hover {
  background-color: #F9F9F9;
  width: 100%;
  text-decoration: none;
}
.rdThemeEditorAccordionSelected {
  background-color: #F3F3F3;
  width: 100%;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 4px solid;
  border-color: #00558E /*TabContainerSelectedBackground*/ ;
}
.rdThemeEditorAccordionSelected a {
  text-decoration: none;
  cursor: default;
}

/*Theme Editor*/
.rdPreviewBorder {
  border: solid 2px #f5f5f5;
  padding: 4px;
  border-radius: 4px;
}
.rdPreviewColorBox {
  height: 70px;
  padding: 6px !important;
}
.rdPreviewDisable {
  opacity: .2;
  cursor: not-allowed;
}
#divPreview {
  padding: 5px;
}
td.rdResizerColumn {
  border: none;
  padding: 0px;
  margin: 0px;
  cursor: ew-resize;
  border-radius: 5px;
  z-index: 9999;
  min-width: 6px;
  background-color: #E6E6E6;
}
td.rdResizerColumn:hover {
  background-color: silver;
  border-left: 1px black;
  border-right: 1px black;
}
td.rdResizerColumn:active {
  background-color: rgb(90, 64, 64);
}

/*FF fix for active splitter state*/
@-moz-document url-prefix() {
    td.rdResizerColumn.yui3-dd-dragging  {
        background-color: gray;
    }
}
td.rdInactiveResizerColumn {
	border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    z-index: 9999;
    min-width: 6px;
}

.yui3-aclist {
	z-index: 10000 !important;
}

.yui3-aclist-content .yui3-aclist-list {
	max-height: 400px !important;
	overflow-y: scroll;
}

/* Workaround for lack of class attribute in metadata columns -
* these columns have the potential to return wide data sets and require scroll bars
*/

td.rdThemeDataTableCell span[id*=Group_IDs] {
	overflow-y:auto;
	max-height:50px;
	display:inline-block;
}

td.rdThemeDataTableCell span[id*=Group_Names] {
	overflow-y:auto;
	max-height:50px;
	display:inline-block;
}

td.rdThemeDataTableCell span[id*=Skill_IDs] {
	overflow-y:auto;
	max-height:50px;
	display:inline-block;
}

td.rdThemeDataTableCell span[id*=Skill_Names] {
	overflow-y:auto;
	max-height:50px;
	display:inline-block;
}