.rdAg
{ 
	font-family: arial, sans-serif;
	font-size: 11px;
}
.rdAg TABLE
{ 
	font-family: arial, sans-serif;
	font-size: 11px;
}

.rdAg IMG 	{
	border: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}

.rdAg A:link
{	
	text-decoration:none;
}	

.rdAgCaptionRow
{
    background-image: url(rd666666.png);	
    font-size: 14px; 
    font-weight:bold;	
	color: #FFFFFF;
	height:26px;
}
.rdAgCaptionRow TD {
	background-color: #666666;
}

#lblTitle
{
	padding:5px;
}

.rdAgContentRow {
	vertical-align: top;
}

.rdAgContentHeadingRow
{
	background-color:#EEEEEE;
	width:100%;
	padding:0;
	margin-bottom:5px;
}
.rdAgContentHeading
{
	font-weight: bold;
	vertical-align:middle;
	white-space: nowrap;
	padding:0;
}

.rdAgDataTable 
{
	background-color: #CCCCCC;
}

.rdAgDataTable A:hover 
{
	text-decoration:underline;
}


TABLE.rdAgDataTable TD
{
    background-color: #F8F8F8;
    padding: 4px;
}
TABLE.rdAgDataTable TH
{
    background-image: url(rdF7F7F7-ECECEC.png);
    background-repeat:repeat-x; 
    background-color: #ECECEC;
    border-width: 0px;
	padding: 4px;	
}

TR.rdAgHeaderRow TH
{
    background-color: #C0C0C0;
    background-image: none;
	color: white;
	font-weight: bold;
}


TR.rdAgGroup0HeaderRow TD {background-color: #D0D0D0;}
TR.rdAgGroup1HeaderRow TD {background-color: #D8D8D8;}
TR.rdAgGroup2HeaderRow TD {background-color: #E0E0E0;}
TR.rdAgGroup3HeaderRow TD {background-color: #E8E8E8;}
TR.rdAgGroup4HeaderRow TD {background-color: #F0F0F0;}

TD.rdAgAlignRight
{
	text-align: right;
}
.rdAgAlignCenter
{
	text-align: center;
}

.rdAgSelectedTab
{
    background-image: url(../rdButtonIn.png);
   	background-color:#DDDDDD;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #656565;
	border-right: 1px solid #656565;
	border-left: 1px solid #DDDDDD;
	text-decoration: none;
	margin-left: 0px;
	cursor:pointer;
}
.rdAgSelectedTab span {
	color: #FFFFFF;
}
.rdAgSelectedTabOn
{
    background-image: url(rdButtonInOn.png);
}
.rdAgUnselectedTab
{
    background-image: url(../rdButton.png);
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777;
	border-left: 1px solid #DDDDDD;
	text-decoration: none;
	margin-left: 0px;
	cursor:pointer;
	text-align:center;
}
.rdAgUnselectedTabOn
{
    background-image: url(rdButtonOutOn.png);
}


.rdAgTabHeading
{
	white-space: nowrap;
}

.rdAgPanel {
    background-color: #F8F8F8;
	vertical-align: top;
	border: 1px solid #C1C1C1;
}

.rdAgCommand
{
	font-weight:normal;
	color:#555555;
	text-decoration: none;
    background-image: url(../rdButton.png);
    background-color: #DDDDDD;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777;
	border-left: 1px solid #DDDDDD;
	margin-left: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height:24px;
	cursor:pointer;
	white-space: nowrap;
}

.rdAgCommand A:link	{	
	text-decoration:none;
	}	
.rdAgCommand A:visited	{	
	text-decoration:none;
	}	
.rdAgCommand A:active	{	
	text-decoration:none;
	}	
.rdAgCommand A:hover	{
	text-decoration:none;
}

.rdAgCommandHightlight
{
	font-weight: bold;
	background-color: #FFFFFF;
}

.rdAgPaging
{
}

.rdAgPickDistinctFrame
{
	height:400px;
	width:250px;
}
.rdAgPickDistinct
{
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
}

.rdAgError
{
	color: Maroon;
	font-weight: bold;
}

.rdAgImage 
{
	border: 0px;
	margin: 0px;
}

.rdAgNoPadding
{
	padding:0;
}

.rdAgInstruct
{
	white-space: pre-wrap;
	word-wrap: break-word; 
	vertical-align:top;
	width:300px;
}

.rdCrosstabDropdownColumn
{
	white-space:nowrap;
}

.rdAddToDashboardHidden
{
	display:none;
}
.rdAgDropZone
{
	height:5px;
}
.rdAgDropZoneActive
{
    background-image: url(rdCCCCDD-EEEEFF-15.png);
    border-color: #9999AA;
    border-width: 1px;
	height:5px;
}
.KPIColor1{
	background-color:#A61C00;
	cursor:pointer;
}
.KPIColor2{
	background-color:#CC0000;
	cursor:pointer;
}
.KPIColor3{
	background-color:#E69138;
	cursor:pointer;
}
.KPIColor4{
	background-color:#F1C232;
	cursor:pointer;
}
.KPIColor5{
	background-color:#6AA84F;
	cursor:pointer;
}
.KPIColor6{
	background-color:#45818E;
	cursor:pointer;
}
.KPIColor7{
	background-color:#3C78D8;
	cursor:pointer;
}
.KPIColor8{
	background-color:#674EA7;
	cursor:pointer;
}
.KPIColor9{
	background-color:#A64D79;
	cursor:pointer;
}






