.SpecBackgroundWhite {
	background-color: red;
}
.SpecHeader150 {
	min-height: 100%;
	position: relative;
	font-size: 150%;
	font-weight: bold;
}
.SpecHeader120 {
	min-height: 100%;
	position: relative;
	font-size: 120%;
	font-weight: bold;
}
.SpecHeader110 {
	min-height: 100%;
	position: relative;
	font-size: 110%;
	font-weight: bold;
	}
}.SpecHeader100 {
	min-height: 100%;
	position: relative;
	font-size: 100%;
	font-weight: bold;
}
.SpecHeader90 {
	min-height: 100%;
	position: relative;
	font-size: 90%;
	font-weight: bold;
}
.SpecText100 {
	min-height: 100%;
	position: relative;
	font-size: 100%;
}
.SpecText90 {
	min-height: 100%;
	position: relative;
	font-size: 90%;
}
.SpecText80 {
	min-height: 100%;
	position: relative;
	font-size: 80%;
}
.SpecText120 {
	min-height: 100%;
	position: relative;
	font-size: 120%;
}
.SpecText110 {
	min-height: 100%;
	position: relative;
	font-size: 110%;
}
.SpecText70 {
	min-height: 100%;
	position: relative;
	font-size: 70%;
}
.SpecRed {
	color: Red;
}
.SpecBlack {
	color: Black;
}
.SpecBold {
	font-weight: Bold;
}
.SpecPageBreakAvoid {
	display: inline-table;
}