body
{
	background: url(../_Images/TechnologyBg.jpg) no-repeat top left;
	color: #000000;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	vertical-align : middle;
	text-align : center;
   font-family: Arial, Verdana, Helvetica, sans-serif;  
   font-size: 9pt;
}

TD {
	color: Black;
	background-color : #FFFFFF;
}	

A	{	
	font-family: Arial, Verdana, Helvetica, sans-serif;
	}	

A:link	{	
	text-decoration:	none;
	color:	#2881cd;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#2881cd;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#2881cd;
	}	
		
A:hover	{
	text-decoration:underline;
	color:   #214c6e;
   }

IMG 	{
   border: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
	
.pageTitle	{
	background: #3d708f;
	border-bottom: #98a8b5 5px;
	color: #0e2c43;
	font: bold 9pt Verdana, Arial;
	height: 56px;
	text-align: right;
	padding-bottom: 8px;
	padding-right: 30px;
	padding-top: 9px;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 100%;
}

.pageTitleLeft	{
	background: url(../_Images/TechPageTitleBgLeft.jpg) no-repeat top left;
	border-bottom: #98a8b5 5px;
	color: #0c293f;
	font: bold 11pt Verdana, Arial;
	height: 56px;
	padding-top: 7px;
	padding-bottom: 12pt;
	padding-left: 20pt;
	padding-right: 0pt;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 100%;
	text-align:left;
}

.pageTitleRight	{
	background: url(../_Images/TechPageTitleBgRight.jpg) no-repeat top right;
	border-bottom: #98a8b5 5px;
	color: silver; /* #0e2c43;*/
	font: bold 9pt Verdana, Arial;
	height: 58px;
	text-align: right;
	padding-bottom: 8px;
	padding-right: 30px;
	padding-top: 9px;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 100%;
	text-align:left;
}

.pageDescription {
	font: 8pt Verdana;
}

.footer
{
    text-align: Center;
    font-family: Arial, Verdana, Helvetica, sans-serif;  
    color: #265173;  
    font-size: 9pt;
    padding-left: 5px;
}

.footCenter
{
    text-align: Center;
    font-family: Arial, Verdana, Helvetica, sans-serif;  
    color: #333333;  
    font-size: 9pt;
    padding-left: 5px;
}

.bold
{
    font-weight: bold;
}

.red
{
	color : #790000;
}

.Orange
{
	color : #f7941d;
}

.blue
{
	color : #2881b2;
}

.green
{
	color : #447209;
}

.listTable
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: Black;
	font-size: 8pt;
	background-color : #a0a8ac;
	margin-left : auto;
	margin-right : auto;
}

TH.listTable
{
	color: White;
	background-color : #194262;
	background: url(../_Images/TechTableTitleBg.jpg) top left;
	font: bold 10pt 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.listTable
{
	color: Black;
	background-color : #f3f4f5;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

SPAN.listTable
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: Black;
	background-color : #f3f4f5;
	padding-bottom : 0;
	padding-left : 0;
	padding-right : 0;
	padding-top : 0;
}

.listTable A 
{
    color:#C3CAFF;
}

.paging {
	background: #ffffff;
	padding-left: 3px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: Black;
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
	margin-bottom : 10px;
	vertical-align : middle;
}

.buttons {
	margin-left : 15px;
}

.filterBg	{
	background: #E6E6E6;
	padding-top:2px;
	padding-bottom: 8px;
	text-align:left;
}

.filterBg TD {
	background: #E6E6E6;
}

.filterBtn	{
	background: #e9e7cf;
	color: #214973;
	font: bold 9pt Arial, Verdana, Helvetica, sans-serif;
	border-top : 1 solid #BDC5CF;
	border-right : 1 solid #4A719C;
	border-bottom : 1 solid #4A719C;
	border-left : 1 solid #BDC5CF;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: hand;
}


/* Form Items */
.txt	{
	font: 8pt Arial, Verdana, Helvetica, sans-serif;
	color: #000000;
	width : 180px;
	vertical-align: top;
}

.rtxtCaption	{
	color: #000000;
	font: bold 8pt Arial, Verdana, Helvetica, sans-serif;
	margin-left: 1px;
	margin-right: 1px;
	width : 150px;
	vertical-align: top;
}

.dt	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 163px;
	vertical-align: top;
}

.txta	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 186px;
	vertical-align: top;
}

/* uncomment the next line to make any listbox or dropdownlist wider */
/*.txta	{ width: 450px; }*/

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

.bottom {
	vertical-align: bottom;
}

.gHeader
{
	background: url(../_Images/TechTableHeader.jpg) top left;
	color: #FFFFFF;
	font: bold 8pt Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	padding-right: 5px;
	padding-top: 5px;	
	padding-left: 5px;
	padding-bottom: 5px;	
}

.gSummary
{
	background-color: #FFFFFF;
   font-weight: bold;
	text-align: right;
	padding-right: 4px;		
}

.objectTitle
{
    font-family: Arial;  
    color: #000000;  
    font-size: 12pt; 	    
    font-weight: bold;
}

.summaryRow
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: Black;
	font-size: 9pt;
   font-weight: bold;
}

.paramCaption 
{
    width:150px;
	color: #000000;
	font: bold 8pt Arial, Verdana, Helvetica, sans-serif;
	margin-left: 5px;
	vertical-align: top;
}

.rtxtCaptionSmall {
	color: #000000;
	font: bold 8pt Arial, Verdana, Helvetica, sans-serif;
	margin-left: 10px;
	margin-right: 1px;
	width : 35px;
	vertical-align: top;
}

.paramColumn, .paramSmallColumn
{
	vertical-align: top;
}

table
{
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:10pt;
}

.title
{
	background-color: White;
	font-weight:bold;
	color: Black;
}

.redtext
{
	color: red;
}
	
.AlignLeft
{
	text-align: left;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;
}


TH.AlignLeft
{
	background-color : #406f8b;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.AlignLeft
{
	padding-left : 5px;
}

.AlignCenter
{
	text-align: center;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;

}

TH.AlignCenter
{
	background-color : #406f8b;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}


.AlignRight
{
	text-align: right;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;
}


TH.AlignRight
{
	background-color : #406f8b;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.AlignRight
{
	padding-right : 5px;
}

.imageAlignLeft
{
	float: left;
	clear: both;
}

.imageAlignRight
{
	float: right;
	clear: both;
}

.imageAlignCenter
{
	display: block;
	float: none;	
	clear: both;
}

.BlackTextYellowBackground
{
            color: Black;
            background-color: Yellow !important;
}

.WhiteTextGreenBackground
{
            color: White;
            background-color: #65CB91 !important;
}

.ExportLeftSide {
            background: url(../_Images/ExportLeft.gif);
            height: 56px;
}

.ExportBg {
            background: url(../_Images/ExportCenter.gif);
            height: 56px;
}

.ExportRightSide {
            background: url(../_Images/ExportRight.gif);
            height: 56px;
}

.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

TH.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

.ExtraHeaderRowCells
{
	color: White;
	background-color : #194262;
	background: url(../_Images/TechTableTitleBg.jpg) top left;
	font: bold 10pt 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.imageCollapseExpand
{
	padding-right:2px;
	padding-top:2px;
	float: right;
	clear: both;
}
  
.tblCenter 
{
    margin-left:auto;
    margin-right:auto;
}


.AltRow TD
{
	background-color : #F3FAFF;
}
