<!-- Add any custom HTML in this file.  It will be included in all Report definitions. -->
<!-- 2017/09/01 Add Our Font -->
<link async="async" href="https://fonts.googleapis.com/css?family=Exo+2:600%7CSource+Sans+Pro:400,600" rel="stylesheet"></link>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '${BISERVICE_GTAG_KEY}');

  document.oncontextmenu = function () {
    return false;
  }
</script>
