/* Default CSS Stylesheet for the Ad Hoc Report Builder login page */

body
{
	background-color:#e4eec9;
	margin:0;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

table
{
    font: normal bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

input
{
	background-color: #E5F1C2;
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-size: 8pt;
	color: #000000;
}

.tr1 
{

}

.td1 
{
	height:235px;
	width: 245px;
	background-color:#D6E3EF;
}

.td2 
{
	width:328px;
	background-image: url(ahImages/homeRight.png);
}

.tb1
{
	width:86%;
	height:130px;
	border:0;
}

.tb2 
{
	width:290px;
	height:100px;
	border:0;
	border-right: 0px Solid #D3DBE3; 
	border-bottom: 0px Solid #D3DBE3; 
	border-left: 0px Solid #68786F; 
	border-top: 0px Solid #68786F;
}

.nb 
{
	width:59px;
	height:23px;
}

.err 
{
	color:Red;
}

.tryagain 
{
	color:Black;
}