<applet code="com.labescape.config.awtui.Applet.class" name="com.labescape.config.awtui.Applet" codebase="rdTemplate/rdHeatmap/" archive="treemap-2.1.5.jar,logixml.jar" height="rdAppletHeight" width="rdAppletWidth" border="0" id="rdAppletID" >
	<param name="config@files" value="rdReportConfig?.xml,rdTemplate/rdHeatmap/license.xml" />
	<param name="config.schema@files" value="rdTemplate/rdHeatmap/schema-awt.xml" />
	<param name="applet.config@paths" value="" />
</applet>