body
{
	background: url(../_Images/MochaBg.gif) top;
	color: #000000;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	vertical-align : middle;
	text-align : center;
   font-family: Helvetica, Arial, Serif;  
   font-size: 9pt;
}

TD {
	color: Black;
	background-color : #FFFFFF;
}	

A	{	
	font-family: Helvetica, Arial, Serif;
	}	

A:link	{	
	text-decoration:	none;
	color:	#a0410d;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#a0410d;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#a0410d;
	}	
		
A:hover	{
	text-decoration:underline;
	color: #da5b15;
	}

IMG 	{
   border: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}

	
.pageTitle	{
	background: transparent;
	color: #5e5957;
	font: bold 14pt Helvetica, Arial, Serif;
	height: 75px;
	padding-left: 20pt;
	padding-right: 0pt;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 100%;
}	
	
.pageTitleLeft	{
	background: transparent;
	color: #5e5957;
	font: bold 16pt Helvetica, Arial, Serif;
	height: 75px;
	padding-left: 20pt;
	padding-right: 0pt;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 100%;
	text-align:left;
}

.pageTitleRight	{
	background: transparent;
	color: #787472;
	font: 11pt Helvetica, Arial, Serif;
	height: 75px;
	text-align: right;
	padding-right: 33px;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 100%;
	text-align:left;
}

.pageDescription {
	font: 8pt Verdana;
}

.footer
{
    text-align: Center;
    font-family: Helvetica, Arial, Serif;  
    color: #4b4341;  
    font-size: 9pt;
    padding-left: 5px;
}

.footCenter
{
    text-align: Center;
    font-family: Helvetica, Arial, Serif; 
    color: #333333;  
    font-size: 9pt;
    padding-left: 5px;
}

.boldCenter
{
    text-align: Center;
    font-weight: bold;
    font-color: black;
}

.bold
{
    font-weight: bold;
}

.red
{
	color : #790000;
}

.Orange
{
	color : #f7941d;
}

.blue
{
	color : #2881b2;
}

.green
{
	color : #486226;
}

.Brown {
	color : #ad9551;
}


.listTable
{
	font-family: Helvetica, Arial, Serif;
	color: Black;
	font-size: 8pt;
	background-color : #e3e1df;
	margin-left : auto;
	margin-right : auto;
}

TH.listTable
{
	background-color : #c3bcb3;
	color: #333333;
	font: bold 10pt 
	font-family: Helvetica, Arial, Serif; 
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.listTable
{
	color: Black;
	background-color : #F5F5F5;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

SPAN.listTable
{
	font-family: Helvetica, Arial, Serif;
	color: Black;
	background-color : #f7f7f7;
	padding-bottom : 0;
	padding-left : 0;
	padding-right : 0;
	padding-top : 0;
}

.paging {
	background-color: #ffffff;
	padding-left: 3px;
	font-family: Helvetica, Arial, Serif;
	color: Black;
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
	margin-bottom : 10px;
	vertical-align : middle;
}

.buttons {
	margin-left : 15px;
}

.filterBg	{
	background: #ffffff;
	margin-top:35px;
	padding-top:2px;
	border: 0;
	border-bottom: solid 3px #EBE4DB;
	/*padding-bottom: 8px;*/
	text-align:left;
}
/*
.filterBg TD {
	background: #ffffff;
}
*/
.filterBtn	{
	background: #ddd8d1;
	color: #4b4341;
	font: bold 9pt Helvetica, Arial, Serif;
	border-top : 1 solid #b9b2aa;
	border-right : 1 solid #4b4341;
	border-bottom : 1 solid #4b4341;
	border-left : 1 solid #b9b2aa;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: hand;
}



/* Form Items */

.txt	{
	font: 8pt Helvetica, Arial, Serif;
	color: #000000;
	width : 180px;
	vertical-align: top;
}

.rtxtCaption	{
	color: #000000;
	font: bold 8pt Helvetica, Arial, Serif;
	margin-left: 1px;
	margin-right: 1px;
	width : 150px;
	vertical-align: top;
}

.dt	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 163px;
	vertical-align: top;
}

.txta	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 186px;
	vertical-align: top;
}

/* uncomment the next line to make any listbox or dropdownlist wider */
/*.txta	{ width: 450px; }*/

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

.bottom {
	vertical-align: bottom;
}

.gHeader
{
	background-color: #4b4341;
	color: #FFFFFF;
	font: bold 8pt Helvetica, Arial, Serif;
	text-align: center;
	padding-right: 5px;
	padding-top: 5px;	
	padding-left: 5px;
	padding-bottom: 5px;	
}

.gSummary
{
	background-color: #FFFFFF;
   font-weight: bold;
	text-align: right;
	padding-right: 4px;		
}

.objectTitle
{
    font-family: Helvetica, Arial, Serif;  
    color: #000000;  
    font-size: 12pt; 	    
    font-weight: bold;
}

.summaryRow
{
	font-family: Helvetica, Arial, Serif;
	color: Black;
	font-size: 9pt;
   font-weight: bold;
}

.paramCaption 
{
    width:150px;
	color: #000000;
	font: bold 8pt Helvetica, Arial, Serif;
	margin-left: 5px;
	vertical-align: top;
}

.rtxtCaptionSmall {
	color: #000000;
	font: bold 8pt Helvetica, Arial, Serif;
	margin-left: 10px;
	margin-right: 1px;
	width : 35px;
	vertical-align: top;
}

.paramColumn, .paramSmallColumn
{
	vertical-align: top;
}

table
{
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	font-family: Helvetica, Arial, Serif;
	font-size: 10pt;
}

.title
{
	background-color: White;
	font-weight: bold;
	color: black;
}

.redtext
{
	color: red;
}

.AlignLeft
{
	text-align: Left;
	font-family: Helvetica, Arial, Serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;
}

TH.AlignLeft
{
	background-color : #0a67b5;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.AlignLeft
{
	padding-left : 5px;
}

.AlignCenter
{
	text-align: center;
	font-family: Helvetica, Arial, Serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;

}

TH.AlignCenter
{
	background-color : #0a67b5;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.AlignCenter
{
	padding-right : 5px;
}

.AlignRight
{
	text-align: right;
	font-family: Helvetica, Arial, Serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;
}

TH.AlignRight
{
	background-color : #0a67b5;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}


TD.AlignRight
{
	padding-right : 5px;
}

.imageAlignLeft
{
	float: left;
	clear: both;
}

.imageAlignRight
{
	float: right;
	clear: both;
}

.imageAlignCenter
{
	display: block;
	float: none;	
	clear: both;
}

.BlackTextYellowBackground
{
            color: Black;
            background-color: Yellow !important;
}

.WhiteTextGreenBackground
{
            color: White;
            background-color: #65CB91 !important;
}

.ExportLeftSide {
            background: url(../_Images/ExportLeft.gif);
            height: 56px;
}

.ExportBg {
            background: url(../_Images/ExportCenter.gif);
            height: 56px;
}

.ExportRightSide {
            background: url(../_Images/ExportRight.gif);
            height: 56px;
}

.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

TH.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

.ExtraHeaderRowCells
{
	background-color : #c3bcb3;
	color: #333333;
	font: bold 10pt 
	font-family: Helvetica, Arial, Serif; 
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.imageCollapseExpand
{
	padding-right:2px;
	padding-top:2px;
	float: right;
	clear: both;
}
  
.tblCenter 
{
    margin-left:auto;
    margin-right:auto;
}


.AltRow TD
{
	background-color : #EBE4DB;
}

#Report {margin-top:35px;}
