body
{
	background: url(../_Images/NatureBg.jpg) top left;
	color: #000000;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	vertical-align : middle;
	text-align : center;
   font-family: Verdana;  
   font-size: 9pt;
}

TD {
	color: Black;
	/*background-color : #FFFFFF;*/
}	

A	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}	

A:link	{	
	text-decoration:	none;
	color:	#29729b;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#29729b;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#894852;
	}	
		
A:hover	{
	text-decoration: underline;
	color:#086069;
}

IMG 	{
   border: 0;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}

	
.pageTitle	{
	background: url(../_Images/NaturePageTitleBg.jpg) top left;
	color: #FFFFFF;
	font: bold 10pt Verdana, Arial;
	height: 75px;
	padding-right: 30px;
	padding-top: 3px;
	margin-right: 0px;
	margin-bottom: 1px;
	border-bottom-color : #d1cb2d;
	border-bottom-style : solid;
	border-bottom-width : 5px;
	width: 100%;
}

.pageTitleLeft	{
	background: url(../_Images/NaturePageTitleBg.jpg) top left;
	color: #FFFFFF;
	font: bold 15pt Verdana, Arial;
	height: 75px;
	padding-left: 16pt;
	padding-right: 0pt;
	padding-top: 2px;
	margin-right: 0px;
	margin-bottom: 1px;
	border-bottom-color : #d1cb2d;
	border-bottom-style : solid;
	border-bottom-width : 5px;
	width: 100%;
	text-align:left;
}

.pageTitleRight	{
	background: url(../_Images/NaturePageTitleBg.jpg) top left;
	color: #FFFFFF;
	font: bold 10pt Verdana, Arial;
	height: 75px;
	text-align: right;
	padding-right: 30px;
	padding-top: 3px;
	margin-right: 0px;
	margin-bottom: 1px;
	border-bottom-color : #d1cb2d;
	border-bottom-style : solid;
	border-bottom-width : 5px;
	width: 100%;
	text-align:left;
}

.pageDescription {
	font: 8pt Verdana;
}

.footer
{
    text-align: Center;
    font-family: Verdana;  
    color: #455f87;  
    font-size: 9pt;
    padding-left: 5px;
}

.footCenter
{
    text-align: Center;
    font-family: Verdana;  
    color: #333333;  
    font-size: 9pt;
    padding-left: 5px;
}

.boldCenter
{
    text-align: Center;
    font-weight: bold;
    font-color: black;
}

.bold
{
    font-weight: bold;
/*	 color: #9a9326;*/
}

.red
{
	color : #790000;
}

.Orange
{
	color : #f7941d;
}

.green
{
	color : #4a6528;
}

.listTable
{
	font-family: Verdana;
	color: Black;
	font-size: 8pt;
	background-color : #adc38a;
	margin-left : auto;
	margin-right : auto;
}

TH.listTable
{
	color: White;
	background-color : #84a648;
	font: bold 10pt; 
	font-family: Verdana, Arial; 
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

TD.listTable
{
	color: Black;
	background-color : #F5F5F5;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}
.listTable TD 
{
    background-color: White;
}

.listTable TH A 
{
    color: #ffe454;
}

.listTable TD A 
{
    color: #619e15;
}

SPAN.listTable
{
	font-family: Verdana;
	color: Black;
	background-color : #F5F5F5;
	padding-bottom : 0;
	padding-left : 0;
	padding-right : 0;
	padding-top : 0;
}

.paging {
	/*background-color: #f9f7de;*/
	padding-left: 3px;
	font-family: Verdana;
	color: Black;
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
	margin-bottom : 10px;
	vertical-align : middle;
}


.buttons {
	margin-left : 15px;
}

.filterBg	{
	background: #e8ecd6;
	padding-top:2px;
	padding-bottom: 8px;
	text-align:left;
}

.filterBg TD {
	background: #e8ecd6;
}

.filterBtn	{
	background: #D7E1EC;
	color: #214973;
	font: bold 9pt Verdana;
	border-top : 1 solid #e3de9d;
	border-right : 1 solid #b7b057;
	border-bottom : 1 solid #b7b057;
	border-left : 1 solid #e3de9d;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: hand;
}

/* Form Items */

.txt	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 180px;
	vertical-align: top;
}

.rtxtCaption	{
	color: #000000;
	font: bold 8pt Verdana, Arial, Helvetica, sans-serif;
	margin-left: 1px;
	margin-right: 1px;
	width : 150px;
	vertical-align: top;
}

.rtxtCaptionSmall {
	color: #000000;
	font: bold 8pt Verdana, Arial, Helvetica, sans-serif;
	margin-left: 10px;
	margin-right: 1px;
	width : 35px;
	vertical-align: top;
}

.dt	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 163px;
	vertical-align: top;
}

.txta	{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width : 186px;
	vertical-align: top;
}

/* uncomment the next line to make any listbox or dropdownlist wider */
/*.txta	{ width: 450px; }*/

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

.bottom {
	vertical-align: bottom;
}

.gHeader
{
	background-color: #ffe454;
	color: #587a2d;
	font: bold 8pt Verdana, Arial;
	text-align: center;
	padding-right: 5px;
	padding-top: 5px;	
	padding-left: 5px;
	padding-bottom: 5px;	
}

TD.gHeader 
{
	background-color: #ffe454;
}

.gSummary
{
	background-color: #FFFFFF;
   font-weight: bold;
	text-align: right;
	padding-right: 4px;		
}

.objectTitle
{
    font-family: Verdana, Arial, Helvetica, sans-serif;  
    color: #000000;  
    font-size: 12pt; 	    
    font-weight: bold;
}

.summaryRow
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: Black;
	font-size: 8pt;
   font-weight: bold;
}

.paramCaption 
{
    width:150px;
	color: #000000;
	font: bold 8pt Verdana;
	margin-left: 5px;
	vertical-align: top;
}

.paramColumn, .paramSmallColumn
{
	vertical-align: top;
}

table
{
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.title
{
	background-color: White;
	font-weight: bold;
	color: #FFFFFF;
}

.redtext
{
	color: red;
}

.AlignLeft
{
	text-align: Left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;
}


TH.AlignLeft
{
	background-color : #f1f467;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}


TD.AlignLeft
{
	padding-left : 5px;
}



.AlignCenter
{
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;

}


TH.AlignCenter
{
	background-color : #f1f467;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}


.AlignRight
{
	text-align: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-left : 5;
	padding-right : 5;
}


TH.AlignRight
{
	background-color : #f1f467;
	font-weight : bold;
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}


TD.AlignRight
{
	padding-right : 5px;
}

.imageAlignLeft
{
	float: left;
	clear: both;
}

.imageAlignRight
{
	float: right;
	clear: both;
}

.imageAlignCenter
{
	display: block;
	float: none;	
	clear: both;
}

.BlackTextYellowBackground
{
            color: Black;
            background-color: Yellow !important;
}

.WhiteTextGreenBackground
{
            color: White;
            background-color: #65CB91 !important;
}

.ExportLeftSide {
            background: url(../_Images/ExportLeft.gif);
            height: 56px;
}

.ExportBg {
            background: url(../_Images/ExportCenter.gif);
            height: 56px;
}

.ExportRightSide {
            background: url(../_Images/ExportRight.gif);
            height: 56px;
}

.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

TH.summaryRowTop
{
	color: Black;
	background-color : #FFFFFF;
}

.ExtraHeaderRowCells
{
	color: White;
	background-color : #84a648;
	font: bold 10pt 
	font-family: Verdana, Arial; 
	padding-bottom : 5;
	padding-left : 5;
	padding-right : 5;
	padding-top : 5;
}

.imageCollapseExpand
{
	padding-right:2px;
	padding-top:2px;
	float: right;
	clear: both;
}
  
.tblCenter 
{
    margin-left:auto;
    margin-right:auto;
}


.AltRow TD
{
	background-color : #FAF9E7;
}
