.drawableoverlay {
	background-color: #3af778;
	border: 2px solid #2b770d;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.drawableoverlay-hidden {
	visibility: hidden;
}