body 
{
    margin:0; padding:0; background-color:White;
    font: 10pt Verdana;
    color: #000000;
}

P {font-size: 10pt;}

A {
color:#254974;
text-decoration: underline;
}

A:hover {
text-decoration: none;
}

h4, h2 {
color: #000000;
font-family: verdana, arial, Helvetica, sans-serif;
font-size: 11pt;
font-weight: bold;
text-decoration: none;
}

.logo 
{
    background-color:#E4E4E4; height:50px;
}

.link {
	color: #FFFFFF;
	padding: 5px 5px 5px 5px;
	background-color: green;/*#254974;*/
	font-family: verdana, arial, Helvetica, sans-serif;
	/*font-size: 9pt;*/
	text-decoration: none;
	float: left;
}

.title {
color: #000000;
font-family: verdana, arial, Helvetica, sans-serif;
font-size: 11pt;
font-weight: bold;
text-decoration: none;
}

.MsoNormalCxSpMiddle {font: 10pt Verdana;}

.copyright { font-size:8pt;}

.Arial 
{
    font-family: Arial;
    font-size:10pt;
    font-weight: bold;
}
